span.cm-math-keyword {color: #90b;}
span.cm-math-atom {color: #291;}
span.cm-math-variabledef {color: #00f;}
span.cm-math-localvariable {color: #049;}
span.cm-math-variable {color: #049;}
span.cm-math-funccall {color: #0aa;}
span.cm-math-comment {color: #a70;}
span.cm-math-string {color: #a22;}

