// Include bootstrap scss functions (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// Theme colors
$primary: #800;
$info: #c30;

// Link colors
$link-color: $primary;
$link-hover-color: #c00;

// Webwork logo background color in the banner
$ww-logo-background-color: darken($info, 8%);

// Achievment level bar
$ww-achievement-level-color: #08c;
