@import "webwork.css";

#hw-set-list-container {margin: 20px 15px;  padding:10px;}


#calendar-table {border: 1px solid black; border-collapse: collapse; background: lightgray;}
#calendar-table td {border: 1px solid black; width: 13%;  vertical-align: top;}

.calendar-day {z-index: 5;}

.month-view {height: 100px;}
.week-view {height: 200px;}

.this-month {background-color: lightyellow}
.today {background-color: pink}
.highlight-day { border: 2px solid black; background-color: lightblue;}

.assign-open {background-color: lightgreen;}
.assign-due {background-color: red;}

.assign-reduced-credit {background-color: rgb(255,128,0);}

.assign-not-visible {background-color: darkgray;}

.assign-calendar-name {font-size: 90%;}

.assign-info {cursor: pointer;}

.help-hidden {display: none;}

.empty {background-color: none;}

.assign {text-align: center;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
cursor: move;
border: 1px gray solid;
margin: 1px;}

.dropdown-submenu a {width: 180px; overflow: hidden;}

/* the num-users in the left-column */

.num-users { margin-left: 2ex;}

.not-visible {font-style: italic;}

.assign-set-name {cursor: pointer;}

.assign-filled {height: 30px; background-color: rgb(250,100,100)}


.calendar-button-row {margin: 20px;}

//.list {list-style: none;}

.lib-problem-viewer { overflow: scroll;}

.target-set {width: 100%}

.scrollable {overflow: scroll;}

.num-problems {margin-left: 10px;}

.view-pane {display: none;}
.view-header {display: none; font-size:125%; font-weight: bold;}

.active {display: block;}

.no-bullets {list-style-type: none;}

label.checklist {display: inline; margin-left: 8px;}

.hw-assigned {color: blue;}

#probSetList {margin:0}
.prob-set-container {overflow-y: scroll; width: 100%;}
.prob-value {width: 20px;}

.loading {background-color: orange;}

.problem-set-name {font-size: 125%;}

.problem-set-header-row .btn-toolbar {margin-top: 0px;}


