

select{
    height:auto;
    width:auto;
    margin:0px;
}

#problems_container{
    overflow:auto;
    height:100%;
    -webkit-overflow-scrolling: touch;
}

#homework_sets_container{
    overflow:auto;
    height:100%;
    -webkit-overflow-scrolling: touch;
}

#homework_sets_container ul li{
    cursor: pointer;
    white-space:nowrap;
}

#homework_sets_container ul li:hover{
    text-decoration: underline;
}

ul.list{
    list-style:none;
}

ul.list li{
    border-bottom: solid lightgray;
    margin-bottom: 5px;
}

.next_group{
    cursor: pointer;
    color: slategrey;
}

.handle{
    float:right;
}

.contains_problem{
    background: aliceblue;
}

.syncing:after{
    content: url("/webwork2_files/images/ajax-loader-small.gif");
}
.syncing.white:after{
    content: url("/webwork2_files/images/ajax-loader-white-small.gif");
}

.drophover{
    background: greenyellow;
}