.Body{
    padding: 20px;
}

#calendar-table {border: 1px solid black; border-collapse: collapse; background: lightgray;}
#calendar-table td {border: 1px solid black; width: 13%;  vertical-align: top;}

.month-view {height: 100px;}
.week-view {height: 200px;}

.this-month {background-color: lightyellow}
.today {background-color: orange}
.highlight-day { border: 2px solid black; background-color: green;}

.assign-open {background-color: rgb(180,180,255);}

.assign-reduced-credit {background-color: rgb(255,128,0);}

.empty {background-color: none;}

.assign { border-left: -2px; border-right: -2px; height: 15px;  width: 103%; margin-top: 2px; margin-bottom: 2px;
float: left; display: table-cell; vertical-align: bottom;  z-index: 2; font-size: 13px;}

.assign-set-name {cursor: pointer;}

.calendar-button-row {margin: 20px;}

.list {list-style: none;}

.lib-problem-viewer { overflow: scroll;}

.prob-list {overflow: scroll;}

.num-problems {margin-left: 10px;}

.view-pane {display: none;}
.view-header {display: none; font-size:125%; font-weight: bold;}

.active {display: block;}




