div#problem_container{
	height:100%;
	width:100%;
}

div#problem_sets{
	float:left;
	height:100%;
	width:250px;;
	border:solid 1px black;
}

div#problem_sets span{
	float:left;
	width:100%;
	height:100%;
}

select#myset_sets{
	float:left;
	height:100%;
	width:100%;
}

.button, button {
   border: 1px solid #ccccee;
   background: #dedede;
   padding: 5px 5px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #000000;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
   }
.button:hover, button:hover {
	border: 1px solid #000000;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   }
.button:active, button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
 #size_slider{
 	float:left;
 	text-align:center;
 	width:10px;
 	height:100%;
 	background:green;
 }
 
 #horizontal_slider{
 	background:green;
 }
 
 .break{
 	clear:both;
 	padding:0px;
 	margin:0px;
 }
 
 #problem_sets_container{
 	float:left;
 }
 
 #problems_container{
 	float:left;
 }
 
 #problems{
 	height:100%;
 	width:100%;
 	border: solid 1px black;
 }


#help{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border:solid 1px black;
}
/*div#editor-form{
  min-width:768px;
  width:100%;
}


div#control_panel{
  float:left;
  width:100%;
  margin-bottom:5px;
  padding-bottom:0px;
  padding-top:5px;
  border:solid 1px;
}

div#library_control{
  overflow:auto;
  height:auto;
  float:right;
}
div.control{
  height:auto;
  margin:0.1%;
}

div#myset_control{
  float:left;
}

div.setSelector{
  height:163px;
  margin-bottom:20px;
  overflow:auto;
}

div.setSelectorLib{
  overflow:auto;
  display:none;
}

div#problem_container{
  width:100%;
  float:left;
}

div.mysets{
  float:left;
  background:#ffffff;
  margin-top:0px;
}

div.setmaker_library{

  margin-top:0px;
  float:right;
  background-color:#EEFFFF;

}

div.problemList{
  position:relative;
  overflow:auto;
  min-height:100px;
  height:90%;
  border:solid 1px;
  padding:0.1%;
  margin:0px;
}

div#mysets_problems div.myProblem:last-child {
  margin-bottom:200px;
}

div.problem{
  background:rgba(255,255,255,0.75);
  border-bottom:solid 1px;
  margin-bottom:5px;
  overflow:hidden;
}

div.used{
  background:rgba(0, 102, 102,0.8);
}

div.libProblem{
  background:rgba(0,0,204,0.5);
}

div.removedProblem{
  background:rgba(204,0,0,0.8);
}

div.ResultsWithError{
  background:rgba(225,225,0,0.9);
}


select#myset_sets{
  background:none;
  height:180px;
}

div#size_slider{
  float:left;
  width:1%;
  text-valign:center;
  text-align:center;
  height:90%;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  margin:0;
  margin-top:235px;
  padding:0;
}

div#horizontal_slider{
  height:15px;
  text-align:center;
  width:100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  margin:0;
  padding:0;
  position:absolute;
  background:white;
}

div#size_slider:hover{
  cursor:col-resize;
}

div#horizontal_slider:hover{
  cursor:row-resize; 
}

div#size_slider p{
  position:relative;
  top:50%;
  width:100%;
  margin-top:-10px;
}
.shadowed{
  -moz-box-shadow: 1px 1px 4px 2px gray; 
  -webkit-box-shadow: 1px 1px 4px 2px gray; 
  box-shadow: 1px 1px 4px 2px gray; 
}


*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

div#loading{
  position:fixed;
  height:100%;
  width:100%;
  background-color:white;
  background-image:url('/webwork2_files/images/ajax-loader.gif');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  top:0;
  left:0;
  z-index:2000;
}

div#loading img{
}

div#create_new_set{
  background:white;
  position:absolute;
  height:300px;
  width:300px;
  margin:0 auto;
  z-index:200;
  display:none;
}
span.js_action_span{
  text-decoration:underline;
}
span.js_action_span:hover{
  cursor:pointer;
}

div#set_maker_two_box{
  clear:both;
  float:left;
}
*/