div#editor-form{
  min-width:768px;
  width:100%;
}

/*Control Pannel Style*/
div#control_panel{
  float:left;
  width:100%;
  margin-bottom:5px;
  padding-bottom:0px;
  padding-top:5px;
  border:solid 1px;
  /*-moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;*/
}

div#library_control{
  overflow:auto;
  height:auto;
  float:right;
}
div.control{
  height:auto;
  margin:0.1%;
}

div#myset_control{
  float:left;
}

div.setSelector{
  height:163px;
  margin-bottom:20px;
  overflow:auto;
}

div.setSelectorLib{
  /*height:1px;
  overflow:auto;*/
  display:none;
}
/*End Control Panel Style*/

/*Problem Lists Style*/
div#problem_container{
  width:100%;
  float:left;
}

div.mysets{
  float:left;
  background:#ffffff;
  margin-top:0px;
  /*min-width:200px;
  width:24%;*/
}

div.setmaker_library{
  /*margin-left:305px;*/
  margin-top:0px;
  float:right;
  background-color:#EEFFFF;
  /*min-width:550px;
  width:71%;*/
}

div.problemList{
  position:relative;
  overflow:auto;
  min-height:100px;
  height:90%;
  border:solid 1px;
  /*-moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;*/
  padding:0.1%;
  margin:0px;
}
/*add extra space at the bottom 
so we can add at end of list*/
/* div#mysets_problems{

} */

div#mysets_problems div.myProblem:last-child {
  margin-bottom:200px;
}

/*order is important here*/
div.problem{
  background:rgba(255,255,255,0.75);
  border-bottom:solid 1px;
  margin-bottom:5px;
  overflow:hidden;
}

div.used{
  background:rgba(0, 102, 102,0.8);
}

div.libProblem{
  background:rgba(0,0,204,0.5);
}

div.removedProblem{
  background:rgba(204,0,0,0.8);
}

div.ResultsWithError{
  background:rgba(225,225,0,0.9);
}


/*End Problem Lists Style*/

select#myset_sets{
  background:none;
  height:180px;
}

div#size_slider{
  float:left;
  width:1%;
  text-valign:center;
  text-align:center;
  height:90%;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  margin:0;
  margin-top:235px;
  padding:0;
}

div#horizontal_slider{
  height:15px;
  text-align:center;
  width:100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  margin:0;
  padding:0;
  position:absolute;
  background:white;
}

div#size_slider:hover{
  cursor:col-resize;
}

div#horizontal_slider:hover{
  cursor:row-resize; 
}

div#size_slider p{
  position:relative;
  top:50%;
  width:100%;
  margin-top:-10px;
}
.shadowed{
  -moz-box-shadow: 1px 1px 4px 2px gray; /* FF3.5+ */
  -webkit-box-shadow: 1px 1px 4px 2px gray; /* Saf3.0+, Chrome */
  box-shadow: 1px 1px 4px 2px gray; /* Opera 10.5, IE 9 */
}


*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

div#loading{
  position:fixed;
  height:100%;
  width:100%;
  background-color:white;
  background-image:url('/webwork2_files/images/ajax-loader.gif');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  top:0;
  left:0;
  z-index:2000;
}

div#loading img{
}

div#create_new_set{
  background:white;
  position:absolute;
  height:300px;
  width:300px;
  margin:0 auto;
  z-index:200;
  display:none;
}
span.js_action_span{
  text-decoration:underline;
}
span.js_action_span:hover{
  cursor:pointer;
}

div#set_maker_two_box{
  clear:both;
  float:left;
}
