@import "webwork.css";

#users_table td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
#users_table th { background: #E5E5E5; text-align: left; font-size: 90%; padding: 5px;}
#users_table td {font-size: 90%;}

label {font-weight: bold; display: inline; margin-right: 20px;}
#mainActionMenu {width: 200px;}
#testButton {margin-left: 25px; margin-right: 25px;}
#selectalldiv {display: inline; margin-left: 25px; margin-right: 25px;}
#filterdiv {display: inline;}

#man_student_table {border: 1px solid black; border-collapse: collapse; width: 95%; }
#man_student_table th{ border: 1px solid black; background: lightgray; }
            
#man_student_table td { border: 1px solid black; height: 2.5ex;}
#man_student_table input {width: 10ex;}

div.dialog {display: none;}


div.noty_message {position: relative;}
div.noty_text {position: abosolute; width: 80%; left: 10px; top: 10px;}
div.noty_close {position: absolute; right: 2px; top: 2px;}

table.usersTableClass td input {margin: 0px; padding: 0px; font-size: 12px; height: 20px;}

textarea#emailText {width: 95%;}

table#sTable {border: 1px solid black; border-collapse: collapse; margin:0 auto;}
table#sTable thead td:nth-child(1) {border: 1px solid black; width:17px;}
table#sTable thead td {border: 1px solid black; 175px;}
div#studentTable {width: 100%; overflow-x: auto;}
	    
table#inner-table {border: none; padding: 0px; margin: 0px; border-collapse: collapse;}
table#inner-table td:nth-child(1) {width: 20px; border: 1px solid black;}
table#inner-table td {border: 1px solid black; word-break:break-all;}
	   
div.inner {overflow-y: auto;  height: 400px;}

table#sTable select {width: 150px;}


	    