.Body{
    padding: 10px;
    padding-top: 50px;

}

#navigation-menu { width: 250px;}


.breadcrumb {padding: 2px 15px ;}  //overrides the bootstrap css



.sortable-placeholder {border: 1px solid black; background-color: lightyellow;}