.Body{
    padding: 10px;
    padding-top: 50px;

}

#navigation-menu { width: 250px;}



.breadcrumb {padding: 2px 15px ;} 

.sortable-placeholder {border: 1px solid black; background-color: lightyellow;}

/* a wwdate is generally an input and we want to make it look like a span */

.wwdate { width: auto; border: none;}

.header {font-weight: bold;}

.collection-table th {font-color: darkblue; cursor: pointer;}

.paginator-row td {text-align: "center";}

.current-page {font-weight: bold;}

/* styling for the message box */

#short-message {padding-top: 4px; padding-bottom: 4px; margin-top: 5px; line-height: 16px; display: none;}

#message-pane {
	position: absolute; 
	width: 600px; 
	height:	300px; 
	top: 50px; 
	right: 5px;
	z-index: 100;
	display: none;
	opacity: 0.92;
	background-color: white;
	}


