/******************/
/* gateway styles */
/******************/

/* update margins to reflect missing left column */
#breadcrumbs { margin-left: .5em }
#content { margin-left: .5em }
#footer { margin-left: .5em }

.problem-content {
  border: 0px;
}


hr { clear: both; }

div.gwMessage { background-color:#dddddd; color: black; }
div.gwTiming {
        background-color:#ddddff;
        color: black;
        margin-top: 10px;
        margin-bottom: 0px;
}
div.gwWarning { background-color:#ffffdd; color: black; }

/* Louis Zulli's IE6 non-fixed positioning workaround follows */
div#gwTimer {
	background-color:#ffeeaa;
	color: black;
	font-family: Times serif;
	position: absolute; /* IE<7 sees this */
	width: 15em;
	right: 4em;
	top: 4em;
	border: dashed black 1px;
	padding: 3px;
	text-align: center;
	z-index: 2;
} 
html>body #gwTimer {
	position: fixed; /* IE 7 and other browsers see this */
}
div#gwScoreSummary {
	background-color:#fcfccc;
	color: black;
	font-family:Times serif;
	z-index: 1;
	font-size: 85%;
	border: black 3px outset;
	width: 15em;
	top: 8em;
	right: 2em;
	padding: 3px;
	position: absolute;
}

#gwScoreSummary table {
    border:0;
}

#gwScoreSummary table td {
    margin-left:.1em;
}

html>body #gwScoreSummary {
	position: fixed; /* IE 7 and other browsers see this */
}

span.resultsWithError { background-color: #ffcccc; color: black; }
span.resultsWithoutError { background-color: #66ff99; color: black; }
div.gwCorrect { background-color: #66ff99; color: black; }
div.gwIncorrect { background-color: #ff9999; color: black; }

div.gwProblem {
        clear: both;
        background-color: #E0E0E0;
        color: black;
        padding: 3px;
        border: solid black 1px;
}

.gwProblem h3 {
 display: inline;
 font-size: 16px;
 margin-right: 5px;
}


div.gwSoln {
/*      background-color: #e0e0ff; */
        background-color: transparent;
        color: black;
/*      padding: 2px; */
/*      border: dashed black 1px; */
}
div.gwSoln b { color: navy; }

p.gwPreview {
        font-size: smaller;
        text-align: right;
        margin-top: 0px;
        margin-bottom: 0px;
}

table.gwAttemptResults {
    margin: 5px;
    border: solid black 1px;
}

table.gwAttemptResults th,
table.gwAttemptResults td {
	padding: 5px;
	border: solid black 1px;
	background-color: #eeeeee;
}

div.gwPrintMe { 
	width: 25%;
	float: right;
	margin-top: 2em;
	margin-right: 1em;
/*	position: relative;
	left: 65%;
	top: -1em;
	z-index: 1; */
/*	margin-left: auto;
	margin-right: 2em;
	margin-top: 3px; */
	border: dashed black 1px;
	padding: 3px;
	color: black;
	background-color: #e0e0ff;
}
