@import "webwork.css";

#hw-set-list-container {margin: 20px 15px;  padding:10px;}

a#view-header i {margin-left:1ex;}


/* Calendar related styles: */

#calendar-table {border: 1px solid black; border-collapse: collapse; background: lightgray;}
#calendar-table td {border: 1px solid black; width: 13%;  vertical-align: top;}

.calendar-day {z-index: 5;}

.month-view {height: 100px;}
.week-view {height: 200px;}

.this-month {background-color: lightyellow}
.today {background-color: pink}
.highlight-day { border: 2px solid black; background-color: lightblue;}

.assign-answer {background-color: lightblue;}
.assign-open {background-color: lightgreen;}
.assign-due {background-color: red;}

.assign-reduced-credit {background-color: rgb(255,128,0);}

.assign-not-visible {background-color: darkgray;}

.assign-calendar-name {font-size: 90%;}

.assign-info {cursor: pointer;}

.assign {text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: move;
	border: 1px gray solid;
	margin: 1px;}

#calendar-table th {border: 1px solid black;}

.calendar-button-row {margin: 20px;}

/* Help with the spacing in the top row */

#page-header h2 {font-size: 24px; line-height: 28px; margin: 0px; display: inline-block;}



.help-hidden {display: none;}

.empty {background-color: none;}


.dropdown-submenu a {width: 180px; overflow: hidden;}

/* the num-users in the left-column */

.num-users { margin-left: 2ex;}

.set-not-visible {font-style: italic;}
.set-visible {font-weight: bold;}
.set-reduced-credit {color: rgb(217,115,52);}

.assign-set-name {cursor: pointer;}

.assign-filled {height: 30px; background-color: rgb(250,100,100)}


/*.list {list-style: none;} */

.lib-problem-viewer { overflow: scroll;}



.scrollable {overflow: scroll;}

.num-problems {margin-left: 10px;}

.view-pane {display: none;}
.view-header {display: none; font-size:125%; font-weight: bold;}

.active {display: block;}

.no-bullets {list-style-type: none; margin: 0;}

label.checklist {display: inline; margin-left: 8px;}

.hw-assigned {color: blue;}

#probSetList {margin:0}
.prob-set-container {overflow-y: scroll; width: 100%;}
.prob-value {width: 20px;}

.loading {background-color: orange;}

#problem-set-name h2 {font-size: 18pt; line-height: 20pt;}

.problem-set-header-row .btn-toolbar {margin-top: 0px;}

/* Styles for problem viewing */

.problem {border: 1px black solid;
padding: 5px;
border-radius: 5px;}

.filename {font-style: italic; font-weight:  bold;}
.problem-seed {margin-right: 2ex;}

/* class for reordering problem sets */

.sortable-placeholder {
	border: 1px dashed black; background: lightgray;
}

#main-row {position: absolute; top: 85px; bottom: 25px;}

#main-view {height: 100%; overflow: scroll;}

