<!DOCTYPE html>

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright Â© 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/math/system.template,v 1.11 2008/10/09 02:18:37 gage Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->


<html lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/webwork2_files/js/components/bootstrap/dist/css/bootstrap.css"/>
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
</head>


<!--<body bgcolor="white" onload="if (typeof(initializeWWquestion) == 'function') {initializeWWquestion()}">-->
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#"><!--#name--></a>
	  </div>
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav">
    		<li class="dropdown">
     		<div class="btn-group dropdown col-md-1" id="webwork_navigation" style="display: none">
		      <a href="#webwork_navigation" class="dropdown-toggle btn btn-default navbar-btn" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <!--#if can="links"-->
                <!--#links-->
            <!--#endif-->
        </div>
        </li>
    		<li>
    			<div class="btn-group">
	    			<button class="btn btn-default navbar-btn" id="help-link">Help</button>
	    			<a class="btn btn-warning navbar-btn" target="_blank" href="https://github.com/openwebwork/webwork2/issues/new">Bugs!</a>
	    			<button class='btn btn-default navbar-btn' href="#" id="msg-toggle"><i class="fa fa-comment-o fa-lg"></i></button>
    			</div>
    		</li>
    		<li>
    			<p class="nav-text" id="short-message">
    			</p>
    		</li>  			            
    	</ul>
    	<p class="navbar-text pull-right"><!--#loginstatus--></p>
    </div>
  </nav>
		
	    <!--#if can="body"-->
				<!--#if warnings="1"-->
				  <div class="Body" style="background-color:#ffcccc">
				  <p style="font-size:larger">
				  Warning -- there may be something wrong with this question. Please inform your instructor
				  including the warning messages below.
				  </p>
				<!--#else-->
				  <div class="Body" style="background-color:#ffffff">
				<!--#endif-->
				
				<!--#body-->
				</div>
			<!--#endif-->
		
		<!--#if warnings="1"-->
		    <div class="Warnings">
			    <!--#warnings-->
		    </div>
		<!--#endif-->
		
		<!--#if can="info"-->
			  		<!--  styles could be different for different pages so they are not set here -->
					<!--#info-->
		    	<!--#endif-->
	
	
	<div class="navbar-fixed-bottom navbar navbar-other" id="footer">
	<div class="container">	
		<!--#footer-->
		</div>
	</div>
	<!--#if can="output_JS"-->
<!--#output_JS-->
<!--#endif-->
</body>
</html>
