<!DOCTYPE html>

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright Â© 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/math/system.template,v 1.11 2008/10/09 02:18:37 gage Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->


<html lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/js/vendor/bootstrap/css/bootstrap.css"/>
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
</head>


<!--<body bgcolor="white" onload="if (typeof(initializeWWquestion) == 'function') {initializeWWquestion()}">-->
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
         	<div class="container">
         		<div class="dropdown span2" id="webwork_navigation" style="display: none">
	                  <a href="#webwork_navigation" class="dropdown-toggle btn hidden" data-toggle="dropdown">Menu <b class="caret"></b>
	                  	</a>
			     		<!--<ul class="dropdown-menu" id="navigation-menu"> -->
                    <!--#if can="links"-->
                        <!--#links-->
                    <!--#endif-->
                     <!--#if can="siblings"-->
                        <!--#siblings-->
                     <!--#endif-->
                     <!--#if can="options"-->
                        <ul>
                     	    <h2>Display Options</h2>
                     		<!--#options-->
                     	</ul>
                     <!--#endif-->
	            	  <!-- </ul> -->
                  </div>
		            
	    		<div class="span4">
            		<ul class="breadcrumb"> 
						<!--#path style="bootstrap" text="<span class='divider'>&#x2192;</span>"-->
					</ul>
				</div> 
				<div class="span2"><!--#loginstatus--></div>
	    		<div class="span2"><button class="btn" id="help-link">Help</button>
	    			<a class='btn btn-warning' target="_blank" href="https://github.com/pstaabp/webwork2-dev/issues/new">Bugs!</a>
    			</div>
   				
				            
          	</div>
        </div><!-- /navbar-inner -->
    </div>
		
	    <!--#if can="body"-->
				<!--#if warnings="1"-->
				  <div class="Body" style="background-color:#ffcccc">
				  <p style="font-size:larger">
				  Warning -- there may be something wrong with this question. Please inform your instructor
				  including the warning messages below.
				  </p>
				<!--#else-->
				  <div class="Body" style="background-color:#ffffff">
				<!--#endif-->
				
				<!--#body-->
				</div>
			<!--#endif-->
		
		<!--#if warnings="1"-->
		    <div class="Warnings">
			    <!--#warnings-->
		    </div>
		<!--#endif-->
		
		<!--#if can="info"-->
			  		<!--  styles could be different for different pages so they are not set here -->
					<!--#info-->
		    	<!--#endif-->
		

	<footer class="footer">
	    <div class="row-fluid"><span class="span4">Page generated at <!--#timestamp--></span>
	    <span class="span4">Styled using twitter bootstrap</span>
	    <span id="copyright" class="span4 pull-right">WeBWorK &#169; 2000-2012 <a href="http://openwebwork.sf.net/">The WeBWorK Project</a></span>
	    </div>
        </div>
    </footer>
	<!--#if can="output_JS"-->
<!--#output_JS-->
<!--#endif-->
</body>
</html>
