
<!DOCTYPE html>

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/math3/system.template,v 1.2 2008/06/26 19:46:02 gage Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->
<!--
	Now altered to carry out most of the output operations in Problem.pm, as well as call general output subroutines.
	-ghe3
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="<!--#url type="webwork" name="htdocs"-->/images/favicon.ico"/>
<!-- Minimal bootstrap for newer features -->
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math3/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/vendor/font-awesome/css/font-awesome.min.css"/>
<!--#if can="output_CSS"-->
	<!--#output_CSS-->
<!--#endif-->
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math3/math3.css"/>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/js/vendor/jquery/jquery.js"></script>
<!-- Minimal bootstrap for newer features -->
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/math3/bootstrap/js/bootstrap.js"></script>

<!--
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math3/codemirror2/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math3/codemirror2/mode/pg/pg.css">
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math3/codemirror2/mode/math/math.css">
-->
<!--#if can="output_jquery_ui"-->
	<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/jquery-ui-1.8.18.custom.css"/>
	<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/js/jquery-ui-1.9.0.js"></script>
<!--#endif-->

<!--#if can="output_achievement_CSS"-->
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math4/achievements.css"/>
<!--#endif-->
<!--#if can="output_tabber_CSS"-->
	<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/tabber.css"/>
<!--#endif-->

<!--#if can="output_JS"-->
	<!--#output_JS-->
<!--#endif-->
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
</head>
<body style="background-color: white;">
<!--#if can="output_wztooltip_JS"--> <!-- Please remind this -->
	<!--#output_wztooltip_JS-->
<!--#endif-->
<div id="masthead">
	<div id="loginstatus">
		<!--#loginstatus-->
	</div>
	<div id="logo">
                <a href="http://webwork.maa.org"><img src="<!--#url type="webwork" name="htdocs"-->/images/webwork_rectangle.png" alt="image link to webwork main web site" height="51" width="267" /></a>&nbsp;
                <a href="http://www.maa.org"><img src="<!--#url type="webwork" name="htdocs"-->/images/maa_logo.png" alt="image link to MAA (Mathematical Association of America) main web site" height="51" width="449" /></a>
	</div>
</div>
<hr class="for-broken-browsers"/>
<div id="big-wrapper">
	<div id="breadcrumbs">
		<!--#path style="text" text=" &#x2192; "-->
	</div>
	<div id="content" >
            <span style="margin-bottom:10px; font-size:larger; color:#00F; float:left;  width:60%;   ">
			<!--#if can="title"-->
				<!--#title-->
			<!--#endif-->
			<!--#if can="nav"-->
			    &nbsp;&nbsp;&nbsp;
				<!--#nav style="buttons" imageprefix="/webwork2_files/images/nav" imagesuffix=".gif" separator="  "-->
			
		    <!--#endif-->
            </span>
			<!--#if can="message"-->
				<span class="Message" style=" float:right; width:40%; right:0;">
					<!--#message-->
				</span>
			<!--#endif-->

		    <hr style="clear:both"/>
	

			<!--#if can="post_header_text"-->
				<!--#post_header_text-->
				<hr style="clear:both"/>
			<!--#endif-->

<!--			      ==============BEGIN BODY OF PROBLEM===============      -->
			<!--#if warnings="1"-->
				  <div class="Body" style="background-color:#ff0000">
				  <p style="font-size:larger">
				  Warning -- there may be something wrong with this question. Please inform your instructor
				  including the warning messages below.
				  </p>
				  </div>
             <!--#endif-->
             
		<!--#if can="output_tag_info"-->
			<!--#output_tag_info-->
		<!--#endif-->
			 <!--#if can="output_problem_body"--> 
				<!-- ==== in this case print body parts --ELSE-- print entire body -->		
				  <div class="Body" style="background-color:#ffffff">
	
					<!--#if can="output_custom_edit_message"-->
						<!--#output_custom_edit_message-->
					<!--#endif-->
					<!--#if can="output_summary"-->
					    <div>
							<!--#output_summary-->
						</div>
					<!--#endif-->

					<!--#if can="output_achievement_message"-->
					    <div>
							<!--#output_achievement_message-->
						</div>
					<!--#endif-->
					

					<!--#if can="output_comments" "-->
					<div>
						  <!--#output_comments-->
					</div>
					<!--#endif-->
					

					<!--#if can="output_form_start"-->
						<!--#output_form_start-->
					        <!--#if can="output_hidden_info"-->
					        	<!--#output_hidden_info-->
					        <!--#endif-->


						<!--#if can="output_problem_body" can="output_message" can="output_editorLink"-->
							<div class="problem">
								<!--#if can="output_problem_body"-->
								<div class="problem-content">
								  <!--#output_problem_body-->
								</div>
								<!--#endif-->
								<!--#if can="output_message"-->
									<!--#output_message-->
								<!--#endif-->
								<!--#if can="output_editorLink"-->
									<!--#output_editorLink-->
								<!--#endif-->
							</div>
						<!--#endif-->

						<!--#if can="output_checkboxes" can="output_submit_buttons"-->
							<p>
								<!--#if can="output_checkboxes"-->
									<!--#output_checkboxes-->
								<!--#endif-->
								<!--#if can="output_submit_buttons"-->
									<!--#output_submit_buttons-->
								<!--#endif-->
							</p>
						<!--#endif-->
						<!--#if can="output_score_summary"-->
							<div class="scoreSummary">
								<!--#output_score_summary-->
							</div>
						<!--#endif-->
						<!--#if can="output_misc"-->
							<!--#output_misc-->
						<!--#endif-->
						</form>
					<!--#endif-->
				<!-- inserted problem piece by piece -->
				<!--#if can="info"-->
			  		<!--  styles could be different for different pages so they are not set here -->
			  		<div id="info-panel-right" >
					<!--#info-->
					</div>
		    	<!--#endif-->

				</div>	  
			<!-- ====  end printing body parts   -->
			<!--#else-->
			<!-- ==== couldn't print body parts so we'll print entire body -->	
			 <div class="barrier"></div>
				  <div class="body">
				  	<!--#body-->
				  </div>
				  <!-- inserted body as a whole -->
				<!--#if can="info"-->
				    <div id="info-panel-right" class="info-box">
			  		<!--  styles could be different for different pages so they are not set here -->
					<!--#info-->
					</div>
		    	<!--#endif-->
              <div class="barrier"></div>
			<!--#endif-->  
<!--			      ==============END BODY OF PROBLEM===============      -->
			<!--#if can="output_past_answer_button" can="output_email_instructor"-->
				<div class="problemFooter">
					<!--#if can="output_past_answer_button"-->
						<!--#output_past_answer_button-->
					<!--#endif-->
					<!--#if can="output_email_instructor"-->
						<!--#output_email_instructor-->
					<!--#endif-->
				</div>
			<!--#endif-->
		
		<!--#if warnings="1"-->
		
		<hr/>
		<div class="Warnings">
			<!--#warnings-->
		</div>
		<!--#endif-->
		
		<!--#if can="message"-->
			<div class="Message">
				<!--#message-->
			</div>
		<!--#endif-->
	
	<hr class="for-broken-browsers"/>
	<div id="footer">
		<!--#footer-->
	</div>
	<div id="site-navigation">
		<!--#if can="links"-->
		<div class="info-box" id="fisheye">
			<!--#links-->
		</div>
		<!--#endif-->
		<!--#if can="siblings"-->
			<!--#siblings-->
		<!--#endif-->
		<!--#if can="options"-->
		<div class="info-box" id="fisheye">
			<!--#options-->
		</div>
		<!--#endif-->
	</div>

</div><!--content-->
</div> <!-- big-wrapper -->

<script type="text/javascript">
    $('.set-id-tooltip').tooltip({trigger: 'hover'});
</script>

</body>
</html>
