.image-view-elt:hover {
	cursor: pointer;
}

.image-view-dialog.modal {
	padding: 0 !important;
}

.image-view-dialog .modal-dialog {
	margin: 0;
}

.image-view-dialog .modal-body {
	overflow: unset;
	padding: 8px;
	text-align: center;
	box-sizing: content-box !important;
}

.image-view-dialog .modal-header {
	padding: 0.1rem 0.5rem;
}

.image-view-dialog .modal-header .drag-handle {
	cursor: pointer;
	width: 100%;
	height: 26px;
	touch-action: none;
}

.image-view-dialog .modal-header .btn {
	padding: 0 0.2rem;
	margin: 0 0.25rem 0 0;
}

.image-view-dialog .modal-header .btn svg {
	opacity: 0.5;
}

.image-view-dialog .modal-header .btn svg:hover {
	opacity: 1;
}

.image-view-dialog .modal-header .btn-close {
	padding: 0.25rem 0.25rem;
	margin: -0.5rem 0 -0.5rem auto;
}

.image-view-dialog .modal-body img {
	max-width: 100%;
	height: 100%;
}

.image-view-dialog .modal-body svg {
	overflow: visible;
}

.image-view-dialog .btn-close {
	cursor: pointer;
}
