*.conf
*-config
applets
tmp
logs/
webwork3/logs
!webwork3/logs/README
courses.dist
library-directory-tree.json
library-subject-tree.json
textbook-tree.json
development.yml
production.yml
*~
!tmp/README
!htdocs/tmp/README
