.env
docker-compose.yml
tmp
*~
!tmp/README
!htdocs/tmp/README
*.save
htdocs/tmp/*
tmp/*
logs/*
!logs/README
conf/*.conf
conf/*-config
htdocs/site_info.txt
htdocs/DATA/*
node_modules
node_modules/*
math4-overrides.css
math4-overrides.js
htdocs/static-assets.json
htdocs/**/*.min.js
htdocs/**/*.min.css
htdocs/themes/*/images/*
!htdocs/themes/*/images/maa_logo.png
!htdocs/themes/*/images/webwork_logo.svg
!htdocs/themes/math4/images/webwork_square.svg
htdocs/themes/*/*.css
htdocs/package-lock.json
htdocs/themes/*
!htdocs/themes/math4
!htdocs/themes/math4-red
!htdocs/themes/math4-green
!htdocs/themes/math4-yellow
DATA/*
*.swp
