{
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": ["@openwebwork/prettier-plugin-mojolicious-html-template"]
}
