version: '2'
services:
  db:
    image: mariadb:10.1
    volumes:
      - "./.data/db:/var/lib/mysql"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: randomepassword
      MYSQL_DATABASE: webwork
      MYSQL_USER: webworkWrite
      MYSQL_PASSWORD: passwordRW
  app:
    build: .
    image: webwork
    depends_on:
      - db
    volumes:
      - ".:/opt/webwork/webwork2"
      - "./.data/courses:/opt/webwork/courses"
      #- "../opl:/opt/webwork/libraries/webwork-open-problem-library"
    ports:
      - "8080:80"
    environment:
      DEV: 0
  r:
    image: ubcctlt/rserve
    ports:
      - "6311:6311"
