<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/ur/gateway.template,v 1.2 2006/01/25 23:13:49 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/ur/ur.css"/>
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/ur/gateway.css"/>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/ur/gateway.js">
</script>

</head>
<body onload="runtimer();">
<table width="100%" cellpadding="10" cellspacing="0" border="0">
	<tr valign="top">
<!-- removed left sidebar -->
		<!--#if can="info"-->
		<td class="TopPanel" colspan="2">
		<!--#else-->
		<td class="TopPanel" >
		<!--#endif-->
		    <div style="position:relative; width:100%;">
				<!--#if can="path"-->
				<span class="Path">
					<!--#path style="text" image="/webwork2_files/images/right_arrow.png" text=" > "-->
				</span>
				<!--#endif-->
				
				<!--#if loggedin="1"-->
					<!--#if can="loginstatus"-->
					
					<span class="LoginStatus">			
						
						<!--#loginstatus-->
					</span>
					<!--#endif-->
				<!--#endif-->
			</div>
		</td>
	</tr>
	<tr valign="top">
		<!--#if warnings="1"-->
		<td class="ContentPanelError" bgcolor="#ffcccc">
		<!--#else-->
		<td class="ContentPanel" bgcolor="#ffffff">
		<!--#endif-->	
<!-- removed nav button to go up -->
			<!--#if can="title"-->
			<div class="Title">
				<!--#title-->
			</div>
			<!--#endif-->
			<!--#if can="message"-->
				<div class="Message">
					<!--#message-->
				</div>
			<!--#endif-->

			<!--#if can="submiterror"-->
				<div class="SubmitError">
					<!--#submiterror-->
				</div>
			<!--#endif-->
			<!--#if can="body"-->
			<div class="Body">
				<!--#body-->
			</div>
			<!--#endif-->
			<!--#if warnings="1"-->
			<hr>
			<div class="Warnings">
				<!--#warnings-->
			</div>
			<!--#endif-->
			<!--#if can="message"-->
				<div class="Message">
					<!--#message-->
				</div>
			<!--#endif-->
		</td>
		<!--#if can="info"-->
		<td class="InfoPanel">
			<div class="Info">
				<!--#info-->
			</div>
		</td>
		<!--#endif-->
 	</tr>
 	<tr>
 	    <td class = "Timestamp", colspan=3>
 	        Updated: <!--#timestamp-->
 	    </td>
 	</tr>
</table>
</body>
</html>
