/********************/
/* template classes */
/********************/

body { margin: 0px; }

/* left table cell, contains logo and menus */
td.LeftPanel { background-color: #003366; color: white; white-space: nowrap; width: 1em; }
td.LeftPanel a:link,
td.LeftPanel a:visited { color: #FF9933; }

div.Logo {  }
div.Links { font-size: small; }
div.Siblings { font-size: small; }
div.Options { font-size: small; }

/* top table cell, contains login message and path */
td.TopPanel { background-color: #003366; color: white; height: 1; }
td.TopPanel a:link,
td.TopPanel a:visited { color: #FF9933; }


*.LoginStatus { text-align: right; font-size: small; position:absolute; right: 0; }
td.Timestamp   { text-align: left;  font-size: small; font-style: italic; }

*.Path {  }

/* main content panel, contains body */
td.ContentPanel { background-color: white; color: black; }
td.ContentPanel a:link,
td.ContentPanel a:visited { color: blue; }
td.ContentPanel a:active { color: red; }

/* contains info */
td.InfoPanel { background-color: #DDDDDD; color: black; width: 15% }
td.InfoPanel a:link,
td.InfoPanel a:visited { color: blue; }
td.InfoPanel a:active { color: red; }

div.Info {  }
div.Nav {  }
div.Title { font-size: 16pt; }
div.SubmitError { color: red; font-style: italic; }
div.Message { font-style: italic; }
div.Body {  }
div.Warnings {  }

/* background colors for success and failure messages */
div.ResultsWithoutError { background-color: #66ff99 } /* light green */
div.ResultsWithError    { background-color: #ffcccc } /* light red */

/* text colors for visible and hidden sets */
font.visible   { font-style: normal; font-weight: bold;   color: #000000; } /* black */
font.hidden { font-style: italic; font-weight: normal; color: #aaaaaa; } /* light grey */

/* text colors for Auditing, Current, and Dropped students */
div.Audit	{ font-style: normal;	color: black; }
div.Enrolled	{ font-weight: bold;	color: black; }
div.Drop	{ font-style: italic;	color: grey; }

/*******************/
/* general classes */
/*******************/

p.emphasis { font-style:italic; }

/************************/
/* new standard classes */
/************************/

/* tables used for laying out form fields shouldn't have a border */
table.FormLayout { border: 0; }
table.FormLayout tr { vertical-align: top; }
table.FormLayout th.LeftHeader { text-align: right; white-space: nowrap; }
table.FormLayout tr.ButtonRow { text-align: left; }
table.FormLayout tr.ButtonRowCenter { text-align: center; }

/* for problems which are rendered by themselves, e.g., by Set Maker */
div.RenderSolo { background-color: #E0E0E0; color: black; }

/* minimal style for lists of links (generated by the links escape) */
ul.LinksMenu { list-style: none; margin-left: 0; padding-left: 0; }
ul.LinksMenu ul { list-style: none; margin-left: 0.5em; padding-left: 0; }

/*************************/
/* WeBWorK::HTML widgets */
/*************************/

/* WeBWorK::HTML::ScrollingRecordList */
div.ScrollingRecordList { padding: 1em; white-space: nowrap; border: thin solid gray; }
div.ScrollingRecordList select.ScrollingRecordList { width: 99%; }

/*************************************************************************/
/* classes used in Problem.pm (replace these with new standard classes?) */
/*************************************************************************/

table.attemptResults {
	border-style: outset; 
	border-width: 1px; 
	margin: 0px 10pt; 
	border-spacing: 1px;
}
table.attemptResults td,
table.attemptResults th {
	border-style: inset; 
	border-width: 1px; 
	text-align: center; 
	width: 15ex;
	background-color: #DDDDDD;
}
div.problemHeader { float: left; }
div.problem { clear: both; background-color: #E0E0E0; color: black; }
.parsehilight { background-color:yellow; }

