<!DOCTYPE html>
<html>
<head>
<title>WeBWorK 3</title>
<link rel='stylesheet' href='/webwork2_files/themes/jquery-ui-themes/smoothness/jquery-ui.css' type='text/css' media='screen'>
<link rel="stylesheet" type="text/css" href="/webwork3/js/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel='stylesheet' href='/webwork3/js/bower_components/font-awesome/css/font-awesome.css' type='text/css' media='screen'>
<link rel='stylesheet' type="text/css" href="/webwork3/css/course-manager.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  </nav>
[% content %]
<div class="navbar-fixed-bottom navbar navbar-other" id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
</div>

<script type="text/template" id="login-template">
<div class="message"> <%=message%></div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-md-4 control-label">Login Name:</label>
    <div class="col-md-7">
      <input type="input" name="username" class="form-control login-name" id="inputEmail3" placeholder="Login">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-md-4 control-label">Password</label>
    <div class="col-md-7">
      <input type="password" name="password" class="form-control login-password" id="password" placeholder="Password">
    </div>
  </div>
</form>
<div class="message-bottom"></div>

</script>

<script type="text/template" id="menu-bar-template">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WW3 &nbsp; Course Manager</a>
      </div> 
      
      <div class="collapse navbar-collapse" id="menu-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="main-view-name">
              </span><b class="caret"></b></a>
          <ul class="dropdown-menu manager-menu">
            <li><a class="link" data-link="calendar" data-name="Calendar">View Calendar</a></li>
            <li><a class="link" data-link="setDetails" data-name="Set Details">View Problem Set</a></li>
            <li><a class="link" data-link='libraryBrowser' data-name="Library Browser">Library Browser</a></li>
            <li><a class="link" data-link="allSets" data-name="All Sets">Manage Problem Sets</a></li>
            <li><a class="link" data-link="classlist" data-name="Classlist Manager">Classlist Manager</a></li>
            <li><a class="link" data-link="importExport" data-name="Import/Export">Import and Export HW sets</a></li>
            <li><a class="link" data-link="settings" data-name="Settings">Settings</a></li>
          </ul>        
        </li>
        <li>
          <p class="nav-text" id="short-message">
          </p>
        </li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><p class="logged-in-as navbar-text">Hello</p><li>
          <li><a href="https://github.com/openwebwork/webwork2/issues/new" target="_blank">Bugs!</a></li>
          <li><a href="#" class="main-help-button">Help</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
          <ul class="dropdown-menu option-menu">
            <li><a class="link" data-link="hide-sidebar" data-name="Hide Options">Hide Options</a></li>          
            <li><a class="link" data-link="problemSets" data-name="Problem Sets">View Problem Sets</a></li>
            <li><a class="link" data-link="userList" data-name="Classlist">View Classlist</a></li>
            <li><a class="link" data-link="libraryOptions" data-name="Library Options">Library Options</a></li>
            <li><a class="link" data-link="problemList" data-name="Problem List Options">Problem List Options</a></li>
            
          </ul>        
        </li>
      </ul>
      </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</script>

<!-- This is where all messages to the user go -->


<script type="text/template" id="message-pane-template">
<div class='row'>
    <div class='pull-right'><button type='button' class='close'>&times;</button></div>
    <ul class='main-message-pane no-bullets'></ul>
</div>

</script>



</body>
</html>
