<!DOCTYPE html>
<html>
<head>
<title>WeBWorK 3</title>
<link rel='stylesheet' href='/webwork3/js/bower_components/jquery-ui/themes/smoothness/jquery-ui.css' type='text/css' media='screen'>
<link rel="stylesheet" type="text/css" href="/webwork3/js/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel='stylesheet' href='/webwork3/js/bower_components/font-awesome/css/font-awesome.css' type='text/css' media='screen'>
<link rel='stylesheet' type="text/css" href="/webwork3/css/course-manager.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  </nav>
[% content %]
<div class="navbar-fixed-bottom navbar navbar-other" id="footer">
Powered by <a href="#" onclick="return false" href="http://perldancer.org/">Dancer</a> [% dancer_version %]
</div>
<div class="login-container"></div>
</body>


<script type="text/template" id="login-template">
<div class="message"> <%=message%></div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-md-4 control-label">Login Name:</label>
    <div class="col-md-7">
      <input type="input" name="username" class="form-control login-name" id="inputEmail3" placeholder="Login">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-md-4 control-label">Password</label>
    <div class="col-md-7">
      <input type="password" name="password" class="form-control login-password" id="password" placeholder="Password">
    </div>
  </div>
</form>
<div class="message-bottom"></div>

</script>

<script type="text/template" id="menu-bar-template">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand">WW3</a>
      </div>
      <ul class="nav navbar-nav">
      <li>
        <div class="btn-group">
        <button class="back-button btn btn-default navbar-btn" disabled><i class="fa fa-arrow-left"></i></button>
        <button class="forward-button btn btn-default navbar-btn" disabled><i class="fa fa-arrow-right"></i></button>
        </div>
      </li>
      <li>
        <a style="margin-left: 0px" class="navbar-brand main-view-name"></a>
      </li>
      <li class="dropdown">
        <a href="#" onclick="return false" class="dropdown-toggle" data-toggle="dropdown">MENU<b class="caret"></b></a>
      <ul class="dropdown-menu manager-menu">
      </ul>        
    </li>

        <li>
          <p class="nav-text" id="short-message">
          </p>
        </li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text">
          Welcome <span class="logged-in-as"></span>
            <span class="act-as-user"></span>
          </p><li>
          <li><button class="btn btn-default btn-sm navbar-btn logout-button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-log-out"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="logout-link" href="#"  onclick="return false">Logout</a></li>
                  <li class="stop-acting-li disabled"><a class="stop-acting-link" href="#"  onclick="return false">Stop Acting as User</a></li>
                </ul>
          </li>
          <li><a href="https://github.com/openwebwork/webwork2/issues/new" target="_blank">Bugs!</a></li>
          <li><a href="#" onclick="return false" class="main-help-button">Help</a></li>
      </ul>
      </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</script>



</html>
