<!DOCTYPE html>
<html>
<head>
<title>WeBWorK</title>
<link rel='stylesheet' href='/webwork2_files/themes/jquery-ui-themes/smoothness/jquery-ui.css' type='text/css' media='screen'>
<link rel="stylesheet" type="text/css" href="/webwork2_files/js/components/bootstrap/dist/css/bootstrap.css">
<link rel='stylesheet' href='/webwork2_files/js/components/font-awesome/css/font-awesome.css' type='text/css' media='screen'>
<link rel='stylesheet' type="text/css" href="/webwork3/css/style.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" onclick="return false">[% pagename %]</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" onclick="return false" data-link="progress">Progress</a></li>
        <li><a href="#" onclick="return false" data-link="calendar">Calendar</a></li>
        <li class="dropdown">
          <a href="#" onclick="return false" class="dropdown-toggle" data-toggle="dropdown">Problem Sets <b class="caret"></b></a>
          <ul class="dropdown-menu problem-set-dropdown">
          </ul>
        </li>
        <li>
          <p class="navbar-text" id="short-message">
          </p>
        </li>                   

      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="navbar-text login-container">
      Welcome, [% user %]
      </li>
      
      <li><button class="btn btn-default navbar-btn" id="logout-button">Logout<i class='fa fa-sign-out'></i></button>
      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
[% content %]

<nav class="navbar-fixed-bottom navbar navbar-other" id="footer">
<div class="container">
<p id="footer" class="navbar-text">
Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
</p>
</div>
</nav>

<script type="text/template" id="login-template">
<div class="message"> <%=message%></div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Login Name:</label>
    <div class="col-sm-10">
      <input type="input" name="username" class="form-control login-name" id="inputEmail3" placeholder="Login">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Login Name:</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control login-password" id="password" placeholder="Password">
    </div>
  </div>
</form>

</script>

<script type="text/template" id="logged-in-template">
Welcome <%=user%>.
</script>

<!-- This is where all messages to the user go -->

<script type="text/template" id="all-messages">
<%
  var messages = {
    set_saved: function(opt){ return "Set " + opt.setname + " saved.";},
    set_saved_details: function(opt){return "The value of " + opt.key + " in problem set " 
      + opt.setname + " has changed from " + opt.oldValue + " to " + opt.newValue + ".";},
    relogin: function(opt){ return "You're login status is no longer valid.  You're session probably expired.  Please " 
      + "reenter your username and password to continue. ";},    
    bad_password: function(){ return "You're login name and password do not match your credentials.  Please try again."}  
  };
  print(messages[type](typeof(opts)=="undefined"?{}:opts))
  
%>
</script>

<script type="text/template" id="message-pane-template">
<div class='row'>
    <div class='pull-right'><button type='button' class='close'>&times;</button></div>
    <ul class='main-message-pane no-bullets'></ul>
</div>

</script>



</body>
</html>
