<html>
  <head>
    <script src="https://fb.me/react-15.0.0.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://fb.me/react-dom-15.0.0.js"></script>
    <script type = "text/babel">
      var Test = React.createClass({
        render: function() {
          return (
            <p>Hello</p>
          )
        }
      });

      ReactDOM.render(
        <Test/>, // component to render
        document.getElementById('testDiv') // target
      );
    </script>
  </head>

  <body>
    <div id = "testDiv"></div>
  </body>
</html>