.code-mirror-editor {
	border: 1px solid #ddd;
	min-height: 400px;
	overflow: auto;
	resize: vertical;
	height: 600px;

	.cm-editor {
		height: 100%;

		.cm-scroller {
			height: 100%;

			.cm-content {
				height: 100%;
				min-height: 400px;
			}
		}

		.cm-panels {
			z-index: 18;
		}
	}
}

// This style is used if the CodeMirror editor is disabled in localOverrides.conf.
.text-area-editor {
	border: 1px solid #ddd;
	padding: 2px;
	height: 550px;
	min-height: 400px;
	width: 100%;
	resize: vertical;
}
