# Search path for credentials
# our @path_list = ("$ENV{HOME}/.ww_credentials", "$ENV{HOME}/ww_session_credentials", 'ww_credentials', 'ww_credentials.dist');

# Place a credential file containing the following information at one of the locations above.

# %credentials = (
#         userID          => "daemon",
#         course_password => "daemon",
#         courseID        => "daemon_course",
#         site_url        => 'http://localhost:80',
#         site_password   => 'xmlrpc',
#         form_action_url => 'http://localhost:80/webwork2/html2xml',
#         ww_display_mode   => "MathJax",
#         html_display_command => "open -a 'Google Chrome' ", # "open -a Safari ", "lynx "
# #       path_to_log_file =>"",
# );

# The sample settings below should be customized for your server and local system

%credentials = (
    # Set the URLs of the remote site and the site password

	# Test settings for the demo.webwork.rochester.edu site
        site_url        => 'https://demo.webwork.rochester.edu',
        webwork_url     => '/webwork2',
	form_action_url => 'https://demo.webwork.rochester.edu/webwork2/html2xml',
        site_password   => 'xmlrpc',

	# Settings for use with a local webwork system (ex. via Docker)
	# site_url        => 'http://localhost:80',
	# webwork_url     => '/webwork2',
	# form_action_url => 'http://localhost:80/webwork2/html2xml',
	# site_password   => 'xmlrpc',

    # Set the identification credential used by the "daemon_course" on the remote site
        courseID        => "daemon_course",
        userID          => "daemon",
        course_password => "daemon",
    # Set the display mode to use
        ww_display_mode   => "MathJax", 
        # ('images' mode will usually cause errors unless the mysql daemon is running in the site containing sendXMLRPC)
        # the script WebworkClient.pm attempts to create images for equations in the attempts table 
        # on the machine where sendXMLRPC.pl is located. 
    # Set the path to the LOCAL log file (make sure to create an empty file)
	# when commented out - no file is needed
	# path_to_log_file =>"",
    # Set the display commands which work on the machine on which you are
    # running sendXMLRPC.pl
	# Sample settings for Mac:

        # html_display_command   => "open -a 'Google Chrome' ", # A web browser
	# html_display_command   => "open -a Firefox ",
	# tex_display_command    => "open -a 'TeXShop'",	# Editor or TeX editor
	# pdf_display_command    => "open -a 'Preview'",	# PDF viewer
	# hash_display_command   => "cat ", 			# to diplay file to STDOUT

	# ==============================

	# Sample settings for Linux:

	# html_display_command => "firefox", 			# A web browser
	# html_display_command => "google-chrome",
	# tex_display_command  => "vim",				# Editor or TeX editor
	# tex_display_command  => "emacs",
	# pdf_display_command  => "xpdf",				# PDF viewer
	# pdf_display_command  => "evince",
	# pdf_display_command  => "acroread",			# PDF viewer
	# hash_display_command => "cat ",			# to diplay file to STDOUT
);
