# Search path for credentials
# our @path_list = ("$ENV{HOME}/.ww_credentials", "$ENV{HOME}/ww_session_credentials", 'ww_credentials', 'ww_credentials.dist');
# Place a credential file containing the following information at one of the locations above.


# %credentials = (
#         userID          => "daemon",
#         course_password => "daemon",
#         courseID        => "daemon_course",
#         site_url        => 'http://localhost:80',
#         site_password   => 'xmlrpc',
#         form_action_url => 'http://localhost:80/webwork2/html2xml',
#         ww_display_mode   => "images",
#         html_display_command => "open -a 'Google Chrome' ", # "open -a Safari ", "lynx "
# #       path_to_log_file =>"",
# );

%credentials = (
        userID          => "daemon",
        course_password => "daemon",
        courseID        => "daemon_course",
        site_url        => 'http://localhost:80',
        site_password   => 'xmlrpc',
        form_action_url => 'http://localhost:80/webwork2/html2xml',
        ww_display_mode   => "images",
        html_display_command => "open -a 'Google Chrome' ", # "open -a Safari ", "lynx "
#       path_to_log_file =>"",
);
