# Search path for credentials
# our @path_list = ("$ENV{HOME}/.ww_credentials", "$ENV{HOME}/ww_session_credentials", 'ww_credentials', 'ww_credentials.dist');
# Place a credential file containing the following information at one of the locations above.

# 	%credentials = (
# 			userID          => "my login name for the webwork course",
# 			course_password        => "my password ",
# 			courseID        => "the name of the webwork course",
# 	);

# This will allow you to test renderProblem.pl, checkProblem.pl and similar files
# hosted2 is not a production site so it may not always be available
	%credentials = (
			userID          => "daemon",
			course_password => "daemon",
			courseID        => "daemon",
			site_url        => 'https://hosted2.webwork.rochester.edu/webwork2',
			site_password   => 'xmlrpc',
			form_action_url => 'https://hosted2.webwork.rochester.edu/webwork2/html2xml',
	);