// Redo the btn-info to get a nice yellow on black coloring instead of white on black.
// Only the foreground colors are changed.
.btn-info {
	@include button-variant(
		$info, // background color
		$info, // border color
		$primary, // foreground color
		tint-color($info, $btn-hover-bg-tint-amount), // hover background color
		tint-color($info, $btn-hover-border-tint-amount), // hover border color
		$primary, // hover foreground color
		tint-color($info, $btn-active-bg-tint-amount), // active background color
		tint-color($info, $btn-active-border-tint-amount), // active border color
		$primary, // active foreground color
		$info, // disabled background color
		$info, // disabled border color
		color-contrast($info) // disabled foreground color
	);
}

.text-primary {
	color: $link-color !important;
}

:root {
	--ww-site-nav-link-active-background-color: #{$primary};
	--ww-site-nav-link-active-color: #{color-contrast($primary)};
}
