// Redo the btn-info to get a nice yellow on black coloring instead of white on black.
// Only the foreground colors are changed.
.btn-info {
	@include button-variant(
		// background color
		$info,
		// border color
		$info,
		// foreground color
		$primary,
		// hover background color
		tint-color($info, $btn-hover-bg-tint-amount),
		// hover border color
		tint-color($info, $btn-hover-border-tint-amount),
		// hover foreground color
		$primary,
		// active background color
		tint-color($info, $btn-active-bg-tint-amount),
		// active border color
		tint-color($info, $btn-active-border-tint-amount),
		// active foreground color
		$primary,
		// disabled background color
		$info,
		// disabled border color
		$info,
		// disabled foreground color
		color-contrast($info)
	);
}

.btn-outline-primary {
	--#{$prefix}btn-color: #{shade_color($primary, 60%)};
	--#{$prefix}btn-border-color: #{shade_color($primary, 20%)};
}

.text-primary {
	color: $link-color !important;
}

a:not(.btn):focus {
	outline-color: #{darken($link-hover-color, 1%)};
}

:root {
	--ww-site-nav-link-active-background-color: #{$primary};
}
