// Include bootstrap scss functions (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// Theme colors
$primary: #ffc700;
$info: black;

// Override the default white for the foreground color of active components.
// White has poor color contrast with the yellow primary color.
$component-active-color: black;

// Link colors
$link-color: darken(#bf5454, 30%);
$link-hover-color: lighten($link-color, 30%);

// Webwork logo background color in the banner
$ww-logo-background-color: $info;

// Achievment level bar
$ww-achievement-level-color: darken($primary, 15%);

// Make accordion buttons darker.
$accordion-button-active-color: shade-color($primary, 50%);

// Make the navbar colors dark.
$navbar-dark-color: rgba(#000, 0.55);
$navbar-dark-hover-color: rgba(#000, 0.75);
$navbar-dark-active-color: #000;
$navbar-dark-disabled-color: rgba(#000, 0.25);
$navbar-dark-toggler-border-color: rgba(#000, 0.1);
