.mv-container .popover {
    width : 400px;
    max-width : 400px;
    max-height: 400px;
}

.mv-container .popover .mviewer {
    height : 60px;
    margin-bottom : 0px;
    text-align : center;
}

.mv-container .popover .mviewerouter {
    padding-top:15px;
    padding-bottom:5px;
    overflow-x : auto;
    margin-bottom : 0px;
}

.mv-container .input-append {
    display: inline-block;
}

.mv-container .popover .tab-content {
    height : 145px;
    margin-top:20px;
}

.mv-container .popover .tab-content .mvspan3 {
    width: 87px;
    *width: 87px;
}

.mv-container .popover .tab-content .mvthumbnail {
    padding:12px;
    height:22px;
    cursor: pointer;
    display: block;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.mv-container .popover a.mvthumbnail:hover,
.mv-container .popover a.mvthumbnail:focus {
  border-color: #003388;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.mv-container .popover .mvthumbnails {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mv-container .popover .mvthumbnails .mvspan3:nth-child(3n+1) {
    margin-left: 42px;
}

.mv-container .popover .mvthumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.mv-container .popover .mvinput {
    height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mv-container .popover .mvinput a {
    float:right;
}

.mv-container .popover .navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 0px;
  overflow: visible;
}

.mv-container .popover .navbar-inner {
    min-height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #f7f7f7;
    background-image: none;
    border: 0px;
    box-shadow: none;
}

.mv-container .popover .navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  cursor: move;
  text-decoration: none;
}

.mv-container .popover .navbar .brand:hover,
.mv-container .popover .navbar .brand:focus {
  text-decoration: none;
}

.mv-container .popover .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #777777;
}

.mv-container .popover .navbar-link {
  color: #777777;
}

.mv-container .popover .navbar-link:hover,
.mv-container .popover .navbar-link:focus {
  color: #333333;
}

.mv-container .popover .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding-left: 10px;
}

.mv-container .popover .navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}

.mv-container .popover .navbar .nav > li {
  float: left;
}

.mv-container .popover .navbar .nav > li > a {
  float: none;
  padding: 10px 10px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.mv-container .popover .navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}

.mv-container .popover .navbar .nav > li > a:focus,
.mv-container .popover .navbar .nav > li > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.mv-container .popover .navbar .nav > .active > a,
.mv-container .popover .navbar .nav > .active > a:hover,
.mv-container .popover .navbar .nav > .active > a:focus {
  background-color: #f7f7f7;
  box-shadow: none;
}

.mv-container .popover .navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  *background-color: #e5e5e5;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.mv-container .popover .navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.mv-container .popover .btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

.mv-container .popover .navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.mv-container .popover .navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.mv-container .popover .navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.mv-container .popover .navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.mv-container .popover .navbar .nav li.dropdown > a:hover .caret,
.mv-container .popover .navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.mv-container .popover .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

.mv-container .popover .navbar .nav li.dropdown.open > .dropdown-toggle,
.mv-container .popover .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e5e5e5;
  color: #555555;
}

.mv-container .popover .navbar .pull-right > li > .dropdown-menu,
.mv-container .popover .navbar .nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.mv-container .popover .navbar .pull-right > li > .dropdown-menu:before,
.mv-container .popover .navbar .nav > li > .dropdown-menu.pull-right:before {
  right: 12px;
  left: auto;
}

.mv-container .popover .navbar .pull-right > li > .dropdown-menu:after,
.mv-container .popover .navbar .nav > li > .dropdown-menu.pull-right:after {
  right: 13px;
  left: auto;
}

.mv-container .popover .navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.mv-container .popover .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  right: 100%;
  left: auto;
  margin-right: -1px;
  margin-left: 0;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}
