.mv-container .popover {
	width : 400px;
	max-width : 400px;
	max-height: 400px;
}

.mv-container .popover .mviewer {
	height : 60px;
}

.mv-container .popover .tab-content {
	height: 145px;
	margin-top: 20px;
}

.mv-container .popover .tab-content .mvspan3 {
	width: 87px;
}

.mv-container .popover .tab-content .mvthumbnail {
	box-sizing: content-box;
	padding: 12px;
	height: 22px;
	cursor: pointer;
	display: block;
	line-height: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	transition: all 0.2s ease-in-out;
}

.mv-container .popover a.mvthumbnail:hover,
.mv-container .popover a.mvthumbnail:focus {
	border-color: var(--bs-primary, #038);
	box-shadow: 0 1px 4px var(--bs-primary, #038);
}

.mv-container .popover .mvinput {
	height: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mv-container .popover .mvinput a {
	float: right;
}

.mv-container .popover .navbar .navbar-brand {
	font-size: 20px;
	font-weight: 200;
	color: #555555;
}
