
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- This encourages IE to *not* use compatibility view, which breaks math4 -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2013 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/math3/system.template,v 1.2 2008/06/26 19:46:02 gage Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<link rel="shortcut icon" href="<!--#url type="webwork" name="htdocs"-->/images/favicon.ico"/>
<link rel="stylesheet" href="/webwork2_files/js/components/bootstrap-2/docs/assets/css/bootstrap.css"/>
<link rel='stylesheet' href='$site_url/js/components/font-awesome/css/font-awesome.css' type='text/css' media='screen'>
<link rel='stylesheet' href='$site_url/themes/jquery-ui-themes/smoothness/jquery-ui.css' type='text/css' media='screen'>
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
</head>
<body>

<!-- Bootstrap Fluid Layout Scaffolding start -->
<div class="container">
<!-- Header -->
<div id = "masthead" class="row">
	<div id="loginstatus" class="col-md-offset-3 col-md-3">
		<!--#loginstatus-->
	</div>
</div>

<div class="row">

<!-- Navigation -->
<div id="site-navigation" class="col-md-2 hidden-phone">
  <!--#if can="links"-->
        <div id="site-links">
	  <!--#links-->
	  </div>
	<!--#endif-->

	<!--#if can="siblings"-->
	<div>
	  <!--#siblings-->
	  </div>
	<!--#endif-->
	<!--#if can="options"-->
	<div class="info-box">
	  <!--#options-->
	  </div>
	<!--#endif-->
</div>

<!-- Main Content Area -->
<div id="content" class="col-md-12" >
	<!-- Breadcrumb -->
	<div class="row"><div class="col-md-12">
	<ul class="breadcrumb">
		<!--#path style="bootstrap" text="<li><col-md- class='divider'>/</col-md-></li>"-->
	</ul>
	</div></div>

	<!-- Page Title -->
	<!--#if can="title"-->
	<div class="row"><div class="col-md-12">
		<h1 class='page-title'><!--#title --></h1>
	</div></div>
	<!--#endif-->

	<!--#if can="nav" can="message"--> 
	<div class="row">
	  <div class="problem-nav col-md-3">
	<!-- Question Navigation, e.g.: Prev, Up, Next for homeworks -->
	<!--#if can="nav"-->
		<!--#nav style="buttons" imageprefix="/webwork2_files/images/nav" imagesuffix=".gif" separator="  "-->
	<!--#endif-->
	  </div>
	  
	  <div class="Message col-md-4 offset5">
	    <!-- Message for the user -->
	    <!--#if can="message"-->
	        <!--#message-->
	<!--#endif-->
	  </div>
	</div>
	<!--#endif-->

	<!-- Header Text for problem --> 
	<!--#if can="post_header_text"-->
		<!--#post_header_text-->
	<!--#endif-->

<!--	==============BEGIN BODY OF PROBLEM===============	-->

	<!-- Indicate presence of perl warnings -->
	<!--#if warnings="1"-->
	<div class="row">
		<div class="col-md-12 alert alert-error">
			<strong>Warning</strong> -- there may be something wrong with this question. Please inform your instructor including the warning messages below.
		</div>
	</div>
	<!--#endif-->
             
	<!--#if can="output_tag_info"-->
	<div class="row">
	  <div class="col-md-12">
		<!--#output_tag_info-->
	</div></div>
	<!--#endif-->

	 <!--#if can="output_problem_body"--> 
	    <!-- ==== in this case print body parts ELSE print entire body -->		<div class="row">
		  <div class="Body col-md-12">

			<!--#if can="output_custom_edit_message"-->
			<div class="row"><div class="col-md-10">
				<!--#output_custom_edit_message-->
			</div><div class="col-md-2"></div></div>
			<!--#endif-->
			<!--#if can="output_summary"-->
			<div class="row"><div class="col-md-10">
					<!--#output_summary-->
			</div><div class="col-md-2"></div></div>
			<!--#endif-->

			<!--#if can="output_achievement_message"-->
			<div class="row"><div class="col-md-10">
					<!--#output_achievement_message-->
			</div><div class="col-md-2"></div></div>
			<!--#endif-->
			
			<!--#if can="output_comments" "-->
			<div class="row"><div class="col-md-10">
				  <!--#output_comments-->
			</div><div class="col-md-2"></div></div>
			<!--#endif-->
				


			<!--#if can="output_hidden_info"-->
				<!--#output_hidden_info-->
			<!--#endif-->

			<!--#if can="output_form_start"-->
			<div class="row">
			  <div class="col-md-10">
				<!--#output_form_start-->

				<!--#if can="output_problem_body" can="output_message" can="output_editorLink"-->
					<div class="problem">
						<!--#if can="output_problem_body"-->
						<div class="problem-content">
							<!--#output_problem_body-->
						</div>
						<!--#endif-->
						<!--#if can="output_message"-->
							<!--#output_message-->
						<!--#endif-->
						<!--#if can="output_editorLink"-->
							<!--#output_editorLink-->
						<!--#endif-->
					</div>
				<!--#endif-->

				<!--#if can="output_checkboxes" can="output_submit_buttons"-->
					<p>
						<!--#if can="output_checkboxes"-->
							<!--#output_checkboxes-->
						<!--#endif-->
						<!--#if can="output_submit_buttons"-->
							<!--#output_submit_buttons-->
						<!--#endif-->
					</p>
				<!--#endif-->
				<!--#if can="output_score_summary"-->
					<div class="scoreSummary">
						<!--#output_score_summary-->
					</div>
				<!--#endif-->

				<!--#if can="output_misc"-->
					<!--#output_misc-->
				<!--#endif-->
				</form>
			<!--#endif-->

		<!-- inserted problem piece by piece -->

		<!--#if can="info"-->
			<p>Form2</p>
			<!--  styles could be different for different pages so they are not set here -->
			<div id="info-panel-right" >
			<!--#info-->
			</div>
		<!--#endif-->

		</div><div class="col-md-2"></div></div>
                </div></div>

	<!-- ====  end printing body parts   -->
	<!--#else-->
	<!-- ==== couldn't print body parts so we'll print entire body -->	         <div class="row">
	  <!--#if can="info"-->
	  <div class="body col-md-8">
	  <!--#else-->
	    <div class="body col-md-12">
	  <!--#endif-->
	      <!--#body-->
	</div>
	<!-- inserted body as a whole -->
	<!--#if can="info"-->
	<div id="info-panel-right" class="col-md-4 info-box">
	  <!--  styles could be different for different pages so they are not set here -->
	  <!--#info-->
	</div>
	<!--#endif-->
	</div>
	<!--#endif-->  

<!--			      ==============END BODY OF PROBLEM===============      -->
	<!--#if can="output_past_answer_button" can="output_email_instructor"-->
		<div class="problemFooter">
			<!--#if can="output_past_answer_button"-->
				<!--#output_past_answer_button-->
			<!--#endif-->
			<!--#if can="output_email_instructor"-->
				<!--#output_email_instructor-->
			<!--#endif-->
		</div>
	<!--#endif-->

<!--#if warnings="1"-->
<div class="Warnings alert alert-error">
	<!--#warnings-->
</div>
<!--#endif-->
<!--#if can="message"-->
<div class="Message">
  <!--#message-->
</div>
<!--#endif-->
		
</div><!--content-->


<!-- Bootstrap Fluid Layout Scaffolding stop -->
</div> <!-- row -->
</div> <!-- container-fluid -->


<!-- Footer -->
<div id="footer">
	<!--#footer-->
</div>

</body>
</html>
