<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2003 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork-modperl/conf/templates/ur.template,v 1.11 2004/03/06 21:47:05 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
 <head>
  <title><!--#path style="text" text=" : " textonly="1"--></title>
  <!--#head-->
  <style type="text/css">
   <!--
	/********************/
	/* template classes */
	/********************/
	
	body { margin: 0px; }
	.edgebox { background-color: #123567; color: white; white-space: nowrap; } /* #123567 is not a websafe color */
	.edgebox a:link, .edgebox a:visited { color: #FF9933; } /* this is hard to see */
	.infobox { background-color: #CCCCCC; } /* a little dark... */
	
	/*******************/
	/* general classes */
	/*******************/
	
	p.emphasis { font-style:italic; }
	
	/************************/
	/* new standard classes */
	/************************/
	
	/* center form tables within their containers (this doesn't work) */
	div.FormLayout { text-align: center; }
	
	/* background colors for success and failure messages */
	div.ResultsWithoutError { background-color: #66ff99 } /* light green */
	div.ResultsWithError    { background-color: #ffcccc } /* light red */
	
	/* minimal style for lists of links (generated by the links escape */
	ul.LinkMenu { list-style: none; margin-left: 0; padding-left: 0; }
	ul.LinkMenu ul { list-style: none; margin-left: 0.5em; padding-left: 0; }
	
	/*************************/
	/* WeBWorK::HTML widgets */
	/*************************/
	
	/* WeBWorK::HTML::ScrollingRecordList */
	div.ScrollingRecordList { padding: 1em; white-space: nowrap; border: thin solid gray; }
	div.ScrollingRecordList select.ScrollingRecordList { width: 99%; }
	
	/*************************************************************************/
	/* classes used in Problem.pm (replace these with new standard classes?) */
	/*************************************************************************/
	
	table.attemptResults {
		border-style: outset; 
		border-width: 1px; 
		margin: 0px 10pt; 
		border-spacing: 1px;
	}
	table.attemptResults td,
	table.attemptResults th {
		border-style: inset; 
		border-width: 1px; 
		text-align: center; 
		width: 15ex;
		background-color: #DDDDDD;
	}
	div.problemHeader { float: left; }
	div.problem { clear: both; }
	.parsehilight { background-color:yellow; }
   //-->
  </style>
 </head>
 <body>
  <table width="100%" cellpadding="10" cellspacing="0" border="0">
   <tr valign="top">
    <td align="left" rowspan="2" class="edgebox">
     <img src="/webwork2_files/images/webwork_square.gif" alt="WeBWorK" height="64"
width="66" /><br />
     <hr />
     <div>
      <small>
       <a href="http://webwork3.math.rochester.edu/bugzilla/enter_bug.cgi?product=WeBWorK%20mod_perl" target="bugzillaPage"> Report bugs</a>
      </small>
     </div>
<!--#if loggedin="1"-->
     <hr />
     <div>
      <small>
       <!--#links-->
      </small>
     </div>
<!--#if can="links"-->
<!--#if can="siblings"-->
     <hr />
<!--#endif-->
<!--#endif-->
     <div>
      <small>
       <!--#siblings-->
      </small>
     </div>
<!--#if can="options"-->
	 <div>
	  <small>
	   <!--#options-->
	  </small>
<!--#endif-->
	 </div>
<!--#endif-->
    </td>
    <!--#if can="path"-->
    <td valign="bottom" class="edgebox">
     <!--#path style="text" image="/webwork2_files/images/right_arrow.png" text=" > "-->
    </td>
    <!--#endif-->
    <!--#if loggedin="1"-->
     <td valign="bottom" align="right" class="edgebox">
     <!--#loginstatus-->
    </td>
    <!--#endif-->
   </tr>
   <tr valign="top">
<!--#if warnings="1"-->
    <td 
    <!--#if loggedin="1"-->
    colspan="2" 
    <!--#endif-->
    bgcolor="#ffcccc">
<!--#else-->
    <td 
    <!--#if loggedin="1"-->
    colspan="2"
    <!--#endif-->
    bgcolor="#ffffff">
<!--#endif-->
     <div align="left">
      <!--#nav style="images" imageprefix="/webwork2_files/images/nav" imagesuffix=".gif" separator="  "-->
     </div>
     <table width="100%" cellpadding="10" cellspacing="0" border="0">
      <tr valign="top">
       <td>
        <h1 style="font-size: 14pt"><!--#title--></h1>
        <!--#if submiterror="1"-->
         <p><em style="color: red"><!--#submiterror--></em></p>
        <!--#endif-->
        <!--#body-->
       </td>
       <!--#if can="info"-->
          <td  class="infobox" width="50%">
              <!--#info-->
          </td>
       <!--#endif-->
      </tr>
     </table>
     <!--#if warnings="1"-->
      <hr>
      <div class="warnings"><!--#warnings--></div>
     <!--#endif-->
    </td>
   </tr>
  </table>
 </body>
</html>
