<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2003 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork-modperl/conf/templates/ur.template,v 1.12 2004/03/09 15:40:18 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
<style type="text/css">

/********************/
/* template classes */
/********************/

body { margin: 0px; }

/* left table cell, contains logo and menus */
td.LeftPanel { background-color: #003366; color: white; white-space: nowrap; width: 1em; }
td.LeftPanel a:link,
td.LeftPanel a:visited { color: #FF9933; }

div.Logo {  }
div.Links { font-size: small; }
div.Siblings { font-size: small; }
div.Options { font-size: small; }

/* top table cell, contains login message and path */
td.TopPanel { background-color: #003366; color: white; }
td.TopPanel a:link,
td.TopPanel a:visited { color: #FF9933; }

div.LoginStatus { text-align: right; font-size: small; }
div.Path {  }

/* main content panel, contains body and info */
td.ContentPanel { background-color: white; color: black; }
td.ContentPanel a:link,
td.ContentPanel a:visited { color: blue; }
td.ContentPanel a:active { color: red; }

div.Info { float: right; width: 50%; background-color: #DDDDDD; }
div.Nav {  }
div.Title { font-size: 16pt; }
div.SubmitError { color: red; font-style: italic; }
div.Body {  }
div.Warnings {  }

/*******************/
/* general classes */
/*******************/

p.emphasis { font-style:italic; }

/************************/
/* new standard classes */
/************************/

/* center form tables within their containers */
/* (this is used in Assigner and doesn't work -- remove from Assigner and from here) */
div.FormLayout { text-align: center; }

/* background colors for success and failure messages */
/* currently only used by Assigner, but may be used elsewhere. */
div.ResultsWithoutError { background-color: #66ff99 } /* light green */
div.ResultsWithError    { background-color: #ffcccc } /* light red */

/* minimal style for lists of links (generated by the links escape) */
ul.LinksMenu { list-style: none; margin-left: 0; padding-left: 0; }
ul.LinksMenu ul { list-style: none; margin-left: 0.5em; padding-left: 0; }

/*************************/
/* WeBWorK::HTML widgets */
/*************************/

/* WeBWorK::HTML::ScrollingRecordList */
div.ScrollingRecordList { padding: 1em; white-space: nowrap; border: thin solid gray; }
div.ScrollingRecordList select.ScrollingRecordList { width: 99%; }

/*************************************************************************/
/* classes used in Problem.pm (replace these with new standard classes?) */
/*************************************************************************/

table.attemptResults {
	border-style: outset; 
	border-width: 1px; 
	margin: 0px 10pt; 
	border-spacing: 1px;
}
table.attemptResults td,
table.attemptResults th {
	border-style: inset; 
	border-width: 1px; 
	text-align: center; 
	width: 15ex;
	background-color: #DDDDDD;
}
div.problemHeader { float: left; }
div.problem { clear: both; }
.parsehilight { background-color:yellow; }

</style>
</head>
<body>
<table width="100%" cellpadding="10" cellspacing="0" border="0">
	<tr valign="top">
		<td align="left" rowspan="2" class="LeftPanel">
			<img src="/webwork2_files/images/webwork_square.gif" alt="WeBWorK" height="64" width="66" />
			<br />
			<hr />
			<div class="Logo">
				<a href="http://webwork3.math.rochester.edu/bugzilla/enter_bug.cgi?product=WeBWorK%20mod_perl" target="bugzillaPage">Report bugs</a>
			</div>
			<!--#if loggedin="1"-->
			<hr />
			<div class="Links">
				<!--#links-->
			</div>
			<!--#if can="links"-->
			<!--#if can="siblings"-->
			<hr />
			<!--#endif-->
			<!--#endif-->
			<div class="Siblings">
				<!--#siblings-->
			</div>
			<!--#if can="options"-->
			<div class="Options">
				<!--#options-->
			</div>
			<!--#endif-->
			<!--#endif-->
		</td>
		<td class="TopPanel">
			<!--#if loggedin="1"-->
			<!--#if can="loginstatus"-->
			<div class="LoginStatus">
				<!--#loginstatus-->
			</div>
			<!--#endif-->
			<!--#endif-->
			<!--#if can="path"-->
			<div class="Path">
				<!--#path style="text" image="/webwork2_files/images/right_arrow.png" text=" > "-->
			</div>
			<!--#endif-->
		</td>
	</tr>
	<tr valign="top">
		<!--#if warnings="1"-->
		<td class="ContentPanelError" bgcolor="#ffcccc">
		<!--#else-->
		<td class="ContentPanel" bgcolor="#ffffff">
		<!--#endif-->	
			<!--#if can="info"-->
			<div class="Info">
				<!--#info-->
			</div>
			<!--#endif-->
			<!--#if can="nav"-->
			<div class="Nav">
				<!--#nav style="images" imageprefix="/webwork2_files/images/nav" imagesuffix=".gif" separator="  "-->
			</div>
			<!--#endif-->
			<!--#if can="title"-->
			<div class="Title">
				<!--#title-->
			</div>
			<!--#endif-->
			<!--#if submiterror="1"-->
			<div class="SubmitError">
				<!--#submiterror-->
			</div>
			<!--#endif-->
			<!--#if can="body"-->
			<div class="Body">
				<!--#body-->
			</div>
			<!--#endif-->
			<!--#if warnings="1"-->
			<hr>
			<div class="Warnings">
				<!--#warnings-->
			</div>
			<!--#endif-->
		</td>
 	</tr>
</table>
</body>
</html>
