#!perl

#############################################################################
# authen_LTI.conf
# Configuration for using LTI authentication.
# To enable this file, uncomment the appropriate lines in localOverrides.conf
#############################################################################

# This first section enables LTI authentication.  To enable failover to another
# Authentication method, uncomment the remaining lines, and fill in the
# appropriate authentication module.

$debug_lti_parameters = 0; # set this to 1 to have LTI calling parameters printed to HTML page for debugging

# edit these variables as necessary: $preferred_source_of_username, $strip_address_from_email
# and  $LTIBasicConsumerSecret
# The others can be left with default values during the initial configuration.

###################
$authen{user_module} = [ 
	{  "*" => "WeBWorK::Authen::LTIBasic", },           #preferred authorization method
	{  "*" => "WeBWorK::Authen::Basic_TheLastOption",}  #fallback authorization method
];

#If the preferred module is an external authentication
#module but the sequence includes an internal authentication
#system, e.g., Basic_TheLastOption, then the following line
#must be uncommented for use by WeBWorK::Logout.
# If it is uncommented and the value = 1,
# then, if the authentication sequence reaches 
# Basic_TheLastOption, then WeBWorK::Login
# will display a screen directing the user
# back to an external authentication system.
# On the other hand, if the value = 0 or
# the line is commented out, then WeBWorK::Login
# will display the traditional passwork login screen.
# Upon logging out, if the line is not commented out
# and the value = 1, then the Logout screen will NOT
# show a "Login Again" button and will display
# a message directing the user to go to the
# external authentication system.
# On the other hand, if the line is commented out
# or if the value = 0, then the Logout screen WILL
# display a "Login Again" button that will take
# the user to a pasword login screen.

#$external_auth=1;

################################################################################
# LTI Basic parameters
################################################################################

################################################################################
# LTI Preferred Source of Username
################################################################################


# If both lis_person_sourcedid (or one of its variants)
# and lis_person_contact_email_primary are present,
# then one needs to state which one is preferred
# as the WeBWorK username.
# The considerations are (1) ensuring that usernames
# are unique and (2) being as compatible as possible with the practices
# of the institutions that are being served in a site.
# If a site is only being used be students from a single
# institution and the value  lis_person_sourcedid  is
# unique across the population and matches the  logon username
# at that institution, then lis_person_sourcedid is
# probably the better choice.
# On the other hand, if a site is serving a population
# from several institutions and  lis_person_sourcedid  is not
# necessarily unique across the population, then
# lis_person_contact_email_primary is the better choice.
# Because the WeBWorK username must be unique across
# the population served by a site, the default if
# neither line is uncommented will be the value of
# lis_person_contact_email_primary.
# NOTE: Even if a course management system sends 
# one of the common misspellings of "lis_person_sourcedid", i.e.,
# lis_person_sourced_id, lis_person_source_id, and
# lis_person_sourceid, one must nevertheless use
# the correct spelling here, i.e. "lis_person_sourcedid".

#$preferred_source_of_username = "lis_person_sourcedid";
$preferred_source_of_username = "lis_person_contact_email_primary";

# Some LMS systems, Blackboard in particular, do not send lis_person_sourcedid
# if you enable this flag and have $preferred_source_of_username set to
# lis_person_contact_email_primary, then webwork will strip off the address 
# portion of the email and just use the username. 
$strip_address_from_email = 1;

################################################################################
# LTI Basic Authentication Parameters 
################################################################################

# This "shared secret" is entered in the LMS request form and needs to be match the entry here. 
# you should choose your own secret word for security.
$LTIBasicConsumerSecret = "WeBWorK_LTI";  
# The LMS will have a different shared secret for each LTI tool that it communicates with. 

# This allows you to override the URL that Oauth will use to validate the 
# authentication.  This is important if you have some sort of setup (e.g. load
# distributing) where the path in the LMS does not match the path that ends up 
# in the webwork page 
#$LTIBasicToThisSiteURL = "";

################################################################################
# LTI Basic Authentication Parameters
################################################################################

################################################################################
# Reasonable Number of Problems for Late Adds to do per day to catch up
################################################################################

# Uncomment the following line to adjust due dates for late adds
# who authenticate via LTIBasic
$adjustDueDatesForLateAdds = "1";

$reasonableProblemsPerDayMakeup = 15;

#The purpose of the LTI nonces is to prevent man-in-the-middle attacks.
#The NonceLifeTime (in seconds) must be short enought to prevent
#at least casual man-in-the-middle attacks but
#long enough to accommodate normal server and networking delays
#(and perhaps non-synchronization of server time clocks).
#

$NonceLifeTime=10; # in seconds

################################################################################
# Authorization system   LTI:  LMS Roles Mapped to WeBWorK Roles
################################################################################

## Each institution will need to customize these correspondences
## to take into account the roles that are used in its
## Learning Management System.

%LMSrolesToWeBWorKroles = (
    "AI/TA" => "ta",
    "assistant" => "empowered_AI",
    "instructor" => "professor",
    "librarian" => "guest",
    "librarian+" => "empoweredAI",
    "observer" => "guest",
    "student" => "student",
    "visitor" => "guest",
    "Instructor" => "professor",
    "Student" => "student",
    "Learner" => "student",
    "Teaching Assistant" => "ta",
    );

################################################################################
# Local routine to analyze the context_id forwarded to LTIBasic
################################################################################

#The section number/identifier should be passed a "custom" parameter
#by the Course Management System, usually by adding a parameter
#of the form
#  section=1234
#in the parameters section of the Course Management Systems
#LTI configuration for a site.  (LTI should automatically
#convert this to  "custom_section=1234".
#However, if no custom_section paramter is passed to WeBWorK,
#then a site can optionally attempt to parse the context_id
#to determine a section name.

# An example from Indiana University, Bloomington
#
#$analyze_context_id = 
#	sub {my $self = shift;
#	if (! (defined($self -> {semester}) && defined($self -> {section})) ) {
#	   		my @course_id=split /-/, $self -> {"context_id"};
#      		$self -> {"semester"} = "4" . substr($course_id[0],2,2)
#  						. (substr($course_id[0],0,2) eq "FA") ? "8"
#          				: substr($course_id[0],0,2) eq "SP"? "2" : "5";
#      		$self -> {"section"} = $course_id[4];
#	        }
#		};

#$analyze_context_id = sub {my $self = shift; $self -> {section} = "0000";};

################################################################################

1; #final line of the file to reassure perl that it was read properly.
