#!perl

########################################################################################
# authen_CAS.conf.dist
# Copy this file to authen_CAS.conf. Then configure it to match your server's CAS configuration.
# Then to activate add the following line to localOverrides.conf:
# include("conf/authen_CAS.conf");
########################################################################################

# Set CAS as the authentication module to use.
$authen{user_module} = {
  "*" => "WeBWorK::Authen::CAS",
};

# List of authentication modules that may be used to enter the admin course.
# This is used instead of $authen{user_module} when logging into the admin course.
# Since the admin course provides overall power to add/delete courses, access
# to this course should be protected by the best possible authentication you
# have available to you.
$authen{admin_module} = [
	'WeBWorK::Authen::CAS'
];

$authen{cas_options} = {
	# Options to pass to the AuthCAS module.
	# Note that this is (plain) AuthCAS, not Apache::AuthCAS
	# or Apache2::AuthCAS.
	# You need at least casUrl and CAFile; others can be set as well.
	AuthCAS_opts => {
		# URL of CAS server.  Edit the host below.
		casUrl => '', #e.g. 'https://auth.berkeley.edu/cas',

		# Path of certificate file for CAS server.
		CAFile => '', #e.g. '/etc/pki/tls/certs/ca-bundle.crt',
	},

	# Options specific to CAS authentication in WeBWorK

	# On most college campuses, the CAS system is a campus-wide system,
	# and individual departments may not be able to create their own CAS
	# userids.  Instead, therefore, we support a "setUser" facility, with
	# controls over which users can use it and (optionally) which users
	# they can switch to.

	# This is controlled by a hash, in which the keys are the users allowed
	# to use the setUser function, and the values are either a string
	# (optionally ending in '*', signifying pattern matching) or an array
	# of such strings.
	#
	# Examples:
	#
	#   sudoers => undef,		# turns off this feature completely
	#
	#   sudoers => {admin => '*',
	#   		alice => ['demo*', 'yxzzy'],
	#   		bob => ['test1', 'test2'],
	#   		},
	#
	# This option can also be set in a course.conf file (after this file
	# authen_CAS.conf has been read in).
	#
	# Although it is true that users who can use this feature must be
	# mentioned explicitly in the sudoers hash, they do not have to have
	# accounts in the course in which it is being used.  Therefore, except
	# for people who administer the webwork site as a whole, it is best
	# to put such settings in the relevant course.conf files.
	#
	# Examples in course.conf file:
	#
	#   $authen{cas_options}{sudoers} = {
	#     'profgauss' => ['teststudent', 'testta'],
	#     };
	#
	#   # Add to existing hash
	#   $authen{cas_options}{sudoers}{profwiles} = 'test*';
	#
	# Sample usage:  To log in as user "bob" in course Calc101, access
	# webwork using a url such as:
	#	https://webwork.ouruniversity.edu/webwork2/Calc101/?setUser=bob

	sudoers => undef,
};


1; #final line of the file to reassure perl that it was read properly.
