################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/devel.apache2-config.dist,v 1.2 2006/08/03 16:14:55 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This is an Apache configuration file suitable for use when doing development
# on the WeBWorK 2 system. This setup allows each developer to run an
# independent Apache server under their own UID, using their own working copy of
# the WeBWorK code. The configuration is split into three parts:
# 
# The first part is a site-specific (but user-indepenent) file named
# devel-site.apache-config. It contains directives that are common to all
# development servers on the same host. The site administrator can chose to
# maintain a single copy of this file and have all developers reference it in a
# central location.
# 
# The second part is the stock webwork.apache-config file that is used for
# normal installations. Customize this file, setting the $webwork_url,
# $webwork_dir, $pg_dir, etc. appropriatly for your development server.
# 
# The third part is this file. It contains the user-specific directives that are
# specific to each developer's server.

################################################################################
# Include site-specific configuration
################################################################################

Include /path/to/webwork2/conf/devel-site.apache2-config

################################################################################
# Include WeBWorK configuration
################################################################################

Include /path/to/webwork2/conf/webwork.apache2-config

################################################################################
# Perform user-specific configuration
################################################################################

<Perl>

use Apache2::ServerUtil;
use Apache2::ServerRec;

my $user_name  = (getpwuid $>)[0];
my $group_name = (getgrgid $))[0];
my $host_name  = Apache2::ServerUtil->server->server_hostname;

# The server will run as the user who starts it.
$User  = $user_name;
$Group = $group_name;

# It will listen on a port equal to the UID of the user who starts it +8000.
# This effectively picks a port between 9000 and 9999 since UID's are >=1000.
$Listen = "0.0.0.0:" . ($>+8000);

# Email address of server administator.
$ServerAdmin = "$user_name\@$host_name";

</Perl>

################################################################################
# Stick any local additions down here
################################################################################

