################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/devel-site.apache-config.dist,v 1.7 2006/09/01 14:16:36 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file contains the site-specific (but user-independent) directives used
# in the configuration of Apache servers for WeBWorK development. See the file
# devel.apache-config for more information.
# 
# Configure this file to match your main Apache configuration file, usually
# apache.conf or httpd.conf. This file ships configured use on the host
# devel.webwork.rochester.edu.

################################################################################
# Section 1: Global Environment
################################################################################

ServerType standalone
#ServerRoot /usr/local
ResourceConfig /dev/null
AccessConfig /dev/null
Timeout 300
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 15

# Dynamic Shared Object (DSO) Support
# Note: The order in which modules are loaded is important.  Don't change
# the order below without expert advice.
LoadModule mmap_static_module /usr/local/libexec/apache/mod_mmap_static.so
LoadModule vhost_alias_module /usr/local/libexec/apache/mod_vhost_alias.so
LoadModule env_module         /usr/local/libexec/apache/mod_env.so
LoadModule define_module      /usr/local/libexec/apache/mod_define.so
LoadModule config_log_module  /usr/local/libexec/apache/mod_log_config.so
LoadModule mime_magic_module  /usr/local/libexec/apache/mod_mime_magic.so
LoadModule mime_module        /usr/local/libexec/apache/mod_mime.so
LoadModule negotiation_module /usr/local/libexec/apache/mod_negotiation.so
LoadModule status_module      /usr/local/libexec/apache/mod_status.so
LoadModule info_module        /usr/local/libexec/apache/mod_info.so
LoadModule includes_module    /usr/local/libexec/apache/mod_include.so
LoadModule autoindex_module   /usr/local/libexec/apache/mod_autoindex.so
LoadModule dir_module         /usr/local/libexec/apache/mod_dir.so
LoadModule cgi_module         /usr/local/libexec/apache/mod_cgi.so
LoadModule asis_module        /usr/local/libexec/apache/mod_asis.so
LoadModule imap_module        /usr/local/libexec/apache/mod_imap.so
LoadModule action_module      /usr/local/libexec/apache/mod_actions.so
LoadModule speling_module     /usr/local/libexec/apache/mod_speling.so
LoadModule userdir_module     /usr/local/libexec/apache/mod_userdir.so
LoadModule alias_module       /usr/local/libexec/apache/mod_alias.so
LoadModule rewrite_module     /usr/local/libexec/apache/mod_rewrite.so
LoadModule access_module      /usr/local/libexec/apache/mod_access.so
LoadModule auth_module        /usr/local/libexec/apache/mod_auth.so
LoadModule anon_auth_module   /usr/local/libexec/apache/mod_auth_anon.so
LoadModule db_auth_module     /usr/local/libexec/apache/mod_auth_db.so
LoadModule digest_module      /usr/local/libexec/apache/mod_digest.so
LoadModule proxy_module       /usr/local/libexec/apache/libproxy.so
LoadModule cern_meta_module   /usr/local/libexec/apache/mod_cern_meta.so
LoadModule expires_module     /usr/local/libexec/apache/mod_expires.so
LoadModule headers_module     /usr/local/libexec/apache/mod_headers.so
LoadModule usertrack_module   /usr/local/libexec/apache/mod_usertrack.so
LoadModule log_forensic_module /usr/local/libexec/apache/mod_log_forensic.so
LoadModule unique_id_module   /usr/local/libexec/apache/mod_unique_id.so
LoadModule setenvif_module    /usr/local/libexec/apache/mod_setenvif.so
<IfDefine SSL>
LoadModule ssl_module         /usr/local/libexec/apache/libssl.so
</IfDefine>
LoadModule perl_module        /usr/local/libexec/apache/libperl.so
LoadModule php4_module        /usr/local/libexec/apache/libphp4.so

#  Reconstruction of the complete module list from all available modules
#  (static and shared ones) to achieve correct module execution order.
#  [WHENEVER YOU CHANGE THE LOADMODULE SECTION ABOVE UPDATE THIS, TOO]
ClearModuleList
AddModule mod_mmap_static.c
AddModule mod_vhost_alias.c
AddModule mod_env.c
AddModule mod_define.c
AddModule mod_log_config.c
AddModule mod_mime_magic.c
AddModule mod_mime.c
AddModule mod_negotiation.c
AddModule mod_status.c
AddModule mod_info.c
AddModule mod_include.c
AddModule mod_autoindex.c
AddModule mod_dir.c
AddModule mod_cgi.c
AddModule mod_asis.c
AddModule mod_imap.c
AddModule mod_actions.c
AddModule mod_speling.c
AddModule mod_userdir.c
AddModule mod_alias.c
AddModule mod_rewrite.c
AddModule mod_access.c
AddModule mod_auth.c
AddModule mod_auth_anon.c
AddModule mod_auth_db.c
AddModule mod_digest.c
AddModule mod_proxy.c
AddModule mod_cern_meta.c
AddModule mod_expires.c
AddModule mod_headers.c
AddModule mod_usertrack.c
AddModule mod_log_forensic.c
AddModule mod_unique_id.c
AddModule mod_so.c
AddModule mod_setenvif.c
<IfDefine SSL>
AddModule mod_ssl.c
</IfDefine>
AddModule mod_perl.c
AddModule mod_php4.c

ExtendedStatus On

################################################################################
# Section 2: 'Main' server configuration
################################################################################

ServerName devel.webwork.rochester.edu
UseCanonicalName Off

<Directory />
    Options FollowSymLinks
    AllowOverride None
</Directory>

# DirectoryIndex: Name of the file or files to use as a pre-written HTML
# directory index.  Separate multiple entries with spaces.
<IfModule mod_dir.c>
    <IfModule mod_php3.c>
        <IfModule mod_php4.c>
            DirectoryIndex index.php index.php3 index.html
        </IfModule>
        <IfModule !mod_php4.c>
            DirectoryIndex index.php3 index.html
        </IfModule>
    </IfModule>
    <IfModule !mod_php3.c>
        <IfModule mod_php4.c>
            DirectoryIndex index.php index.html
        </IfModule>
        <IfModule !mod_php4.c>
            DirectoryIndex index.html
        </IfModule>
    </IfModule>
</IfModule>

AccessFileName .htaccess

# Prevent downloads of .htaccess and .htpasswd files
<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

<IfModule mod_mime.c>
    TypesConfig /usr/local/etc/apache/mime.types
</IfModule>

# Another good DefaultType is application/octet-stream
DefaultType text/plain

<IfModule mod_mime_magic.c>
    MIMEMagicFile /usr/local/etc/apache/magic
</IfModule>

# Logging stuff
HostnameLookups On

# Possible values include: debug, info, notice, warn, error, crit,
# alert, emerg.
LogLevel warn

LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent

# Set to "EMail" to also include a mailto: link to the ServerAdmin.
# Set to one of:  On | Off | EMail
ServerSignature On

<IfModule mod_alias.c>
    # Note that if you include a trailing / on fakename then the server will
    # require it to be present in the URL.  So "/icons" isn't aliased in this
    # example, only "/icons/".  If the fakename is slash-terminated, then the 
    # realname must also be slash terminated, and if the fakename omits the 
    # trailing slash, the realname must also omit it.
    Alias /icons/ "/usr/local/www/icons/"

    <Directory "/usr/local/www/icons">
        Options Indexes MultiViews
        AllowOverride None
        Order allow,deny
        Allow from all
    </Directory>

#    # The same rules about trailing "/" apply to ScriptAlias directives as to
#    # Alias.
#    ScriptAlias /cgi-bin/ "/usr/local/www/cgi-bin/"
#
#    <Directory "/usr/local/www/cgi-bin">
#        AllowOverride None
#        Options None
#        Order allow,deny
#        Allow from all
#    </Directory>

</IfModule>

# Directives controlling the display of server-generated directory listings.
<IfModule mod_autoindex.c>

    # FancyIndexing is whether you want fancy directory indexing or standard
    IndexOptions FancyIndexing

    # AddIcon* directives tell the server which icon to show for different
    # files or filename extensions.  These are only displayed for
    # FancyIndexed directories.
    AddIconByEncoding (CMP,/icons/compressed.gif) x-compress x-gzip

    AddIconByType (TXT,/icons/text.gif) text/*
    AddIconByType (IMG,/icons/image2.gif) image/*
    AddIconByType (SND,/icons/sound2.gif) audio/*
    AddIconByType (VID,/icons/movie.gif) video/*

    AddIcon /icons/binary.gif .bin .exe
    AddIcon /icons/binhex.gif .hqx
    AddIcon /icons/tar.gif .tar
    AddIcon /icons/world2.gif .wrl .wrl.gz .vrml .vrm .iv
    AddIcon /icons/compressed.gif .Z .z .tgz .gz .zip
    AddIcon /icons/a.gif .ps .ai .eps
    AddIcon /icons/layout.gif .html .shtml .htm .pdf
    AddIcon /icons/text.gif .txt
    AddIcon /icons/c.gif .c
    AddIcon /icons/p.gif .pl .py
    AddIcon /icons/f.gif .for
    AddIcon /icons/dvi.gif .dvi
    AddIcon /icons/uuencoded.gif .uu
    AddIcon /icons/script.gif .conf .sh .shar .csh .ksh .tcl
    AddIcon /icons/tex.gif .tex
    AddIcon /icons/bomb.gif core

    AddIcon /icons/back.gif ..
    AddIcon /icons/hand.right.gif README
    AddIcon /icons/folder.gif ^^DIRECTORY^^
    AddIcon /icons/blank.gif ^^BLANKICON^^

    DefaultIcon /icons/unknown.gif

    #AddDescription "GZIP compressed document" .gz
    #AddDescription "tar archive" .tar
    #AddDescription "GZIP compressed tar archive" .tgz

    # If MultiViews are amongst the Options in effect, the server will
    # first look for name.html and include it if found.  If name.html
    # doesn't exist, the server will then look for name.txt and include
    # it as plaintext if found.
    ReadmeName README
    HeaderName HEADER
    IndexIgnore .??* *~ *# HEADER* README* RCS CVS *,v *,t
</IfModule>

# Document types.
<IfModule mod_mime.c>

    #
    # AddEncoding allows you to have certain browsers (Mosaic/X 2.1+) uncompress
    # information on the fly. Note: Not all browsers support this.
    # Despite the name similarity, the following Add* directives have nothing
    # to do with the FancyIndexing customization directives above.
    #
    AddEncoding x-compress Z
    AddEncoding x-gzip gz tgz

    AddLanguage da .dk
    AddLanguage nl .nl
    AddLanguage en .en
    AddLanguage et .ee
    AddLanguage fr .fr
    AddLanguage de .de
    AddLanguage el .el
    AddLanguage he .he
    AddCharset ISO-8859-8 .iso8859-8
    AddLanguage it .it
    AddLanguage ja .ja
    AddCharset ISO-2022-JP .jis
    AddLanguage kr .kr
    AddCharset ISO-2022-KR .iso-kr
    AddLanguage nn .nn
    AddLanguage no .no
    AddLanguage pl .po
    AddCharset ISO-8859-2 .iso-pl
    AddLanguage pt .pt
    AddLanguage pt-br .pt-br
    AddLanguage ltz .lu
    AddLanguage ca .ca
    AddLanguage es .es
    AddLanguage sv .sv
    AddLanguage cz .cz
    AddLanguage ru .ru
    AddLanguage zh-tw .tw
    AddLanguage tw .tw
    AddCharset Big5         .Big5    .big5
    AddCharset WINDOWS-1251 .cp-1251
    AddCharset CP866        .cp866
    AddCharset ISO-8859-5   .iso-ru
    AddCharset KOI8-R       .koi8-r
    AddCharset UCS-2        .ucs2
    AddCharset UCS-4        .ucs4
    AddCharset UTF-8        .utf8

    <IfModule mod_negotiation.c>
        LanguagePriority en da nl et fr de el it ja kr no pl pt pt-br ru ltz ca es sv tw
    </IfModule>

    <IfModule mod_php3.c>
	AddType application/x-httpd-php3 .php3
	AddType application/x-httpd-php3-source .php3s
    </IfModule>
    <IfModule mod_php4.c>
	AddType application/x-httpd-php .php
	AddType application/x-httpd-php-source .phps
    </IfModule>

    AddType application/x-tar .tgz
    AddType image/x-icon .ico

    #AddHandler cgi-script .cgi
    #AddType text/html .shtml
    #AddHandler server-parsed .shtml
    #AddHandler send-as-is asis
    #AddHandler imap-file map
    #AddHandler type-map var

</IfModule>

#Action media/type /cgi-script/location
#Action handler-name /cgi-script/location

# MetaDir: specifies the name of the directory in which Apache can find
# meta information files. These files contain additional HTTP headers
# to include when sending the document
#MetaDir .web

# MetaSuffix: specifies the file name suffix for the file containing the
# meta information.
#MetaSuffix .meta

#ErrorDocument 500 "The server made a boo boo.
#ErrorDocument 404 /missing.html
#ErrorDocument 404 /cgi-bin/missing_handler.pl
#ErrorDocument 402 http://some.other-server.com/subscription_info.html

<IfModule mod_setenvif.c>
    BrowserMatch "Mozilla/2" nokeepalive
    BrowserMatch "MSIE 4\.0b2;" nokeepalive downgrade-1.0 force-response-1.0
    BrowserMatch "RealPlayer 4\.0" force-response-1.0
    BrowserMatch "Java/1\.0" force-response-1.0
    BrowserMatch "JDK/1\.0" force-response-1.0
</IfModule>

<Location /server-status>
    SetHandler server-status
    Order allow,deny
    Allow from all
</Location>

<Location /server-info>
    SetHandler server-info
    Order allow,deny
    Allow from all
</Location>

<Location /perl-status>
    SetHandler perl-script
    PerlHandler Apache::Status
    PerlSetVar StatusOptionsAll On
    Order allow,deny
    Allow from all
</Location>

<IfDefine SSL>
    AddType application/x-x509-ca-cert .crt
    AddType application/x-pkcs7-crl    .crl
</IfDefine>

<IfModule mod_ssl.c>
    SSLPassPhraseDialog  builtin
    
    SSLSessionCache         dbm:run/ssl_scache
    SSLSessionCacheTimeout  300
    
    SSLMutex  file:run/ssl_mutex
    
    SSLRandomSeed startup builtin
    SSLRandomSeed connect builtin
    
    #sam# label this as an apache1 log
    SSLLog      logs/httpd-ssl.log
    SSLLogLevel info
</IfModule>
