#!perl
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/global.conf.dist,v 1.225 2010/05/18 18:03:31 apizer Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file is no longer used for WeBWorK configuration.  It has been replaced by
# three new files:
# site.conf - Fill in default paths and URLs for your server in this file
# defaults.conf - You should not need to edit this file.  It contains the default
#                 values for all necessary configuration variables, and will be
#                 updated every time you update WeBWorK
# localOverrides.conf - This is where you should place all configuration options
#                       which differ from the defaults.  This file will not be
#                       overridden by WeBWorK updates.




1; #final line of the file to reassure perl that it was read properly.
