################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2003 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork-modperl/conf/httpd-wwmp.conf.dist,v 1.14 2004/06/24 16:59:30 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# The best way to turn this into a working webwork server config file is to do
# a global find/replace on the following strings:
#	!WEBWORK_ROOT! -> the root of your personal webwork2 tree
#	!WEBWORK_USER! -> your user name
#	!WEBWORK_PORT! -> the port on which you want to run this server
#	                  (please use 10000 + your UID)
#	!PG_ROOT!      -> the root of your personal pg tree
#   !COURSES_ROOT! -> the root of courses tree
# 
# After those find/replace operations, you should edit the access control
# statements at the bottom of this file.

Include !WEBWORK_ROOT!/conf/httpd-wwmp-header.conf

Port !WEBWORK_PORT!
User !WEBWORK_USER!
Group !WEBWORK_USER!

ServerAdmin !WEBWORK_USER!@localhost

LockFile !WEBWORK_ROOT!/logs/httpd.lock
PidFile !WEBWORK_ROOT!/logs/httpd.pid
ErrorLog !WEBWORK_ROOT!/logs/error.log

# On systems that use it, ScoreBoardFile must be different for different
# invocations of Apache.  webwork-dev doens't appear to be one of those
# systems.
#ScoreBoardFile /var/run/httpd.scoreboard

# We're limiting the number of children because we'll be running a lot and
# don't want to bog the development box down.
StartServers 2
MinSpareServers 2
MaxSpareServers 2
MaxClients 150
# How "old" a child is allowed to get.  0 for unlimited requests
# Pick a low number -- you're bound to screw something up, right?
MaxRequestsPerChild 100 

# This DocumentRoot doesn't actually make a lot of sense.  In a
# WeBWorK mod_perl system, there is no static document root, but the
# DocumentRoot does have to exist, and not have a subdirectory
# named "webwork2".  It suffices.
DocumentRoot "!WEBWORK_ROOT!/htdocs"

########## WeBWorK 2 ##########

# Define the location that is handled by the Apache::WeBWorK module, and tell
# perl where to find the libraries Apache::WeBWorK will need to run:
# 
<Location /webwork2>
   PerlSetVar webwork_root !WEBWORK_ROOT!
   PerlSetVar pg_root !PG_ROOT!
   <Perl>
     use lib "!WEBWORK_ROOT!/lib";
     use lib "!PG_ROOT!/lib";
   </Perl>
   SetHandler perl-script
   PerlHandler Apache::WeBWorK
</Location>

# Provide access to system-wide resources:
# 
Alias /webwork2_files !WEBWORK_ROOT!/htdocs
<Directory !WEBWORK_ROOT!/htdocs>
   Options None
   AllowOverride None
</Directory>

# Provide access to course-specific resources:
# 
AliasMatch /webwork2_course_files/([^/]*)/(.*) !COURSES_ROOT!/$1/html/$2
<Directory !COURSES_ROOT!/*/html>
   Options FollowSymLinks
   AllowOverride None
</Directory>

########## Access control ##########

# Possible forms of access limitation (edit to taste)

# The developer maintains a personal htpasswd file
#<Location />
#	AuthType Basic
#	AuthName "!WEBWORK_USER!'s WeBWorK development system"
#	AuthUserFile !WEBWORK_ROOT!/conf/htpasswd
#	Require valid-user
#</Location>

# There is a site-wide htpasswd file somewhere, with all developers in it
#<Location />
#	AuthType Basic
#	AuthName "!WEBWORK_USER!'s WeBWorK development system"
#	AuthUserFile /path/to/site/htpasswd/file
#	Require valid-user
#</Location>

# You have mod_pam_auth and would like to authenticate against your /etc/passwd   
# file.  (NOTE: It is a good idea to use Digest authentication instead of Basic,  
# even though this limits your choice of browsers, because of the heightened      
# sensitivity of normal system passwords.)
#<Location />
#	AuthType Digest
#	AuthName "!WEBWORK_USER!'s WeBWorK development system"
#	AuthPAM_Enabled on
#	Require valid-user
##	Require group wwdev
#</Location>

########## Local additions ##########
