#!perl
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/localOverrides.conf.dist,v 1.225 2010/05/18 18:03:31 apizer Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file should be used to override any of the default settings in defaults.config.
# The most commonly changed settings are provided as examples below, but any directive
# in defaults.config can be copied to this file with the value changed.
# If you wish to make changes to an individual course, copy the entry into the
# course.conf file in the respective course directory.

################################################################################
# localOverrides.conf  -- this file
################################################################################

# localOverrides.conf contains the local modifications commonly made
# when installing WeBWorK on a new site. The configurations in defaults.config
# and in database.conf can usually remain untouched.
#
# localOverride.conf is the appropriate place to override permission settings, 
# paths to macros and other customizations that are specific to your 
# WeBWorK site


################################################################################
# Additional mail settings in defaults.conf can be overridden here
################################################################################

# This setting is only used if you need to send email from within a PG problem
# (e.g. surveys, essay questions).  It is not necessary for using the email
# tools in WeBWorK.  You can set email addresses here for users who need to 
# receive email from problems in all courses, or in course.conf for professors
# who will receive email from problems in a single course. 

$mail{feedbackRecipients}    = [
	#'prof1@yourserver.yourdomain.edu',
	#'prof2@yourserver.yourdomain.edu',
];





################################################################################
# Theme
################################################################################

$defaultTheme = "math4";
$defaultThemeTemplate = "system";

################################################################################
# Language
################################################################################

$language = "en";   
# Check the directory .../webwork2/lib/WeBWorK/Localize to what languages are
# currently supported (e.g. en, es,. fr, heb, tr, zk_hk).

################################################################################
# Default screen header files
################################################################################

# The setHeader preceeds each set in hardcopy output. It is a PG file.
# This is the default file which is used if a specific files is not selected

$webworkFiles{hardcopySnippets}{setHeader}     = "$webworkDirs{conf}/snippets/ASimpleCombinedHeaderFile.pg";

#$webworkFiles{hardcopySnippets}{setHeader}     = "$courseDirs{templates}/ASimpleHardCopyHeaderFile.pg"; # An alternate default hardcopy only header file
#$webworkFiles{hardcopySnippets}{setHeader}     = "$courseDirs{templates}/ASimpleCombinedHeaderFile.pg";

# The set header is displayed on the problem set page. It is a PG file.
# One of these default files which is used if a specific files is not selected

$webworkFiles{screenSnippets}{setHeader}         = "$webworkDirs{conf}/snippets/ASimpleCombinedHeaderFile.pg"; 

# $webworkFiles{screenSnippets}{setHeader}         = "$courseDirs{templates}/ASimpleScreenHeaderFile.pg"; # An alternate default screen HTML only header file
# $webworkFiles{screenSnippets}{setHeader}         = "$courseDirs{templates}/ASimpleCombinedHeaderFile.pg";


################################################################################
# National Problem Library / Open Problem Library
################################################################################


# For configuration instructions, see:
# http://webwork.maa.org/wiki/National_Problem_Library

# The directory containing the natinal problem library files. 
# Set the root to "" if no problem
# library is installed. Use version 2 for the NPL and use the version 2.5  for the OPL. 
# When changing from the NPL to the OPL it is important to change the version number
# because the names of the tables in the database have changed.
#$problemLibrary{root}        = "/opt/webwork/libraries/NationalProblemLibrary";
#$problemLibrary{version}     = "2";
# uncomment these lines above and comment out the two lines below if using NPL instead of OPL
$problemLibrary{root}       = "/opt/webwork/libraries/webwork-open-problem-library/OpenProblemLibrary";
$problemLibrary{version}    = "2.5";  

# Additional library buttons can be added to the Library Browser (SetMaker.pm)
# by adding the libraries you want to the following line.  For each key=>value
# in the list, if a directory (or link to a directory) with name 'key' appears
# in the templates directory, then a button with name 'value' will be placed at
# the top of the problem browser.  (No button will appear if there is no
# directory or link with the given name in the templates directory.)  For
# example,
# 
#     $courseFiles{problibs} = {rochester => "Rochester", asu => "ASU"};
# 
# would add two buttons, one for the Rochester library and one for the ASU
# library, provided templates/rochester and templates/asu exists either as 
# subdirectories or links to other directories. The "NPL Directory" button
# activated below gives access to all the directories in the National 
# Problem Library.
 
$courseFiles{problibs}    = {
	Library          => "OPL Directory",
# 	rochesterLibrary => "Rochester",
# 	unionLibrary     => "Union",
# 	asuLibrary       => "Arizona State",
# 	dcdsLibrary      => "Detroit CDS",
# 	dartmouthLibrary => "Dartmouth",
# 	indianaLibrary   => "Indiana",
# 	osuLibrary       => "Ohio State",	
#       capaLibrary      => "CAPA",
};


################################################################################
# Permission levels
################################################################################

# The default roles are defined in defaults.config.  To change the list of available
# roles, copy the %userRoles hash from defaults.config into this file with the
# appropriate changes.

# User roles in order of increasing permissions. Each level has all of the privileges of
# the lower levels.
# 	guest 
# 	student 
# 	login_proctor
# 	grade_proctor
# 	ta 
# 	professor 
# 	admin

# The complete list of permissions is available in defaults.config.  If you want
# to change the lowest role which has that permission, use the following syntax:

#  $permissionLevels{login} = "guest";


# The above code would give the permission to login to any user with permission
# level guest or higher.

$permissionLevels{dont_log_past_answers} = undef;
#$permissionLevels{record_set_version_answers_when_acting_as_student} = "professor";
#$permissionLevels{record_answers_when_acting_as_student}             = "professor";

################################################################################
# PG subsystem options
################################################################################

# List of enabled display modes. Comment out any modes you don't wish to make
# available for use.
$pg{displayModes} = [
#	"plainText",     # display raw TeX for math expressions
	"images",        # display math expressions as images generated by dvipng
	"MathJax",       # render TeX math expressions on the client side using MathJax --- we strongly recommend people install and use MathJax and it is required if you want to use mathview
];

# Default display mode. Should be an uncommented item listed above.
$pg{options}{displayMode}        = "images";
 
################################################################################
#  Adding to the macro file search path. (Check with entries in defaults.config before overriding)
################################################################################
# The list of directories searched by loadMacros() when it looks for a .pl file
# is defined in defaults.config.
# To add a directory to this list, use the following syntax:
#
#  $pg{directories}{macrosPath} = [@{$pg{directories}{macrosPath}},"/path/to/new/location"];
#
# If your new directory is a subdirectory of the National Problem Library, you may use the prefix of
# $courseDirs{templates}/Library/ (such as "$courseDirs{templates}/Library/mymacrosdir")
# Note: This will look for macro files in your new location only after checking all of the locations
# already defined in defaults.config.
# You may reverse the order of the two arguments above AT YOUR OWN RISK, as this will check your
# new location even before the local directory of the problem, so your new location will take
# precedence over all other locations.

################################################################################
# Adding to the applet search path.
################################################################################

# If a full URL is given, it is used unmodified. If an
# absolute path is given, the URL of the local server is prepended to it.
# 
# For example, if an item is "/math/applets",
# and the local server is  "https://math.yourschool.edu",
# then the URL "https://math.yourschool.edu/math/applets" will be used.
# 
# If your new applets location is a subdirectory of the webwork htdocs directory, you may
# use notation such as "$webworkURLs{htdocs}/newsubdir"

# $pg{directories}{appletPath} = [ @{$pg{directories}{appletPath}} , "new/url" ];

################################################################################
# Problem creation defaults
################################################################################

# The default weight (also called value) of a problem to use when using the 
# Library Browser, Problem Editor or Hmwk Sets Editor to add problems to a set
# or when this value is left blank in an imported set definition file.

$problemDefaults{value} = 1;  

# The default max_attempts for a problem to use when using the 
# Library Browser, Problem Editor or Hmwk Sets Editor to add problems to a set
# or when this value is left blank in an imported set definition file.  Note that 
# setting this to -1 gives students unlimited attempts.

$problemDefaults{max_attempts} = -1;   

################################################################################
# "Special" PG environment variables. (Stuff that doesn't fit in anywhere else.)
################################################################################

# $pg{specialPGEnvironmentVars}{DragMath} = 0;

################################################################################
# Temporary hack for displaying the different versions of the editors
################################################################################
# These configurations can be placed in course.conf file to tune the behavior for individual courses
# The items below can be used to override the settings in defaults.config
# One can also use $showeditors{classlisteditor1}=0; to override
# These will disappear (or at least decrease in number) once the final editor verisons
# are determined. 
 %showeditors = (
# 	classlisteditor1   => 1,
 	classlisteditor2   => 1,
#	classlisteditor3   => 1,
# 	
# 	homeworkseteditor1 => 1,
 	homeworkseteditor2 => 1,
#	homeworkseteditor3 => 1,
# 	
# 	librarybrowsernojs    => 1,
 	librarybrowser1    => 1,
# 	librarybrowser2    => 1,
#	librarybrowser3    => 1,
# 	
#	pgproblemeditor1   => 1,
 	pgproblemeditor2   => 1,
 	pgproblemeditor3   => 1,

);


################################################################################
# Directory for temporary files
################################################################################ 
# Location of web-accessible temporary files, such as equation images. 
# Default which is set in defaults.config:
#$webworkDirs{htdocs_temp}   = "$webworkDirs{htdocs}/tmp";
#$webworkURLs{htdocs_temp}   = "$webworkURLs{htdocs}/tmp";

# Alternate locations -- this allows you to place temporary files in a location 
# that is not backed up and is the recommended set up for most installations.
# See http://webwork.maa.org/wiki/Store_WeBWorK%27s_temporary_files_in_a_separate_directory_or_partition
# for more information.   Note that the wwtmp directory (or partition) should be 
# created under Apache's main server document root which is usually /var/www. If this 
# is in a different location on your system, edit the lines below accordingly.
# To implement, uncomment the following 6 lines:
#$webworkDirs{htdocs_temp}  =  '/var/www/wwtmp';
#$webworkURLs{htdocs_temp}   = '/wwtmp';
#$webworkDirs{equationCache} = "$webworkDirs{htdocs_temp}/equations";
#$webworkURLs{equationCache} = "$webworkURLs{htdocs_temp}/equations";
#$courseDirs{html_temp}  =  "/var/www/wwtmp/$courseName";
#$courseURLs{html_temp}   = "/wwtmp/$courseName";

################################################################################ 
# Student Date Format
################################################################################

# Uncomment the following line to customize the format of the dates displayed to
# students.  As it is written, the line below will display open, due and answer
# dates in the following format: Wed Jun 27 at 10:30am
# For all available options, consult the documentation for perl DateTime under
# "strftime patterns".
# $studentDateDisplayFormat="%a %b %d at %l:%M%P";


################################################################################
# Authentication Methods
################################################################################

# Extra modules have been created to allow WeBWorK to use certain external
# methods of authentication.

# IMS LTI Authentication
# Uncomment the following line to enable authentication via IMS LTI.
# You will have to copy the file authen_LTI.conf.dist to authen_LTI.conf,
# and then edit that file to fill in the settings for your installation.

#include("conf/authen_LTI.conf");


# LDAP Authentication
# Uncomment the following line to enable authentication via an LDAP server.
# You will have to copy the file authen_ldap.conf.dist to authen_ldap.conf,
# and then edit that file to fill in the settings for your installation.

#include("conf/authen_ldap.conf");

################################################################################
# Session Management
################################################################################

## For session management using session_cookies, uncomment the following line,
## which will override the setting  $session_management_via = "key"
## in defaults.config.
## 
## For a discussion of session_management_via session_cookies or the
## Key database, see the   Session Managment section
## of defaults.config.dist

#$session_management_via = "session_cookie";

################################################################################
# Achievement Facebook Integration
################################################################################

#  Note:  This feature is out of date and no longer works with facebooks api

## Because of the way facebook works, in order to use facebook integration
## with webwork, you will need to create a facebook "app" specific to the 
## domain name of the server you are running.  Once you have created the app
## you can enable facebook integration by setting the variables below

#$allowFacebooking = 1;
#$facebookAppId = your_app_id_here;

1; #final line of the file to reassure perl that it was read properly.
