#!perl
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright &copy; 2000-2023 The WeBWorK Project, https://github.com/openwebwork
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# These are the LTI authentication variables that may be added to the 'LTI' tab
# on the Course Configuration page.  These are added by setting the variables
# near the end of authen_LTI.conf.

# YOU SHOULD NOT NEED TO EDIT THIS FILE!!

$LTIConfigValues = {
	'LTI{v1p1}{LMS_name}' => {
		var  => 'LTI{v1p1}{LMS_name}',
		doc  => x('The name of the LMS'),
		doc2 => x(
			'The name of the LMS. This is used in messages to users that direct them to go back to '
				. 'the LMS to access something in the WeBWorK course.'
		),
		type => 'text'
	},
	'LTI{v1p1}{LMS_url}' => {
		var  => 'LTI{v1p1}{LMS_url}',
		doc  => x('A URL for the LMS'),
		doc2 => x(
			'An address that can be used to log in to the LMS. This is used in messages to users '
				. 'that direct them to go back to the LMS to access something in the WeBWorK course.'
		),
		type  => 'text',
		width => 30,
	},
	external_auth => {
		var  => 'external_auth',
		doc  => x('Require users to log in through the LMS'),
		doc2 => x(
			'If this is set, all users (including the instructor) must enter the WeBWorK course through the LMS. If '
				. 'a user reaches the regular WeBWorK login screen, they receive a message directing them back to '
				. 'the LMS.'
		),
		type => 'boolean'
	},
	LTIGradeMode => {
		var  => 'LTIGradeMode',
		doc  => x('Grade passback mode'),
		doc2 => x(
			'Sets how grades will be passed back from WeBWorK to the LMS.<dl><dt>course</dt><dd>Sends a single '
				. 'grade back to the LMS. This grade is calculated out of the total question set that has been '
				. 'assigned to a user and made open. Therefore it can appear low, since it counts problem sets with '
				. 'future due dates as zero.</dd> <dt>homework</dt><dd>Sends back a score for each problem set '
				. '(including for each quiz). To use this, the external links from the LMS must be problem set '
				. 'specific. For example, <code>webwork.myschool.edu/webwork2/course-name/problem_set_name</code>. '
				. 'If the problem set name has space characters, they should be underscores in these addresses. '
				. 'Also, to initialize the communication between WeBWorK and the LMS, the user must follow each of '
				. 'these external learning tools at least one time. Since there must be a separate external tool link '
				. 'for each problem set, this option requires more maintenance of the LMS course.</dd></dl>'
		),
		values => [ '', qw(course homework) ],
		labels => { '' => 'None', 'course' => 'Course', 'homework' => 'Homework' },
		type   => 'popuplist'
	},
	LMSManageUserData => {
		var  => 'LMSManageUserData',
		doc  => x('Allow the LMS to update user account data'),
		doc2 => x(
			'WeBWorK will automatically create users when logging in via the LMS for the first time. If this flag is '
				. 'enabled then it will also keep the user account data (first name, last name, section, recitation) '
				. 'up to date with the LMS. If a user\'s information changes in the LMS then it will change in '
				. 'WeBWorK. However, any changes to the user data via WeBWorK will be overwritten the next time the '
				. 'user logs in.'
		),
		type => 'boolean'
	},
	debug_lti_parameters => {
		var  => 'debug_lti_parameters',
		doc  => x('Show LTI parameters (for debugging)'),
		doc2 => x(
			'When this is true, then when a user enters WeBWorK from an external tool link in the LMS, the bottom of '
				. 'the screen will display the data that the LMS passed to WeBWorK. This may be useful to debug LTI, '
				. 'especially because different LMS systems have different parameters.'
		),
		type => 'boolean'
	},
};

$LTIConfigValues->{'LTI{v1p3}{LMS_name}'} =
	{ %{ $LTIConfigValues->{'LTI{v1p1}{LMS_name}'} }, var => 'LTI{v1p3}{LMS_name}' };
$LTIConfigValues->{'LTI{v1p3}{LMS_url}'} =
	{ %{ $LTIConfigValues->{'LTI{v1p1}{LMS_url}'} }, var => 'LTI{v1p3}{LMS_url}' };

if (@LTIConfigVariables && !(grep { $_->[0] eq 'LTI' } @$ConfigValues)) {
	push(@$ConfigValues,
		[ x('LTI'), map { $LTIConfigValues->{$_} } grep { defined $LTIConfigValues->{$_} } @LTIConfigVariables ]);
}

1;    # final line of the file to reassure perl that it was read properly.
