#!perl
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/global.conf.dist,v 1.225 2010/05/18 18:03:31 apizer Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file is used to set up the default WeBWorK course environment for all
# requests. Values may be overwritten by the course.conf for a specific course.
# All package variables set in this file are added to the course environment.
# If you wish to set a variable here but omit it from the course environment,
# use the "my" keyword. The $webwork_dir variable is set in the WeBWorK Apache
# configuration file (webwork.apache-config) and is available for use here. In
# addition, the $courseName variable holds the name of the current course.

################################################################################
# prelocal.conf  -- this file
################################################################################

# prelocal.conf and postlocal.conf contain the local modifications commonly made
# when installing WeBWorK on a new site. The configurations in global.conf.dist
# and in database.conf can usually remain untouched.

################################################################################
# Seed variables
################################################################################

# Set these variables to correspond to your configuration and preferences. You
# will need to restart the webserver to reset the variables in this section.

# URL of WeBWorK handler. If WeBWorK is to be on the web server root, use "". Note 
# that using "" may not work so we suggest sticking with "/webwork2".
$webwork_url         = "/webwork2";
$server_root_url   = "";   # e.g.  http://webwork.yourschool.edu or localhost
$server_userID     = "wwadmin";      
$server_groupID    = "wwdata";

# In the apache configuration file (often called httpd.conf) you will find
# User wwadmin   --- this is the $server_userID -- of course it may be wwhttpd or some other name
# Group wwdata   --- this is the $server_groupID -- this will have different names also


################################################################################
# Paths to external programs 
################################################################################

# These applications are often found in /bin, but sometimes in /usr/bin 
# or even in /opt/local/bin.
# You can use "which tar"  for example to find out where the "tar" program is located

####################################################
# system utilities
####################################################
$externalPrograms{mv}    = "/bin/mv";
$externalPrograms{cp}    = "/bin/cp";
$externalPrograms{rm}    = "/bin/rm";
$externalPrograms{mkdir} = "/bin/mkdir";
$externalPrograms{tar}   = "/bin/tar";
$externalPrograms{gzip}  = "/bin/gzip";

####################################################
# equation rendering/hardcopy utiltiies
####################################################
$externalPrograms{latex}    ="/usr/bin/latex";
$externalPrograms{pdflatex} ="/usr/bin/pdflatex --shell-escape";
$externalPrograms{dvipng}   ="/usr/bin//dvipng";
$externalPrograms{tth}      ="/usr/bin/tth";

####################################################
# NetPBM - basic image manipulation utilities
# Most sites only need to configure $netpbm_prefix.
####################################################
my $netpbm_prefix = "/usr/bin";
$externalPrograms{giftopnm} = "$netpbm_prefix/giftopnm";
$externalPrograms{ppmtopgm} = "$netpbm_prefix/ppmtopgm";
$externalPrograms{pnmtops}  = "$netpbm_prefix/pnmtops";
$externalPrograms{pnmtopng} = "$netpbm_prefix/pnmtopng";
$externalPrograms{pngtopnm} = "$netpbm_prefix/pngtopnm";

####################################################
# url checker
####################################################

$externalPrograms{checkurl} = "/usr/bin/lwp-request -d -mHEAD "; # or "/usr/local/bin/w3c -head "

####################################################
# image conversions utiltiies
# the source file is given on stdin, and the output expected on stdout.
####################################################

$externalPrograms{gif2eps} = "$externalPrograms{giftopnm} | $externalPrograms{ppmtopgm} | $externalPrograms{pnmtops} -noturn 2>/dev/null";
$externalPrograms{png2eps} = "$externalPrograms{pngtopnm} | $externalPrograms{ppmtopgm} | $externalPrograms{pnmtops} -noturn 2>/dev/null";
$externalPrograms{gif2png} = "$externalPrograms{giftopnm} | $externalPrograms{pnmtopng}";

####################################################
# mysql clients
####################################################

$externalPrograms{mysql}     ="/usr/bin/mysql";
$externalPrograms{mysqldump} ="/usr/bin/mysqldump";


####################################################
# End paths to external utilities.
####################################################

################################################################################
# Database options
################################################################################


# Standard permissions command used to initialize the webwork database
# GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, ALTER, DROP, INDEX, LOCK TABLES ON webwork.* TO webworkWrite@localhost IDENTIFIED BY 'passwordRW';

################################################################################
# these variables are used by database.conf. we define them here so that editing
# database.conf isn't necessary.

# You must initialize the database and set the password for webworkWrite.
# Uncomment the $database_password line and replace 'passwordRW' by the actual password used in the GRANT command above
# The other parameters are set as defaults in global.conf but you can modify them
# here if for example you want to use a mysql database on a remote machine.
################################################################################
$database_dsn ="dbi:mysql:webwork";
$database_username ="webworkWrite";
#$database_password ="passwordRW";  

1; #final line of the file to reassure perl that it was read properly.

