################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2006 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/webwork.apache2-config.dist,v 1.5 2006/12/19 22:25:39 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file configures Apache to handle requests for WeBWorK. To install WeBWorK
# support in your Apache configuration, add the following line to the end of
# your Apache configuration file (usually apache.conf or httpd.conf):
# 
#     Include /path/to/webwork.apache2-config
# 
# Please read throught this file if you are not using the default paths or want
# to use non-standard URLs.

# Define the location that is handled by the Apache::WeBWorK module.
# 
PerlSetVar webwork_dir /opt/webwork/webwork2
PerlSetVar webwork_url /webwork2
<Location /webwork2>
    PerlHandler Apache::WeBWorK
    SetHandler perl-script
    Options FollowSymLinks
    AllowOverride None
    Order Allow,Deny
    Allow from all
</Location>

# Provide access to system-wide resources.
# 
PerlSetVar webwork_htdocs_dir /opt/webwork/webwork2/htdocs
PerlSetVar webwork_htdocs_url /webwork2_files
Alias /webwork2_files /opt/webwork/webwork2/htdocs
<Location /webwork2_files>
    SetHandler None
</Location>
<Directory /opt/webwork/webwork2/htdocs>
    Options FollowSymLinks
    AllowOverride None
    Order Allow,Deny
    Allow from all
</Directory>

# Provide access to course-specific resources
# 
PerlSetVar webwork_courses_dir /opt/webwork/courses
PerlSetVar webwork_courses_url /webwork2_course_files
AliasMatch /webwork2_course_files/([^/]*)/(.*) /opt/webwork/courses/$1/html/$2
<Location /webwork2_course_files>
	SetHandler None
</Location>
<Directory /opt/webwork/courses/*/html>
    SetHandler None
    Options FollowSymLinks
    AllowOverride None
    Order Allow,Deny
    Allow from all
</Directory>

# Make additional settings available to WeBWorK.
# 
PerlSetVar webwork_pg_dir /opt/webwork/pg

# Include WeBWorK and PG lib directories. (We prefer PerlSwitches to "use lib"
# in a startup.pl because it prevents us from having to specify paths in two
# separate files.)
# 
PerlSwitches -I/opt/webwork/webwork2/lib
PerlSwitches -I/opt/webwork/pg/lib

# Pre-load modules.
# 
PerlModule mod_perl2
PerlModule Apache::WeBWorK

