################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/webwork.apache-config.dist,v 1.23 2008/06/24 22:54:04 gage Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file configures Apache to handle requests for WeBWorK. To install WeBWorK
# support in your Apache configuration, add the following line to the end of
# your Apache configuration file (usually apache.conf or httpd.conf):
# 
#     Include /path/to/webwork.apache-config
# 
# Customize the variables below to match your WeBWorK installation.

# Uncomment the ScriptAliasMatch to allow access to show-source.cgi
# This allows the "show source" button to work for demonstration "courses"
# See for example Davide Cervone's Knoxville lectures on math objects

#ScriptAliasMatch /webwork2_course_files/([^/]*)/show-source.cgi/(.*) /opt/webwork/courses/$1/html/show-source.cgi/$2


<Perl>

# Set this variable to the path to your WeBWorK installation.
my $webwork_dir = "/opt/webwork/webwork2";

# Cache this value for use by other scripts not necessarily in the Apache2 hierarchy
# Different scripts use different locations :-)

$ENV{WEBWORK_ROOT} = $webwork_dir;
$WeBWorK::SeedCE{webwork_dir} = $webwork_dir;
$WeBWorK::Constants::WEBWORK_DIRECTORY = $webwork_dir;

# This code reads defaults.config and extracts the remaining configuration
# variables. There is no need to modify it.
eval "use lib '$webwork_dir/lib'"; die $@ if $@;
eval "use WeBWorK::CourseEnvironment"; die $@ if $@;
my $ce = new WeBWorK::CourseEnvironment({ webwork_dir => $webwork_dir });
my $webwork_url = $ce->{webwork_url};
my $pg_dir = $ce->{pg_dir};
my $webwork_htdocs_url = $ce->{webwork_htdocs_url};
my $webwork_htdocs_dir = $ce->{webwork_htdocs_dir};
my $webwork_courses_url = $ce->{webwork_courses_url};
my $webwork_courses_dir = $ce->{webwork_courses_dir};
eval "use lib '$pg_dir/lib'"; die $@ if $@;

require Apache::WeBWorK; # force compilation of pretty much everything


# At this point, the following configuration variables should be present for use
# in wiring WeBWorK into Apache:
# 
#     $webwork_url            The base URL handled by Apache::WeBWorK.
#     $webwork_dir            The path to the base webwork2 directory.
#     $pg_dir                 The path to the base pg directory.
#     
#     $webwork_htdocs_url     The base URL of the WeBWorK htdocs directory.
#     $webwork_htdocs_dir     The path to the WeBWorK htdocs directory.
#     
#     $webwork_courses_url    The base URL of the WeBWorK courses directory.
#     $webwork_courses_dir    The path to the WeBWorK courses directory.

# Define the location that is handled by the Apache::WeBWorK module, and tell
# Perl where to find the libraries Apache::WeBWorK needs to run.
# 
$Location{$webwork_url} = {
	SetHandler => "perl-script",
	PerlHandler => "Apache::WeBWorK",
};

# Provide access to system-wide resources.
# 
push @Alias, [ $webwork_htdocs_url => $webwork_htdocs_dir ];
# make sure old alias is available even if we use lighttpd
push @Alias, [ "/webwork2_files" => $webwork_htdocs_dir ];
$Directory{$webwork_htdocs_dir} = {
	Order => "allow,deny",
	Allow => "from all",
	Options => "FollowSymLinks",
	AllowOverride => "none",
};

# Provide access to course-specific resources.
# 
push @AliasMatch, [ "$webwork_courses_url/([^/]*)/(.*)", "$webwork_courses_dir/\$1/html/\$2" ];
$Directory{"$webwork_courses_dir/*/html"} = {
	Order => "allow,deny",
	Allow => "from all",
	Options => "FollowSymLinks",
	AllowOverride => "none",
};

# If WeBWorK is on the root, exempt the static directories from being handled
# by Apache::WeBWorK.
# 
if ($webwork_url eq "") {
	$Location{$webwork_courses_url} = { SetHandler => "none" };
	$Location{$webwork_htdocs_url} = { SetHandler => "none" };
}


# The following stanzas can be uncommented to enable various experimental
# WeBWorK web services. These are still in testing and have not been audited
# for security.

# uncomment the line below if you use the XMLRPC, RQP, or SOAP installations below

$ENV{WEBWORK_ROOT} = $webwork_dir;

$PerlConfig .= <<EOF;
# ##### Sam's WeBWorK::Request-based XML-RPC testbed #####
# #
# #PerlModule WeBWorK::RPC
# #<Location /webwork2_rpc>
# #	SetHandler perl-script
# #	PerlHandler Apache::XMLRPC::Lite
# #	PerlSetVar dispatch_to "WeBWorK::RPC WeBWorK::RPC::CourseManagement"
# #</Location>
# 
# ########## XMLRPC installation ##########
# # 
# #PerlModule WebworkWebservice
# #<Location /mod_xmlrpc>
# #	SetHandler perl-script
# #	PerlHandler Apache::XMLRPC::Lite
# #	PerlSetVar dispatch_to "WebworkXMLRPC"
# #	PerlSetVar options "compress_threshold => 10000"
# #	Order Allow,Deny
# #	Allow from All
# #</Location>
# 
# ##########  RQP installation ##########
# # 
# #PerlModule RQP
# ##<Location /rqp>
# ##	SetHandler perl-script
# ##	PerlHandler Apache::SOAP
# ##	PerlSetVar dispatch_to "RQP"
# ##	PerlSetVar options "compress_threshold => 10000"
# ##	Order Allow,Deny
# ##	Allow from All
# ##</Location>
# #<Location /rqp>
# #	SetHandler perl-script
# #	PerlHandler MySOAP
# #	Order Allow,Deny
# #	Allow from All
# #</Location>
# 
# ########## SOAP installation ##########
# # 
# #PerlModule WebworkWebservice
# #<Location /mod_soap>
# #	SetHandler perl-script
# #	PerlHandler Apache::SOAP
# #	PerlSetVar dispatch_to "WebworkXMLRPC" 
# #	PerlSetVar options "compress_threshold => 10000"
# #	Order Allow,Deny
# #	Allow from All
# #</Location>
# 
# PerlModule WebworkSOAP

# #WEBWORK SOAP CONFIGURATION
# <Location /webwork2_rpc>
#         PerlHandler Apache::SOAP
#         SetHandler perl-script
#         PerlSetVar dispatch_to "WebworkSOAP"
#         PerlSetVar options "compress_threshold => 10000"
#         Order Allow,Deny
#         Allow from All
# </Location>

# #WEBWORK SOAP WSDL HANDLER :: TO BE REPLACED WITH A FILE FOR PRODUCTION SERVERS
# <Location /webwork2_wsdl>
#         PerlSetVar dispatch_to "WebworkSOAP::WSDL"
#         PerlSetVar options "compress_threshold => 10000"
#         PerlHandler WebworkSOAP::WSDL
#         SetHandler perl-script
#         Order Allow,Deny
#         Allow from All
# </Location>

EOF

</Perl>

