################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2006 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/webwork.apache2-config.dist,v 1.2.2.3 2007/04/25 16:40:02 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file configures Apache to handle requests for WeBWorK. To install WeBWorK
# support in your Apache configuration, add the following line to the end of
# your Apache configuration file (usually apache.conf or httpd.conf):
# 
#     Include /path/to/webwork.apache-config
# 
# Customize the variable $webwork_dir below to match the location of your
# WeBWorK installation.

PerlModule mod_perl2

<Perl>

my $webwork_dir = "/opt/webwork/webwork2";

eval "use lib '$webwork_dir/lib'"; die $@ if $@;
eval "use WeBWorK::CourseEnvironment"; die $@ if $@;

my $ce = new WeBWorK::CourseEnvironment({ webwork_dir => $webwork_dir });
my $webwork_url = $ce->{webwork_url};
my $pg_dir = $ce->{pg_dir};
my $webwork_htdocs_url = $ce->{webwork_htdocs_url};
my $webwork_htdocs_dir = $ce->{webwork_htdocs_dir};
my $webwork_courses_url = $ce->{webwork_courses_url};
my $webwork_courses_dir = $ce->{webwork_courses_dir};
eval "use lib '$pg_dir/lib'"; die $@ if $@;

eval "use WeBWorK::PG::ImageGenerator"; die $@ if $@;
$WeBWorK::SeedCE{webwork_dir} = $webwork_dir;
$ENV{WEBWORK_ROOT} = $webwork_dir;

</Perl>

AliasMatch /webwork2_course_files/([^/]*)/(.*) /opt/webwork/courses/$1/html/$2
Alias /webwork2_files /opt/webwork/webwork2/htdocs
<Directory /opt/webwork/courses/*/html>
    Allow from all
    AllowOverride None
    Options FollowSymLinks
    Order allow,deny
</Directory>
<Directory /opt/webwork/webwork2/htdocs>
    Allow from all
    AllowOverride None
    Options FollowSymLinks
    Order allow,deny
</Directory>
<Location /webwork2>
    PerlInitHandler Apache2::Reload
    PerlSetVar ReloadAll Off
    PerlSetVar ReloadModules "Apache::WeBWorK WeBWorK::*"
    PerlHandler Apache::WeBWorK
    SetHandler perl-script
    #PerlFixuphandler Apache::DB
</Location>
#WEBWORK SOAP TEST CONFIGURATION
<Files soap.php>
    PerlInitHandler Apache2::Reload
    PerlSetVar ReloadAll On
    PerlSetVar ReloadModules "WebworkSOAP WeBWorK::* WebworkSOAP::* WebworkSOAP::Classes::*"
</Files>

PerlModule Apache2::Reload
PerlModule WebworkSOAP
#WEBWORK SOAP CONFIGURATION
<Location /webwork2_rpc>
	PerlInitHandler Apache2::Reload
	PerlHandler Apache::SOAP
	SetHandler perl-script
	PerlSetVar ReloadAll Off
	PerlSetVar ReloadModules "WeBWorK::* WebworkSOAP WebworkSOAP::*"
	PerlSetVar dispatch_to "WebworkSOAP"
	PerlSetVar options "compress_threshold => 10000"
	Order Allow,Deny
	Allow from All
</Location>
#WEBWORK SOAP WSDL HANDLER :: TO BE REPLACED WITH A FILE FOR PRODUCTION SERVERS
<Location /webwork2_wsdl>
	PerlInitHandler Apache2::Reload
	PerlSetVar ReloadAll Off
	PerlSetVar ReloadModules "WeBWorK::* WebworkSOAP::* WebworkSOAP"
	PerlSetVar dispatch_to "WebworkSOAP::WSDL"
	PerlSetVar options "compress_threshold => 10000"
	PerlHandler WebworkSOAP::WSDL
	SetHandler perl-script
	Order Allow,Deny
	Allow from All
</Location>


