################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2010 The WeBWorK Project, http://openwebwork.sf.net/
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################

# This file configures Apache to handle requests for WeBWorK. To install WeBWorK
# support in your Apache configuration, add the following line to the end of
# your Apache configuration file (usually apache.conf or httpd.conf):
# 
#     Include /path/to/webwork.apache2-config
# 
# Customize the variable $webwork_dir below to match the location of your
# WeBWorK installation.
# 
# ATTENTION APACHE 2.2 USERS: There is a bug in mod_perl 2.0.2 that prevents the
#                             FollowSymlinksOption from working when specified
#                             in a <Perl> section. See below for workaround.


# Uncomment the ScriptAliasMatch to allow access to show-source.cgi
# This allows the "show source" button to work for demonstration "courses"
# See for example Davide Cervone's Knoxville lectures on math objects
# It requires that a show-source.cgi script be customized and placed in 
# the myCourse/html  directory of the course
# The "show source" button is most useful for webwork "courses" used to train new authors
# It is not desirable to expose the code of regular homework questions to students

ScriptAliasMatch /webwork2_course_files/([^/]*)/show-source.cgi/(.*) /opt/webwork/courses/$1/html/show-source.cgi/$2



PerlModule mod_perl2

<Perl>

#################################################################
# Set this variable to the path to your WeBWorK installation.
#################################################################

my $webwork_dir = "/opt/webwork/webwork2";
# Cache this value for use by other scripts not necessarily in the Apache2 hierarchy
# Different scripts use different locations :-)

$ENV{WEBWORK_ROOT} = $webwork_dir;
$WeBWorK::SeedCE{webwork_dir} = $webwork_dir;
$WeBWorK::Constants::WEBWORK_DIRECTORY = $webwork_dir;


#################################################################
# The following code reads defauls.config and extracts the remaining configuration
# variables. There is no need to modify it.
#################################################################

# link to WeBWorK code libraries
eval "use lib '$webwork_dir/lib'"; die $@ if $@;
eval "use WeBWorK::CourseEnvironment"; die $@ if $@;

# grab course environment (by reading webwork2/conf/defaults.config)
my $ce = new WeBWorK::CourseEnvironment({ webwork_dir => $webwork_dir });

die "webwork.apach2-config: Can't establish initial Course environment" unless ref($ce);

#  set important configuration variables (from defaults.config)

my $webwork_url = $ce->{webwork_url};                    # e.g.  /webwork2
my $pg_dir = $ce->{pg_dir};                              # e.g.  /opt/webwork/pg         
my $webwork_htdocs_url = $ce->{webwork_htdocs_url};      # e.g.  /webwork2_files
my $webwork_htdocs_dir = $ce->{webwork_htdocs_dir};      # e.g.  /opt/webwork/webwork2/htdocs
my $webwork_courses_url = $ce->{webwork_courses_url};    # e.g.  /webwork2_course_files
my $webwork_courses_dir = $ce->{webwork_courses_dir};    # e.g.  /opt/webwork/courses


#################################################################
# report server setup when child process starts up -- for example when restarting the server
#################################################################
print "webwork.apache2-config:  WeBWorK server is starting\n";
print "webwork.apache2-config:  WeBWorK root directory set to $webwork_dir in webwork2/conf/webwork.apache2-config\n";
print "webwork.apache2-config:  The following locations and urls are set in webwork2/conf/site.conf\n";
print "webwork.apache2-config:  PG root directory set to $pg_dir\n";
print "webwork.apache2-config:  WeBWorK server userID is ", $ce->{server_userID}, "\n";
print "webwork.apache2-config:  WeBWorK server groupID is ", $ce->{server_groupID}, "\n";
print "webwork.apache2-config:  The webwork url on this site is ", $ce->{server_root_url},"$webwork_url\n";


# link to PG code libraries
eval "use lib '$pg_dir/lib'"; die $@ if $@;

require Apache::WeBWorK; # force compilation of pretty much everything


# At this point, the following configuration variables should be present for use
# in wiring WeBWorK into Apache:
# 
#     $webwork_url            The base URL handled by Apache::WeBWorK.
#     $webwork_dir            The path to the base webwork2 directory.
#     $pg_dir                 The path to the base pg directory.
#     
#     $webwork_htdocs_url     The base URL of the WeBWorK htdocs directory.
#     $webwork_htdocs_dir     The path to the WeBWorK htdocs directory.
#     
#     $webwork_courses_url    The base URL of the WeBWorK courses directory.
#     $webwork_courses_dir    The path to the WeBWorK courses directory.

# Define the location that is handled by the Apache::WeBWorK module, and tell
# Perl where to find the libraries Apache::WeBWorK needs to run.
# 
$Location{$webwork_url} = {
	SetHandler => "perl-script",
	PerlHandler => "Apache::WeBWorK",
};

# Provide access to system-wide resources.
# 
push @Alias, [ $webwork_htdocs_url => $webwork_htdocs_dir ];
$Directory{$webwork_htdocs_dir} = {
	Order => "allow,deny",
	Allow => "from all",
	# APACHE 2.2 USERS: comment out the following line.
	Options => "FollowSymLinks",
	AllowOverride => "none",
};

# Provide access to course-specific resources.
# 
push @AliasMatch, [ "$webwork_courses_url/([^/]*)/(.*)", "$webwork_courses_dir/\$1/html/\$2" ];
$Directory{"$webwork_courses_dir/*/html"} = {
	Order => "allow,deny",
	Allow => "from all",
	# APACHE 2.2 USERS: comment out the following line.
	Options => "FollowSymLinks",
	AllowOverride => "none",
};

# If WeBWorK is on the root, exempt the static directories from being handled
# by Apache::WeBWorK.
# 
if ($webwork_url eq "") {
	$Location{$webwork_courses_url} = { SetHandler => "none" };
	$Location{$webwork_htdocs_url} = { SetHandler => "none" };
}

</Perl>

####################################################################
# WebworkSOAP handlers (for integration with moodle)
####################################################################
 PerlModule WebworkSOAP

 # WEBWORK SOAP CONFIGURATION
 <Location /webwork2_rpc>
         PerlHandler Apache2::SOAP
         SetHandler perl-script
         PerlSetVar dispatch_to "WebworkSOAP"
         PerlSetVar options "compress_threshold => 10000"
         Order Allow,Deny
         Allow from All
 </Location>

####################################################################
# WebworkSOAP WSDL HANDLER :: TO BE REPLACED WITH A FILE FOR PRODUCTION SERVERS
####################################################################
 <Location /webwork2_wsdl>
         PerlSetVar dispatch_to "WebworkSOAP::WSDL"
         PerlSetVar options "compress_threshold => 10000"
         PerlHandler WebworkSOAP::WSDL
         SetHandler perl-script
         Order Allow,Deny
         Allow from All
 </Location>


####################################################################
# WebworkWebservice handlers -- for integration with external editor
####################################################################


########### WebworkWebservice XMLRPC handler ##########

PerlModule WebworkWebservice

<Location /mod_xmlrpc>
	SetHandler perl-script
	PerlHandler Apache::XMLRPC::Lite
	PerlSetVar dispatch_to "WebworkXMLRPC"
	PerlSetVar options "compress_threshold => 10000"
	Order Allow,Deny
	Allow from All
</Location>



########## WebworkWebservice SOAP handler ##########

#PerlModule WebworkWebservice
#
#<Location /mod_soap>
#	SetHandler perl-script
#	PerlHandler Apache::SOAP
#	PerlSetVar dispatch_to "WebworkXMLRPC" 
#	PerlSetVar options "compress_threshold => 10000"
#	Order Allow,Deny
#	Allow from All
#</Location>

####################################################################
# WebworkSOAP  "bridge2" handler 
####################################################################

# Include /opt/webwork/wwqs/conf/problemserver.apache-config
