span[id^="mq-answer"].correct {
	border-color: rgba(81, 153, 81, 0.8);
	outline: 0;
	outline: thin dotted \9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(81, 153, 81, .6);
	color:inherit;
}

span[id^="mq-answer"].incorrect {
	border-color: rgba(191, 84, 84, 0.8);
	outline: 0;
	outline: thin dotted \9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(191, 84, 84, .6);
	color: inherit;
}

span[id^="mq-answer"] {
	direction: ltr;
	padding: 4px 5px 2px 5px;
	border-radius: 4px !important;
	background-color: white;
	margin-right: 0;
	margin-left: 0
}

input[type="text"].codeshard.mq-edit {
	display: none !important;
}

.quill-toolbar {
	max-height: 95vh;
	position: fixed;
	font-size: .75em;
	direction: ltr;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 4px;
	border: 2px solid darkgray;
	background-color: white;
	top: 50%;
	right: 10px;
	width: 53px;
	transform: translateY(-50%);
	z-index: 1001;
}

@media only screen and (max-height: 519px) {
	.quill-toolbar {
		width: 102px;
	}
}

@media only screen and (max-height: 262px) {
	.quill-toolbar {
		width: 151px;
	}
}

.quill-toolbar .symbol-button {
	box-sizing: border-box;
	text-align: center;
	padding: 3px;
	margin: 2px;
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 4px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.quill-toolbar > .symbol-button:focus,
.quill-toolbar > .symbol-button.ui-visual-focus {
	z-index: 9999;
}

.quill-toolbar .symbol-button .ui-button-text {
	padding: 0;
}

.quill-toolbar .symbol-button span[id^="icon-"]:hover {
	cursor: pointer;
}

.quill-toolbar .symbol-button:not([id^="text-mq-answer"]) .mq-text-mode {
	height: 10px;
	width: 8px;
	transform: translateY(2px);
	background-color: skyblue !important;
}

.quill-toolbar .symbol-button .mq-nthroot > .mq-text-mode,
.quill-toolbar .symbol-button .mq-sup > .mq-text-mode,
.quill-toolbar .symbol-button .mq-sub > .mq-text-mode {
	height: 6px;
	width: 6px;
}

.quill-toolbar .symbol-button .mq-sup > .mq-text-mode {
	transform: translateY(2px);
}

.quill-toolbar .symbol-button .mq-sub > .mq-text-mode {
	transform: translateY(0);
}

.quill-toolbar .symbol-button .mq-supsub {
	height: 6px;
	width: 6px;
	margin-left: 2px;
}
