/******************************************************************************/
/* ubc.template classes: These classes appear in ubc.template and are NOT
 * emitted by WeBWorK code. They need only appear in this template. */

body { margin: 0px; 
       background: #eee;}

/* left table cell, contains logo and menus */
td.LeftPanel { background-color: #003366; color: white; white-space: nowrap; width: 1em; }
td.LeftPanel a:link,
td.LeftPanel a:visited { color: #FF9933; }

div.Logo {  }
.LeftPanel a { text-decoration: none; }
div.Links { font-size: small; }
div.Links ul { list-style: none; margin-left: 0; padding-left: 0; }
div.Links ul ul { list-style: none; margin-left: 0.5em; padding-left: 0; }

/* we used to say "height: 10em; overflow: auto" here, but it caused 
 * problems for mozilla. so we're back to having a looong siblings list 
 * for the time being. :-( */
div.Siblings { font-size: small; }
div.Siblings ul { list-style: none; margin-left: 0; padding-left: 0; }
div.Siblings ul ul { list-style: none; margin-left: 0.5em; padding-left: 0; }
div.Options { font-size: small; }

/* top table cell, contains login message and path */
td.TopPanel { background-color: rgb(22, 58, 108); color: white; height: 1; }
/*td.TopPanel { background-color: #66f; color: white; height: 1; }*/
td.TopPanel a:link,
td.TopPanel a:visited { color: #FF9933; }

.Path {  }

/*.LoginStatus { text-align: right; font-size: small; position:absolute; top: 0; right: 0; }*/
.LoginStatus { text-align: right; font-size: small; }
td.Timestamp   { text-align: left;  font-size: small; font-style: italic; }

/* (should have ContentPanelError here) */

/* main content panel, contains body */
td.ContentPanel { background-color: white; color: black; }
td.ContentPanel a:link,
td.ContentPanel a:visited { color: blue; }
td.ContentPanel a:active { color: red; }

div.Nav {  }
div.Title { font-size: 16pt; }
div.Message { font-style: italic; }
div.SubmitError { color: red; font-style: italic; }
div.Body {  }
div.Warnings { background-color:#ff0000 }

/* (shuld have Message here) */

/* contains info */
/* FIXME: this is erroniously used by SetMaker.pm. */
td.InfoPanel { background-color: #DDDDDD; color: black; width: 30% }
td.InfoPanel h2 { font-size: 120% }
td.InfoPanel a:link,
td.InfoPanel a:visited { color: blue; }
td.InfoPanel a:active { color: red; }

div.InfoPanel { background-color: #DDDDDD; color: black; width: 30% }
div.InfoPanel h2 { font-size: 120% }
div.InfoPanel a:link,
div.InfoPanel a:visited { color: blue; }
div.InfoPanel a:active { color: red; }
div.InfoPanel {float:right}

/******************************************************************************/
/* WeBWorK classes: These classes are emitted by WeBWorK code and should
 * appear in ANY WeBWorK template. */

/* the info escape emits a DIV with this class and id. */
.info-box {  }
#InfoPanel { font-size: smaller; }

/* tables used for laying out form fields shouldn't have a border */
table.FormLayout { border: 0; }
table.FormLayout tr { vertical-align: top; }
table.FormLayout th.LeftHeader { text-align: right; white-space: nowrap; }
table.FormLayout tr.ButtonRow { text-align: left; }
table.FormLayout tr.ButtonRowCenter { text-align: center; }

/* for problems which are rendered by themselves, e.g., by Set Maker */
div.RenderSolo { background-color: #E0E0E0; color: black; }
div.AuthorComment { background-color: #00E0E0; color: black; }

/* minimal style for lists of links (generated by the links escape) */
/*ul.LinksMenu { list-style: none; margin-left: 0; padding-left: 0; }*/
/*ul.LinksMenu ul { list-style: none; margin-left: 0.5em; padding-left: 0; }*/

/* background styles for success and failure messages */
div.ResultsWithoutError { background-color: #66ff99 } /* light green */
div.ResultsWithError { background-color: #ffcccc } /* light red */
div.ResultsAlert { background-color: yellow } /* yellow */

/* styles used by WeBWorK::HTML::ScrollingRecordList */
div.ScrollingRecordList { padding: 1em; white-space: nowrap; border: thin solid gray; }
div.ScrollingRecordList select.ScrollingRecordList { width: 99%; }

/* wraps the View Options form (generated by &optionsMacro) */
/* FIXME: can't this style information just go in div.Options above? */
div.viewOptions { border: thin groove; padding: 1ex; margin: 2ex; align: left; }

/* messages, attempt results, answer previews, etc. go in this DIV */
/* this used to be "float:left", but that was suspected of causing MSIE peekaboo bug */
div.problemHeader {}

/* styles for the attemptResults table */
table.attemptResults {
	border-style: outset; 
	border-width: 1px; 
	margin: 0px 10pt; 
	border-spacing: 1px;
}
table.attemptResults td,
table.attemptResults th {
	border-style: inset; 
	border-width: 1px; 
	text-align: center; 
#	width: 15ex;
	padding: 2px 5px 2px 5px;
	background-color: #DDDDDD;
}
/* override above settings in tables used to display ans_array results */
table.attemptResults td td,
table.attemptResults td th,
table.ArrayLayout td {
	border-style: none; 
	border-width: 0px; 
	padding: 0px;
}
table.attemptResults td.Message {
   text-align: left; 
   padding: 2px 5px 2px 5px;
   width: auto;
}
.attemptResultsSummary { font-style:italic; }
.parsehilight { background-color:yellow; }

/* the problem TEXT itself does in this box */
div.problem { clear: both; background-color: #E0E0E0; color: black; }

/* jsMath emits this class when appropriate math fonts aren't available */
div.NoFontMessage {
	padding: 10;
	border-style: solid;
	border-width:3;
	border-color: #DD0000;
	background-color: #FFF8F8;
	width: 75%;
	text-align: left;
	margin: 10px auto 10px 12%;
}

/* text colors for published and unpublished sets */
font.Published   { font-style: normal; font-weight: normal; color: #000000; } /* black */
font.Unpublished { font-style: italic; font-weight: normal; color: #aaaaaa; } /* light grey */

/* styles used when editing a temporary file */
.temporaryFile {  background-color: #ff9900 ; font-style: italic; }

/* text colors for Auditing, Current, and Dropped students */
.Audit { font-style: normal; color: purple; }
.Enrolled { font-weight: normal; color: black; }
.Drop { font-style: italic; color: grey; }
