<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-20012 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/math2/system.template,v 1.2 2008/06/26 19:46:02 gage Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->
<!--
	Now altered to carry out most of the output operations in Problem.pm, as well as call general output subroutines.
	-ghe3
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<!-- Begin Jquery MathView CODE add -->
	<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/jquery-ui-1.8.18.custom.css"/>
<!-- End Jquery MathView CODE add -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="<!--#url type="webwork" name="htdocs"-->/images/favicon.ico"/>

<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/js/vendor/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math2/math2.css"/>


<!--
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math2/codemirror2/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math2/codemirror2/mode/pg/pg.css">
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math2/codemirror2/mode/math/math.css">
-->

<!--#if can="output_tabber_CSS"-->
	<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/tabber.css"/>
<!--#endif-->
<!--#if can="output_jquery_ui_CSS"-->
	<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/jquery-ui-1.8.18.custom.css"/>
<!--#endif-->
<!--#if can="output_JS"-->
	<!--#output_JS-->
<!--#endif-->


<title><!--#path style="text" text=" : " textonly="1"--></title>

<!--#head-->
</head>
<body bgcolor="white">
<!--#if can="output_wztooltip_JS"--> <!-- Please remind this -->
	<!--#output_wztooltip_JS-->
<!--#endif-->
<div id="masthead">
	<div id="loginstatus">
		<!--#loginstatus-->
	</div>
	<div id="logo">
                <a href="http://webwork.maa.org"><img src="<!--#url type="webwork" name="htdocs"-->/images/webwork_rectangle.png" alt="image link to webwork main web site" height="51" width="267" /></a>&nbsp;
                <a href="http://www.maa.org"><img src="<!--#url type="webwork" name="htdocs"-->/images/maa_logo.png" alt="image link to MAA (Mathematical Association of America) main web site" height="51" width="449" /></a>
	</div>
</div>
<hr class="for-broken-browsers"/>
<div id="big-wrapper">
	<div id="breadcrumbs">
		<!--#path style="text" text=" &#x2192; "-->
	</div>
	<div id="content" >
            <span style="font-size:larger; color:#00F; float:left;  width:60%;   ">
			<!--#if can="title"-->
				<!--#title-->
			<!--#endif-->
			<!--#if can="nav"-->
			    &nbsp;&nbsp;&nbsp;
				<!--#nav style="buttons" imageprefix="/webwork2_files/images/nav" imagesuffix=".gif" separator="  "-->
			
		    <!--#endif-->
            </span>
			<!--#if can="message"-->
				<span class="Message" style=" float:right; width:40%; right:0;">
					<!--#message-->
				</span>
			<!--#endif-->

		    <hr style="clear:both"/>
	

			<!--#if can="post_header_text"-->
				<!--#post_header_text-->
				<hr style="clear:both"/>
			<!--#endif-->

<!--			      ==============BEGIN BODY OF PROBLEM===============      -->
			<!--#if warnings="1"-->
				  <div class="Warnings" >
				  <p style="font-size:larger">
				  Warning -- there may be something wrong with this question. Please inform your instructor
				  including the warning messages below.
				  </p>
				  </div>
             <!--#endif-->
             
			 <!--#if can="output_problem_body"--> 
				<!-- ==== in this case print body parts --ELSE-- print entire body -->		
				  <div class="body">
	
					<!--#if can="output_custom_edit_message"-->
						<!--#output_custom_edit_message-->
					<!--#endif-->
					<!--#if can="output_summary"-->
					    <div>
							<!--#output_summary-->
						</div>
					<!--#endif-->
					
					<!--#if can="output_hidden_info"-->
						<!--#output_hidden_info-->
					<!--#endif-->

					<!--#if can="output_form_start"-->
						<!--#output_form_start-->
						<!--#if can="output_problem_body" can="output_message" can="output_editorLink"-->
							<div class="problem">
								<!--#if can="output_problem_body"-->
									<!--#output_problem_body-->
								<!--#endif-->
								<!--#if can="output_message"-->
									<!--#output_message-->
								<!--#endif-->
								<!--#if can="output_editorLink"-->
									<!--#output_editorLink-->
								<!--#endif-->
							</div>
						<!--#endif-->
						<!--#if can="output_checkboxes" can="output_submit_buttons"-->
							<p>
								<!--#if can="output_checkboxes"-->
									<!--#output_checkboxes-->
								<!--#endif-->
								<!--#if can="output_submit_buttons"-->
									<!--#output_submit_buttons-->
								<!--#endif-->
							</p>
						<!--#endif-->
						<!--#if can="output_score_summary"-->
							<div class="scoreSummary">
								<!--#output_score_summary-->
							</div>
						<!--#endif-->
						<!--#if can="output_misc"-->
							<!--#output_misc-->
						<!--#endif-->
						</div> <!-- end main_body -->
						</form>
					  	
					
					<!--#endif-->
				<!-- inserted problem piece by piece -->
				<!--#if can="info"-->
			  		<!--  styles could be different for different pages so they are not set here -->
					<!--#info-->
		    	<!--#endif-->

				</div>	  
			<!-- ====  end printing body parts   -->
			<!--#else-->
			<!-- ==== couldn't print body parts so we'll print entire body -->	
				  <div class="main_body">
				  	<!--#body-->
				  </div>
				  <!-- inserted body as a whole -->
				<!--#if can="info"-->
			  		<div class="info-box" id="right-info-box">
					<!--#info-->
					</div>
		    	<!--#endif-->

			<!--#endif-->  
<!--			      ==============END BODY OF PROBLEM===============      -->
			<!--#if can="output_past_answer_button" can="output_email_instructor"-->
				<div class="problemFooter">
					<!--#if can="output_past_answer_button"-->
						<!--#output_past_answer_button-->
					<!--#endif-->
					<!--#if can="output_email_instructor"-->
						<!--#output_email_instructor-->
					<!--#endif-->
				</div>
			<!--#endif-->
		
		<!--#if warnings="1"-->
		
		<hr/>
		<div class="Warnings">
			<!--#warnings-->
		</div>
		<!--#endif-->
		
		<!--#if can="message"-->
			<div class="Message">
				<!--#message-->
			</div>
		<!--#endif-->
	
	<hr class="for-broken-browsers"/>
	<div id="footer">
		<!-- <p id="last-modified">Page generated at <!--#timestamp--></p>
		<div id="copyright">
			WeBWorK &#169; 1996-2011 <a href="http://webwork.maa.org/">The WeBWorK Project</a>
		</div> -->
		<!--#footer-->
	</div>
	<div id="site-navigation">
		<!--#if can="links"-->
		<div class="info-box" id="fisheye">
			<!--#links-->
		</div>
		<!--#endif-->
		<!--#if can="siblings"-->
			<!--#siblings-->
		<!--#endif-->
		<!--#if can="options"-->
		<div class="info-box" id="fisheye">
			<!--#options-->
		</div>
		<!--#endif-->
	</div>

</div><!--content-->
</div> <!-- big-wrapper -->

<!--
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/math2/codemirror2/lib/codemirror.js"></script>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/math2/codemirror2/mode/pg/pg.js"></script>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/math2/codemirror2/mode/math/math.js"></script>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/math2/codeshard.js"></script>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/ubc/codemirror.js"></script>

-->
</body>
</html>
