/* gateway styles */

div.gwMessage {
	background-color: #ffeeaa;
	box-shadow: 3px 3px 3px darkgray;
	margin: 0 0 1rem 0;
	padding: 0.25rem;
	border-radius: 3px;
}

#gwTimer {
	position: sticky;
	width: 15em;
	top: 2.75rem;
	left: calc(100% - 15em - 0.75rem);
	right: 0.75rem;
	text-align: center;
	z-index: 31;
}

.gwAlert {
	z-index: 32;
}

#gwScoreSummary {
	background-color: #ffeeaa;
	color: black;
	box-shadow: 3px 3px 0.5em darkgray;
	font-family: Times serif;
	z-index: 30;
	font-size: 85%;
	border-color: #ffeeaa;
	border: 2px;
	width: 15em;
	top: 8em;
	right: 2em;
	padding: 10px;
	position: fixed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	table {
		border: 0;

		td,
		th {
			margin-left: 0.2em;
		}
	}
}

table.attemptResults {
	width: unset;
}

.gwProblem {
	background-color: #fafafa;
	padding: 0.5em;
	border: 1px solid #ddd;
	border-radius: 3px;

	h2 {
		display: inline-block;
		font-size: 16px;
		margin-right: 5px;
		line-height: 1.8;
	}
}

.gwNavigation {
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;

	th,
	td {
		padding: 0 0.5rem;
	}

	th {
		text-align: right;
		font-weight: bold;
		padding-right: 1rem;
	}

	colgroup.page {
		border-left: solid 1pt black;
		border-right: solid 1pt black;
	}

	.page.active {
		background-color: #ffeeaa;
	}
}

div.gwDivider {
	margin: 0px 0px 10px 0px;
}

/* Override the pg style so that the problem-content is not offset in gateway quizzes. */
.problem-content {
	padding: unset;
	background-color: unset;
	border: unset;
	box-shadow: unset;
}
