  .filler {
    background: #1DA598;
    vertical-align: middle;
    border-radius: 50px;
    transition: width .2s ease-in;
  }
  .ion-android-arrow-dropup{
    font-size: 20px;
    margin-left: 4px;
  }
  .ion-android-arrow-dropdown{
    font-size: 20px;
    margin-left: 4px;
  }
  .tableStyleLB {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  }
  .pStyleLB {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    padding-right: 10%;
  }
  .buttonStyleLB {
    background: none";
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .divStyleLB {
    overflow-y: auto;
    height: 80%;
    width: 70%;
    min-width: 550px;
  }
  .thStyleLB {
    background-color: #003388;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 15px;
    cursor: pointer;
  }
  .tdStyleLB {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
  }
  .trStyleLB {
    height: 2%;
  }
  .LeaderItemTr {
    background-color: #f6f6f6;
    color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 15px;
    border-spacing: 2px;
  }

