<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/test/system.template,v 1.2 2006/01/25 23:13:49 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<title>WeBWorK Test Template</title>
<style type="text/css">
div.test_box { border: 1px solid black }
</style>
<!--#head-->
</head>
<body>

<h1>help</h1>
<div class="test_box">
<!--#help-->
</div>

<h1>links</h1>
<div class="test_box">
<!--#links-->
</div>

<h1>siblings</h1>
<div class="test_box">
<!--#siblings-->
</div>

<h1>options</h1>
<div class="test_box">
<!--#options-->
</div>

<h1>path</h1>
<div class="test_box">
<!--#path style="text" text=" > "-->
</div>

<h1>loginstatus</h1>
<div class="test_box">
<!--#loginstatus-->
</div>

<h1>nav</h1>
<div class="test_box">
<!--#nav style="images" imageprefix="/webwork2_files/images/nav" imagesuffix=".gif" separator="  "-->
</div>

<h1>title</h1>
<div class="test_box">
<!--#title-->
</div>

<h1>message</h1>
<p>used for addmessage/addgoodmessae/addbadmessage... displayed at top and bottom of page in ur.template.</p>
<div class="test_box">
<!--#message-->
</div>

<h1>body</h1>
<div class="test_box">
<!--#body-->
</div>

<h1>warnings</h1>
<div class="test_box">
<!--#warnings-->
</div>

<h1>info</h1>
<div class="test_box">
<!--#info-->
</div>

<h1>timestamp</h1>
<div class="test_box">
<!--#timestamp-->
</div>

</body>
</html>
