<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>test alternate templates</title>
	<meta name="generator" content="BBEdit 11.1" />
</head>
<body>
<p>
You will need to customize this file to access the website you are testing.
</p>

<p>
If you use it to test hosted2.webwork.rochester.edu you will need to login
as guest the first time you access the site.  After that the cookie stored
on your computer will give you access to the pages.
</p>


<h3>Links</h3>
<p>
<a href="https://hosted2.webwork.rochester.edu/webwork2/UR102/Demo/2">regular template</a>
</p>

<p>
<a href="https://hosted2.webwork.rochester.edu/webwork2/UR102/Demo/2?templateName=simple">simple template</a>

</p>
<h3>Embedddings</h3>
<p>
Regular (system) template
</p>
<p>
<iframe src= "https://hosted2.webwork.rochester.edu/webwork2/UR102/Demo/2" height="600" width="800"> 
iframe here
</iframe>
</p>

<p>
Simple  template
</p>

<p>
<iframe src= "https://hosted2.webwork.rochester.edu/webwork2/UR102/Demo/2?templateName=plain" height="600" width="800"> 
iframe here
</iframe>
</p>

<p>
Simple  template -- homework set page (Demo)
</p>

<p>
<iframe src= "https://hosted2.webwork.rochester.edu/webwork2/UR102/Demo?templateName=plain" height="600" width="800"> 
iframe here
</iframe>
</p>

<p>
Simple  template -- course home page 
</p>

<p>
<iframe src= "https://hosted2.webwork.rochester.edu/webwork2/UR102/Demo?templateName=plain" height="600" width="800"> 
iframe here
</iframe>
</p>
</body>
</html>
