// Include bootstrap scss functions (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// Theme colors
$primary: #038;
$info: #1a67ea;

// Link colors
$link-color: $primary;
$link-hover-color: $info;

// Webwork logo background color in the banner
$ww-logo-background-color: darken($info, 14%);

// Achievment level bar
$ww-achievement-level-color: #88d;
