.facebookbox {
    margin-top:7px;
    text-align:center;
}

.facebookbox form {
    margin-bottom:0px;
}

.cheevobigbox {
    display:block;
}

.levelbox {
    height:100px;
    margin-bottom:30px;
}

.levelbox img {
    float:left;
    height:100px;
    width:100px;
}

.leveldatabox {
    margin-left:20px;
    float:left;
}

.leveldatabox h1 {
    font-size:35px;
    font-weight:bold;
}

.levelouterbar {
    height:20px;
    border-style:solid;
    border-width:2px;
    width:400px;
}

.levelinnerbar {
    height:20px;
    background-color:#88D;
}

.cheevoouterbox {
    height:50px;
    margin-bottom:15px;
    clear:both;
}

.cheevoouterbox img {
    float:left;
    height:50px;
    width:50px;
    margin-top:5px;
}

.unlocked {
    color:black;
}

.locked { 
    color:#666666;
    opacity: 0.5;
}

.locked img {
    opacity:0.4;
    filter:alpha(opacity=40);
}

.locked h2 {
    color:#666666;
}

.cheevotextbox {
    margin-left:10px;
    margin-top:5px;
    float:left;
}

.cheevotextbox h3 {
    line-height:15px;
    font-size:15px;
    margin-bottom:5px;
    margin-top:2px;
    font-weight:bold;
}

/*width of cheevo progress bar controlled by perl code*/
.cheevoouterbar {
    height:10px;
    border-style:solid;
    border-width:2px;
    width:200px;
}

.cheevoinnerbar {
    height:10px;
    background-color:#88D;
}

#achievementModal {
    width:50%;
}

.cheevopopupouter {
    margin-bottom:10px;
    margin-right:15px;
}

.cheevopopupouter img {
    float:left;
    height:75px;
    width:75px;
}

.cheevopopuptext {
    margin-left:15px;
    float:left;
}

.cheevopopuptext h1 {
    margin-top:0px;
    margin-bottom:5px;
    font-size:20px;
    font-weight:bold;
}

.achievement-item {
    margin-bottom:15px;
    margin-left:15px;
}

.achievement-item h3 {
    line-height:15px;
    font-size:15px;
    margin-bottom:5px;
    margin-top:2px;
    font-weight:bold;
}
