<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset='utf-8'>

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/js/vendor/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/vendor/font-awesome/css/font-awesome.min.css"/>
<link href="<!--#url type="webwork" name="htdocs"-->/css/knowlstyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math4/math4.css"/>
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/themes/math4/gateway.css"/>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/js/vendor/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="<!--#url type="webwork" name="htdocs"-->/themes/math4/math4.js"></script>	
<!-- [gateway] since the left-side menus are gone, don't indent the main content area -->

<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
<!--#output_JS-->
</head>
<body>

<div class="container-fluid">
<!-- Header -->
<div id = "masthead" class="row-fluid">
	<div class="span2 webwork_logo">
		<a href="<!--#url type="webwork" name="root"-->"><img src="<!--#url type="webwork" name="htdocs"-->/images/webwork_transparent_logo_small.png" alt="image link to MAA (Mathematical Association of America) main web site" />WeBWorK</a>
	</div>
	<div class="span4 maa_logo">
		<a href="http://www.maa.org"><img src="<!--#url type="webwork" name="htdocs"-->/images/maa_logo_small.png" alt="image link to MAA (Mathematical Association of America) main web site" /></a>
	</div>
	<div id="loginstatus" class="offset3 span3">
		<!--#loginstatus-->
	</div>
</div>
	<!-- Breadcrumb -->
	<div class="row-fluid"><div class="span12">
	<ul class="breadcrumb">
		<!--#path style="bootstrap" text="<li><span class='divider'>/</span></li>"-->
	</ul>
	</div></div>

<div class="row-fluid">


  <div id="content" class="span12">
		
	<!--#if can="info"-->
	<!--<div id="page-info">-->
		<!--<div class="info-box" id="fisheye">-->
			<!--#info-->
		<!--</div>-->
	<!--</div>-->
	<!--#endif-->
	
	<!-- [gateway] removed nav button to go up -->
	
	<!--#if can="title"-->
	<h1><!--#title--></h1>
	<!--#endif-->
	
	<!--#if can="message"-->
		<div class="Message"><!--#message--></div>
	<!--#endif-->

	<!--#if can="body"-->
	<div class="Body">
		<!--#body-->
	</div>
	<!--#endif-->
	
	<!--#if warnings="1"-->
	<div class="Warnings">
		<!--#warnings-->
	</div>
	<!--#endif-->
	
</div> <!-- content -->

<!-- Footer -->
<div id="footer">
	<!--#footer-->
</div>

</div></div> <!-- big-wrapper -->

</body>
</html>


