/* This is the override file for math4.css.  If you copy * math4-overrides.css.dist to
 * math4-overrides.css you can add css rules to this file and they will override the css
 * values normally used for math4.  This includes colors, padding, spacing, and so on.
 *
 * If you upgrade webwork this file will not be overwritten.  However, the math4.css and
 * math4-overrides.css.dist file may change.  If this happens it may cause problems with
 * your theme until your reconcile the changes with your modifactions here.  (Similar to
 * how localOverrides.conf works.)
 *
 * Note that theming is no longer done with this file.  Instead copy one of the existing
 * themes and modify _theme-colors.scss and _theme-overrides.scss.  Then run
 * `./generate-assets.js` from the htdocs directory.
 */
