<!DOCTYPE html>
<html <!--#output_course_lang_and_dir-->>
<!--  Note that the lang and dir attributes are now set during the
      processing of the template and not hard-coded above.
-->
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- This encourages IE to *not* use compatibility view, which breaks math4 -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright &copy; 2000-2021 The WeBWorK Project, https://github.com/openwebwork
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<link rel="icon" type="x-image/icon" href="<!--#url type="webwork" name="htdocs" file="images/favicon.ico"-->"/>

<!-- CSS Loads -->
<link rel="stylesheet" href="<!--#url type="webwork" name="theme" file="bootstrap.css"-->"/>
<link rel="stylesheet" href="<!--#url type="webwork" name="htdocs" file="node_modules/@fortawesome/fontawesome-free/css/all.min.css"-->"/>
<link rel="stylesheet" href="<!--#url type="webwork" name="theme" file="math4.css"-->"/>
<!--#if can="output_achievement_CSS"-->
<link rel="stylesheet" href="<!--#url type="webwork" name="theme" file="achievements.css"-->"/>
<!--#endif-->
<!--#if can="output_CSS"-->
	<!--#output_CSS-->
<!--#endif-->
<!--#if exists="math4-overrides.css"-->
<link rel="stylesheet" href="<!--#url type="webwork" name="theme" file="math4-overrides.css"-->"/>
<!--#endif-->

<!-- JS Loads -->
<script src="<!--#url type="webwork" name="htdocs" file="js/apps/MathJaxConfig/mathjax-config.js"-->" defer></script>
<script src="<!--#url type="webwork" name="htdocs" file="node_modules/mathjax/es5/tex-chtml.js"-->" id="MathJax-script" defer></script>
<script src="<!--#url type="webwork" name="htdocs" file="node_modules/jquery/dist/jquery.min.js"-->"></script>
<script src="<!--#url type="webwork" name="htdocs" file="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"-->" defer></script>
<!--#if can="output_JS"-->
	<!--#output_JS-->
<!--#endif-->
<script src="<!--#url type="webwork" name="theme" file="math4.js"-->" defer></script>
<!--#if exists="math4-overrides.js"-->
<script src="<!--#url type="webwork" name="theme" file="math4-overrides.js"-->" defer></script>
<!--#endif-->

<title><!--#path style="text" text=" : " textonly="1"--></title>

<!--#head-->
</head>

<body>
<a href="#page-title" id="stmc-link" class="sr-only sr-only-focusable">Skip to main content</a>

<!-- Bootstrap Fluid Layout Scaffolding start -->
<div id="bs-container" class="container-fluid">
<!-- Header -->
<div id="masthead" class="row" role="banner">
	<div class="col-md-2 webwork_logo">
		<!--#webwork_logo-->
	</div>
	<div class="col-md-6 institution_logo">
		<!--#institution_logo-->
	</div>
	<div id="loginstatus" class="col-md-4">
		<!--#loginstatus-->
	</div>
</div>

<!-- Breadcrumb -->
<div id="breadcrumb-row" class="row my-2">
	<div class="col-12 d-flex align-items-center">
		<!--#if can="links" can="siblings" can="options"-->
		<button type="button" class="btn btn-secondary" id="toggle-sidebar">
			<span id="toggle-sidebar-icon">
				<i class="icon fas fa-chevron-left" aria-hidden="true" data-alt="close sidebar"></i>
			</span>
		</button>
		<!--#endif-->
		<nav id="breadcrumb-navigation" role="navigation" aria-label="breadcrumb navigation" class="w-100">
			<ol class="breadcrumb">
				<!--#path style="bootstrap" text=""-->
			</ol>
		</nav>
	</div>
</div>

<div id="body-row" class="d-flex">

<!-- Navigation -->
<!--#if can="links" can="siblings" can="options"-->
<div id="site-navigation" class="d-flex flex-column" role="navigation" aria-label="main navigation">
	<!--#if can="links"-->
		<div id="site-links" class="bg-light">
			<!--#links-->
		</div>
	<!--#endif-->
	<!--#if can="siblings"-->
		<div id="siblings">
			<!--#siblings-->
		</div>
	<!--#endif-->
	<!--#if can="options"-->
		<div id="options" class="info-box">
			<!--#options-->
		</div>
	<!--#endif-->
</div>
<!--#endif-->

<!-- Main Content Area -->
<!--#if can="links" can="siblings" can="options"-->
<div id="content" class="flex-grow-1">
<!--#else-->
<div id="content" class="flex-grow-1 toggle-width">
<!--#endif-->
	<!--#if can="nav"-->
		<!-- Question Navigation, e.g.: Prev, Up, Next for homeworks -->
		<!--#nav style="buttons" separator=""-->
	<!--#endif-->

	<!-- Page Title -->
	<!--#if can="title"-->
	<div class="row"><div class="col-12">
		<h1 id='page-title' class='page-title'><!--#title --></h1>
	</div></div>
	<!--#endif-->

	<!--#if can="message"-->
	<!-- Message for the user -->
	<div id="Message" class="Message"><!--#message--></div>
	<!--#endif-->

	<!-- Header Text for problem -->
	<!--#if can="post_header_text"-->
		<!--#post_header_text-->
	<!--#endif-->

<!-- ==============BEGIN BODY OF PROBLEM=============== -->

	<!-- Indicate presence of perl warnings -->
	<!--#if warnings="1"-->
	<div class="row g-0">
		<div id="alert-error" class="col-12 alert alert-danger">
		    <!--#warningMessage-->
		</div>
	</div>
	<!--#endif-->

	<!--#if can="output_tag_info"-->
	<div class="row">
		<div id="tag_info" class="col-12">
		<!--#output_tag_info-->
		</div>
	</div>
	<!--#endif-->
	<!--#if can="output_problem_body"-->
		<!-- ==== in this case print body parts ELSE print entire body -->
		<div class="row">
			<div id="problem_body" class="Body col-12">

			<!--#if can="output_custom_edit_message"-->
			<div id="custom_edit_message" class="row"><div class="col-lg-10">
				<!--#output_custom_edit_message-->
			</div></div>
			<!--#endif-->
			<!--#if can="output_summary"-->
			<div class="row"><div id="output_summary" class="col-lg-10">
				<!--#output_summary-->
			</div></div>
			<!--#endif-->

			<!--#if can="output_achievement_message"-->
			<div class="row"><div id="output_achievement_message" class="col-lg-10">
				<!--#output_achievement_message-->
			</div></div>
			<!--#endif-->

			<!--#if can="output_comments" "-->
			<div class="row"><div id="output_comments" class="col-lg-10">
				<!--#output_comments-->
			</div></div>
			<!--#endif-->

			<!--#if can="output_grader"-->
			<div class="row"><div id="output_grader" class="col-lg-10">
				<!--#output_grader-->
			</div></div>
			<!--#endif-->

			<!--#if can="output_form_start"-->
			<div class="row">
				<div class="col-lg-10">
				<!--#output_form_start-->
				<!--#if can="output_hidden_info"-->
					<!--#output_hidden_info-->
				<!--#endif-->

				<!--#if can="output_problem_body" can="output_message" can="output_editorLink"-->
					<div class="problem">
						<!--#if can="output_problem_body"-->
						<div id="problem_body" class="problem-content" <!--#output_problem_lang_and_dir--> >
							<!--#output_problem_body-->
						</div>
						<!--#endif-->
						<!--#if can="output_message"-->
							<!--#output_message-->
						<!--#endif-->
						<!--#if can="output_editorLink"-->
							<!--#output_editorLink-->
						<!--#endif-->
					</div>
				<!--#endif-->

				<!--#if can="output_checkboxes" can="output_submit_buttons"-->
					<div class="checkboxes-container col-12 my-2">
						<!--#if can="output_checkboxes"-->
							<!--#output_checkboxes-->
						<!--#endif-->
					</div>
					<div class="submit-buttons-container col-12 mb-2">
						<!--#if can="output_submit_buttons"-->
							<!--#output_submit_buttons-->
						<!--#endif-->
					</div>
				<!--#endif-->
				<!--#if can="output_score_summary"-->
					<div id="score_summary" class="scoreSummary">
						<!--#output_score_summary-->
					</div>
				<!--#endif-->

				<!--#if can="output_misc"-->
					<!--#output_misc-->
				<!--#endif-->
				</form>
			<!--#endif-->

		<!-- inserted problem piece by piece -->

		<!--#if can="info"-->
			<p>Form2</p>
			<!--  styles could be different for different pages so they are not set here -->
			<div id="info-panel-right" >
				<!--#info-->
			</div>
		<!--#endif-->

		</div></div>
	</div></div>

	<!-- ====  end printing body parts   -->
	<!--#else-->
	<!-- ==== couldn't print body parts so we'll print entire body -->
	<div class="row">
		<!--#if can="info"-->
			<div class="body col-md-8">
		<!--#else-->
			<div id="page_body" class="body col-12">
		<!--#endif-->
		<!--#body-->
	</div>
	<!-- inserted body as a whole -->
	<!--#if can="info"-->
	<div id="info-panel-right" class="col-md-4 mb-md-0 mb-2 order-md-last order-first">
		<div class="info-box">
			<!--  styles could be different for different pages so they are not set here -->
			<!--#info-->
		</div>
	</div>
	<!--#endif-->
	</div>
	<!--#endif-->

<!-- ==============END BODY OF PROBLEM=============== -->
	<!--#if can="output_past_answer_button" can="output_email_instructor"-->
		<div id="problemFooter" class="problemFooter">
			<!--#if can="output_past_answer_button"-->
				<!--#output_past_answer_button-->
			<!--#endif-->
			<!--#if can="output_email_instructor"-->
				<!--#output_email_instructor-->
			<!--#endif-->
		</div>
	<!--#endif-->

<!--#if warnings="1"-->
<div id="warnings" class="Warnings alert alert-danger mt-2">
	<!--#warnings-->
</div>
<!--#endif-->
<!--#if can="message"-->
<div id="Message_bottom" class="Message">
	<!--#message-->
</div>
<!--#endif-->

</div><!-- #content -->

<!-- Bootstrap Fluid Layout Scaffolding stop -->
</div><!-- #body-row -->
</div><!-- #bs-container.container-fluid -->

<!-- Footer -->
<div id="footer" role="contentinfo">
	<!--#footer-->
</div>

</body>
</html>
