span.cm-pg-keyword {color: #90b;}
span.cm-pg-atom {color: #291;}
span.cm-pg-variabledef {color: #00f;}
span.cm-pg-localvariable {color: #049;}
span.cm-pg-variable {color: #049;}
span.cm-pg-funccall {color: #0aa;}
span.cm-pg-comment {color: #a70;}
span.cm-pg-string {color: #a22;}
