<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2006 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/ur/gateway.template,v 1.2 2006/01/25 23:13:49 sh002i Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
<style type="text/css" media="all">@import "<!--#url type="webwork" name="stylesheet"-->";</style>

<style type="text/css">
/******************/
/* gateway styles */
/******************/

.LoginStatus {position:absolute; right:0px; top:-.5em}

div.gwMessage { background-color:#dddddd; color: black; }
div.gwTiming { 
	background-color:#EECCCC;
	color: black; 
	padding: .5em 2em;
	float: right;
}
div.gwTiming form {margin:0px}
div.gwWarning { background-color:#ffffdd; color: black; }

span.resultsWithError {
   background-color: #ffcccc;
   color: black;
   padding: 1px 2em;
   margin-left: 1em;
}
span.resultsWithoutError {
   background-color: #66ff99;
   color: black;
   padding: 1px 2em;
   margin-left: 1em;
}

div.gwCorrect {
   background-color: #66ff99;
   color: black;
   padding: 1px 2em;
   margin-left: 1em;
}
div.gwIncorrect {
   background-color: #ff9999;
   color: black;
   padding: 1px 2em;
   margin-left: 1em;
}

div.gwProblem {
	clear: both; 
	background-color: white;
	color: black;
	padding: 1em 2em;
	border-top-style: solid; border-bottom-style: solid;
	border-width: 2px; border-color: #DDBBBB;
}
hr {display: none}
.div.gwProblem hr {display:block}

div.gwSoln {
/*	background-color: #e0e0ff; */
	background-color: transparent;
	color: black;
/* 	padding: 2px; */,
/* 	border: dashed black 1px; */
}
div.gwSoln b { color: navy; }

p.gwPreview { 
	font-size: smaller;
	text-align: right; 
	margin-top: 0px;
	margin-bottom: 0px;
}

table.gwAttemptResults {
	border-width: 0px;
}
table.gwAttemptResults td.label { 
	font-weight: bold; 
	background-color: transparent;
	color: navy;
}
table.gwAttemptResults td.output {
        padding: 2px;
	border: solid black 1px;
	background-color: #eeeeee;
}

</style>
<script language="javascript" type="text/javascript">
function jumpTo(ref) {  // scrolling javascript function
    if ( ref ) {
        var pn = ref - 1; // we start anchors at 1, not zero
        if ( navigator.appName == "Netscape" && 
             parseFloat(navigator.appVersion) < 5 ) {
            var xpos = document.anchors[pn].x;
            var ypos = document.anchors[pn].y;
        } else {
            var xpos = document.anchors[pn].offsetLeft;
            var ypos = document.anchors[pn].offsetTop;
        }
        if ( window.scrollTo == null ) { // cover for anyone
            window.scroll(xpos,ypos);    //   lacking js1.2
        } else {
            window.scrollTo(xpos,ypos);
        }
    }
    return false; // prevent link from being followed
}

// timer for gateway 
var theTime = -1;      // -1 before we've initialized
var alerted = -1;      // -1 = no alert set; 1 = 1st alert set
                       // this shouldn't really be needed

function runtimer() {
// aesthetically this is displeasing: we're assuming that the 
// ContentGenerator will put the appropriate form elements in that
// page for us to manipulate.  even with error checking, it seems sort
// of odd.
    if ( document.gwtimer == null ) {  // no timer
        return;
    } else {
        var tm = document.gwtimer.gwtime;
        var st = document.gwtimer.gwpagetimeleft.value;

        if ( st == 0 ) {                  // no time limit
            return;
        } else {
            if ( theTime == -1 ) {
                theTime = st;
                tm.value = toMinSec(theTime);
                setTimeout("runtimer()", 1000);  // 1000 ms = 1 sec
            } else if ( theTime == 0 && alerted != 3 ) {
	        alert("* You are out of time! *");
		alerted = 3;
	    } else if ( alerted != 3 ) {
	        theTime--;
                tm.value = toMinSec(theTime);
                setTimeout("runtimer()", 1000);  // 1000 ms = 1 sec
		if ( theTime == 35 && alerted != 2 ) { // time is in seconds
		    alert("* You have only about 30 seconds to complete " +
		          "this assignment.  Press Grade very soon! *\n" +
			  "* The timer stops while this alert box is open. *");
		    alerted = 2;
		    theTime -= 5;
                } else if ( theTime == 75 && alerted != 1) {
		    alert("* You have only about a minute left " +
		          "to complete this assignment! *\n" +
			  "* The timer stops while this alert box is open. *");
                    alerted = 1;
		    theTime -= 5;
                }
            }
        }
    }
}
function toMinSec(t) {
// convert to min:sec
    mn = Math.floor(t/60);
    sc = t - 60*mn;
    if ( mn < 10 && mn > -1 ) {
        mn = "0" + mn;
    }
    if ( sc < 10 ) {
        sc = "0" + sc;
    }
    return mn + ":" + sc;
}
</script>
</head>
<body onload="runtimer();">
<table width="100%" cellpadding="10" cellspacing="0" border="0">
	<tr valign="top">
<!-- removed left sidebar -->
		<!--#if can="info"-->
		<td class="TopPanel" colspan="2">
		<!--#else-->
		<td class="TopPanel" >
		<!--#endif-->
		    <div style="position:relative; width:100%;">
				<!--#if can="path"-->
				<span class="Path">
					<!--#path style="text" image="/webwork2_files/images/right_arrow.png" text=" > "-->
				</span>
				<!--#endif-->
				
				<!--#if loggedin="1"-->
					<!--#if can="loginstatus"-->
					
					<span class="LoginStatus">			
						
						<!--#loginstatus-->
					</span>
					<!--#endif-->
				<!--#endif-->
			</div>
		</td>
	</tr>
	<tr valign="top">
		<!--#if warnings="1"-->
		<td class="ContentPanelError" bgcolor="#ffcccc">
		<!--#else-->
		<td class="ContentPanel" bgcolor="#ffffff">
		<!--#endif-->	
<!-- removed nav button to go up -->
			<!--#if can="title"-->
			<div class="Title">
				<!--#title-->
			</div>
			<!--#endif-->
			<!--#if can="message"-->
				<div class="Message">
					<!--#message-->
				</div>
			<!--#endif-->

			<!--#if can="submiterror"-->
				<div class="SubmitError">
					<!--#submiterror-->
				</div>
			<!--#endif-->
			<!--#if can="body"-->
			<div class="Body">
				<!--#body-->
			</div>
			<!--#endif-->
			<!--#if warnings="1"-->
			<hr>
			<div class="Warnings">
				<!--#warnings-->
			</div>
			<!--#endif-->
			<!--#if can="message"-->
				<div class="Message">
					<!--#message-->
				</div>
			<!--#endif-->
		</td>
		<!--#if can="info"-->
		<td class="InfoPanel">
			<div class="Info">
				<!--#info-->
			</div>
		</td>
		<!--#endif-->
 	</tr>
 	<tr>
 	    <td class = "Timestamp", colspan=3>
 	        Updated: <!--#timestamp-->
 	    </td>
 	</tr>
</table>
</body>
</html>
