// Include bootstrap scss functions (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// Theme colors
$primary: #324f36;
$info: #618265;

// Link colors
$link-color: #283f2b;
$link-hover-color: #618265;

// Webwork logo background color in the banner
$ww-logo-background-color: darken($info, 8%);

// Achievment level bar
$ww-achievement-level-color: #708e74;
