<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
################################################################################
# WeBWorK Online Homework Delivery System
# Copyright © 2000-2007 The WeBWorK Project, http://openwebwork.sf.net/
# $CVSHeader: webwork2/conf/templates/math2/system.template,v 1.2 2008/06/26 19:46:02 gage Exp $
# 
# This program is free software; you can redistribute it and/or modify it under
# the terms of either: (a) the GNU General Public License as published by the
# Free Software Foundation; either version 2, or (at your option) any later
# version, or (b) the "Artistic License" which comes with this package.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
# Artistic License for more details.
################################################################################
-->


<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<!--#url type="webwork" name="htdocs"-->/css/math2.css"/>
<title><!--#path style="text" text=" : " textonly="1"--></title>
<!--#head-->
</head>
<body bgcolor="white" onload="if (typeof(initializeWWquestion) == 'function') {initializeWWquestion()}">

<div id="masthead">
	<div id="loginstatus">
		<!--#loginstatus-->
		<!--#if can="nav"-->
			<div id="Nav">
				<!--#nav style="images" imageprefix="/webwork2_files/images/nav" imagesuffix=".gif" separator="  "-->
			</div>
		<!--#endif-->

	</div>
	<div id="logo">
		<img src="<!--#url type="webwork" name="htdocs"-->/images/webwork_rectangle.png" alt="WeBWorK" height="51" width="267" />
	</div>
</div>
<hr class="for-broken-browsers"/>
<div id="big-wrapper">
	<div id="breadcrumbs">
		<!--#path style="text" text=" &#x2192; "-->
	</div>
	<div id="content" >

			<!--#if can="title"-->
				<span style="font-size:larger; color:#00F; float:left;  width:60%;   "><!--#title--></span>
			<!--#endif-->
			<!--#if can="message"-->
				<span class="Message" style=" float:right; width:40%; right:0;">
					<!--#message-->
				</span>
			<!--#endif-->

		    <hr style="clear:both"/>
       		<!--#if can="info"-->
			  <!--  styles could be different for different pages so they are not set here -->
				<!--#info-->
		    <!--#endif-->
			
			<!--#if can="body"-->
				<!--#if warnings="1"-->
				  <div class="Body" style="background-color:#ffcccc">
				  <p style="font-size:larger">
				  Warning -- there may be something wrong with this question. Please inform your instructor
				  including the warning messages below.
				  </p>
				<!--#else-->
				  <div class="Body" style="background-color:#ffffff">
				<!--#endif-->
				
				<!--#body-->
				</div>
			<!--#endif-->
		
		<!--#if warnings="1"-->
		
		<hr/>
		<div class="Warnings">
			<!--#warnings-->
		</div>
		<!--#endif-->
		
		<!--#if can="message"-->
			<div class="Message">
				<!--#message-->
			</div>
		<!--#endif-->
		
	
	<hr class="for-broken-browsers"/>
	<div id="footer">
		<p id="last-modified">Page generated at <!--#timestamp--></p>
		<div id="copyright">
			WeBWorK &#169; 2000-2007 <a href="http://openwebwork.sf.net/">The WeBWorK Project</a>
		</div>
	</div>
	<div id="site-navigation">
		<!--#if can="links"-->
		<div class="info-box" id="fisheye">
			<h2>Main Menu</h2>
			<!--#links-->
		</div>
		<!--#endif-->
		<!--#if can="siblings"-->
			<!--#siblings-->
		<!--#endif-->
		<!--#if can="options"-->
		<div class="info-box" id="fisheye">
			<h2>Display Options</h2>
			<!--#options-->
		</div>
		<!--#endif-->
	</div>

</div><!--content-->
</div> <!-- big-wrapper -->

</body>
</html>
