@import "webwork.css";

#hw-set-list-container {margin: 20px 15px;  padding:10px;}

a#view-header i {margin-left:1ex;}

.sidebar-menu h3 {margin-top: 0px; text-align: center;}


/* Help with the spacing in the top row */

#page-header h2 {font-size: 24px; line-height: 28px; margin: 0px; display: inline-block;}



.help-hidden {display: none;}

.empty {background-color: none;}


.dropdown-submenu a {width: 180px; overflow: hidden;}

/* Classlist manager */

.show-rows i {margin-right: 5px;}

/* make the login status column narrower */

th.logged-in-status {width: 40px;}

/* the num-users in the left-column */

.num-users { margin-left: 2ex; padding: 7px;}

.set-not-visible {font-style: italic;}
.set-visible {font-weight: bold;}
.set-reduced-scoring {color: rgb(217,115,52);}

.assign-set-name {cursor: pointer;}

.assign-filled {height: 30px; background-color: rgb(250,100,100)}


.problem-paginator {text-align: center;}
.problem-paginator .pagination {margin-top: 5px;}


/*.lib-problem-viewer { overflow: scroll;}*/


/* Styles for the Problem Set Manager */

.problem-set-manager-table td.set-id {
	max-width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
}




.scrollable {height: 100%; overflow-y: scroll;}

.num-problems {margin-left: 10px;}

.view-pane {display: none;}
.option-pane {display: none;}

.active {display: block;}

h3.setname {margin-top:5px;}

label.checklist {display: inline; margin-left: 8px;}

.hw-assigned {color: blue;}

/* #probSetList {margin:0;padding:0px; height:100%; overflow-y: auto;} */
/*.prob-set-container {overflow-y: scroll; width: 100%;}*/
.prob-value {width: 20px;}

.loading {background-color: orange;}

#problem-set-name h2 {font-size: 18pt; line-height: 20pt;}

.problem-set-header-row .btn-toolbar {margin-top: 0px;}

/* Styles for problem viewing */

.problem {border: 1px black solid;
padding: 5px;
border-radius: 5px;}

.filename {font-style: italic; font-weight:  bold;}
.problem-seed {margin-right: 2ex;}

.num-problems {padding: 8px;}

/* class for reordering problem sets */

.sortable-placeholder {
	border: 1px dashed black; background: lightgray;
}

/* Classlist Manager styles */

#man_student_table {border: 1px solid black; border-collapse: collapse; width: 95%; }
#man_student_table th{ border: 1px solid black; background: lightgray; }
            
#man_student_table td { border: 1px solid black; height: 2.5ex;}
#man_student_table input {width: 10ex;}

.users-table-container table {table-layout: fixed}

.users-table-container table th.select-user {width: 25px;}
.users-table-container table th.section {width: 75px;}
.users-table-container table th.recitation {width: 75px;}
.users-table-container table th.assigned-sets {width: 75px;}
.users-table-container table th.email {width: 75px;}
.users-table-container table td.first-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;}

textarea#emailText {width: 95%;}

table#sTable {border: 1px solid black; border-collapse: collapse; margin:0 auto;}
table#sTable thead td:nth-child(1) {border: 1px solid black; width:17px;}
table#sTable thead td {border: 1px solid black; 125px;}
div#studentTable {width: 100%; overflow-x: auto;}
	    
table#inner-table {border: none; padding: 0px; margin: 0px; border-collapse: collapse;}
table#inner-table td:nth-child(1) {width: 20px; border: 1px solid black;}
table#inner-table td {border: 1px solid black; word-break:break-all;}
	   
div.inner {overflow-y: auto;  height: 400px;}

table#sTable select {width: 125px;}

.error {background-color: pink;}

#users_table td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
#users_table th { background: #E5E5E5; text-align: left; font-size: 90%; padding: 5px;}
#users_table td {font-size: 90%;}

label {font-weight: bold; display: inline; margin-right: 20px;}
#mainActionMenu {width: 200px;}
#testButton {margin-left: 25px; margin-right: 25px;}
#selectalldiv {display: inline; margin-left: 25px; margin-right: 25px;}
#filterdiv {display: inline;}

.logged-in {font-weight: bold; font-style: italic; color: darkgreen;}

/* All Messages Sidepane */

/*.messages-list {overflow: auto; height: 100%;}*/
.messages-list li { border: 1px solid; border-radius: 5px; padding: 5px; margin-bottom: 5px;}

/* Problem Set List sidepane */

.prob-set-list-container .set-name {
	width: 120px;   
	display: block;
	white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
 	float: left;
}

