body {  /* needed for the navigation bars top and bottom*/
    padding-top: 70px;
    padding-bottom: 35px;
}

#navigation-menu { width: 250px;}

.main-view-name {font-size: 125%; color: #000000 !important; font-weight: 300;}


.breadcrumb {padding: 2px 15px ;} 

/* Turn off the borders on a bootstrap table */

.borderless td, .borderless th {border: none !important}

/* Navigation Menu */

.manager-menu > li > a {font-size: 120%}

.manager-menu span, .manager-menu i {margin-right: 10px;}

.manager-menu span.wwlogo {font-size: 110%;
	border: 2px solid black;
	border-radius: 5px;
	padding: 1px;
}


.sortable-placeholder {border: 1px solid black; background-color: lightyellow;}

.ui-datepicker {z-index: 1200 !important;} /* To ensure that it floats above the nav bar */

/* a wwdate is generally an input and we want to make it look like a span */

.wwdate { width: auto; border: none;}

.header {font-weight: bold;}

.collection-table th {font-color: darkblue; cursor: pointer;}

.paginator-row td {text-align: "center";}

.current-page {font-weight: bold;}

.hidden, .form-horizontal .hidden {display: none;}	
.not-visible {visibility: hidden}

.no-borders {border: none;}

/* the following is needed to get pop-up boxes to display correctly.*/

/*.view-pane, .view-pane .tab-content {height: 100%;}*/

/* styling for the message box */

#short-message {margin-top: 5px; padding:5px; display: none; border-radius:5px; width: 300px; height: 40px;
}

/* Styling for the sidepane */

.sidepane-menu h3 {margin-top: 0px;}

#footer {min-height: 20px;}
#footer .navbar-text {margin: 0; line-height: 20px}
#footer .container {min-height: 20px;}


.navbar-other {background-color: #f8f8f8;
border-top: solid 1px rgb(220, 220, 220);}


#main {padding-left: 10px;}

.no-bullets {list-style-type: none; padding-left: 0}

/* For Collection tables */

.sortable-table th {cursor: pointer;}


/* Calendar related styles: */

.calendar-view {height: 100%; overflow: auto;}

#calendar-table {background: lightgray; min-width: 90%;}

#calendar-table td {border: 1px solid black; width: 13%;  vertical-align: top;}

.calendar-day {z-index: 5; height: 100px;}

.month-name {font-size: 140%; font-weight: bold}
.month-view {min-height: 100px;}
.week-view {min-height: 200px;}

.this-month {background-color: lightyellow}
.that-month {background-color: aliceblue;}
.today {background-color: pink}
.highlight-day { border: 2px solid black; background-color: lightblue;}

.assign-answer {background-color: lightblue;}
.assign-open {background-color: lightgreen;}
.assign-due {background-color: red;}

.assign-reduced-scoring {background-color: rgb(255,128,0);}

.assign-not-visible {background-color: darkgray;}

.assign-calendar-name {font-size: 90%; 
	width: 80px;   
	display: block;
	white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
 	float: left;
  }

.assign-info {cursor: pointer;}

.assign {text-align: center;
	border-radius: 5px;
	cursor: move;
	border: 1px gray solid;
	margin: 1px;}

#calendar-table th {border: 1px solid black;}

.calendar-button-row {margin: 5px; text-align: center;}

.show-set-popup-info {
	font-size:80%;
	color: white; 
	background-color: black; 
	border-radius: 4px; 
	margin: 2px;
	padding: 0px 2px;
	float: right;
}


